In [1]:
import pandas as pd

In [2]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [3]:
COVID = pd.read_csv(RUTA, sep = ",")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
COVID

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97

In [7]:
COVID.loc[1000:10000][["FECHA_ACTUALIZACION","ID_REGISTRO","ORIGEN","SECTOR","ENTIDAD_UM","SEXO",
                      "ENTIDAD_NAC","ENTIDAD_RES","MUNICIPIO_RES","TIPO_PACIENTE","OTRO_CASO",
                      "TOMA_MUESTRA_LAB","RESULTADO_LAB","TOMA_MUESTRA_ANTIGENO","RESULTADO_ANTIGENO",
                      "CLASIFICACION_FINAL","MIGRANTE","PAIS_NACIONALIDAD","PAIS_ORIGEN","UCI"]]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
1000,2022-08-09,gz5b652,2,12,9,1,15,15,58,1,2,2,97,1,2,7,99,México,97,97
1001,2022-08-09,gzz5c5e,2,12,9,1,15,15,120,1,2,2,97,1,2,7,99,México,97,97
1002,2022-08-09,gzz5d5f,2,12,9,2,9,9,7,1,1,2,97,1,2,7,99,México,97,97
1003,2022-08-09,gz2caff,2,4,26,2,26,26,55,1,2,2,97,1,2,7,99,México,97,97
1004,2022-08-09,gz56366,2,12,9,1,9,9,5,1,1,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,2022-08-09,g024125,2,12,9,1,9,9,5,1,2,2,97,1,2,7,99,México,97,97
9997,2022-08-09,g002baa,1,12,9,2,12,9,5,1,2,2,97,1,2,7,99,México,97,97
9998,2022-08-09,g008bd3,1,12,9,1,9,9,5,1,2,2,97,1,2,7,99,México,97,97
9999,2022-08-09,g1b19ab,1,12,9,1,9,9,5,1,2,2,97,1,2,7,99,México,97,97
10000,2022-08-09,g0e499a,1,12,9,2,9,9,5,1,2,2,97,1,2,7,99,México,97,97

In [8]:
DATOS_CORRECTOS = COVID.loc[1000:10000][["FECHA_ACTUALIZACION","ID_REGISTRO","ORIGEN","SECTOR","ENTIDAD_UM","SEXO",
                      "ENTIDAD_NAC","ENTIDAD_RES","MUNICIPIO_RES","TIPO_PACIENTE","OTRO_CASO",
                      "TOMA_MUESTRA_LAB","RESULTADO_LAB","TOMA_MUESTRA_ANTIGENO","RESULTADO_ANTIGENO",
                      "CLASIFICACION_FINAL","MIGRANTE","PAIS_NACIONALIDAD","PAIS_ORIGEN","UCI"]]

In [9]:
DATOS_CORRECTOS

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
1000,2022-08-09,gz5b652,2,12,9,1,15,15,58,1,2,2,97,1,2,7,99,México,97,97
1001,2022-08-09,gzz5c5e,2,12,9,1,15,15,120,1,2,2,97,1,2,7,99,México,97,97
1002,2022-08-09,gzz5d5f,2,12,9,2,9,9,7,1,1,2,97,1,2,7,99,México,97,97
1003,2022-08-09,gz2caff,2,4,26,2,26,26,55,1,2,2,97,1,2,7,99,México,97,97
1004,2022-08-09,gz56366,2,12,9,1,9,9,5,1,1,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,2022-08-09,g024125,2,12,9,1,9,9,5,1,2,2,97,1,2,7,99,México,97,97
9997,2022-08-09,g002baa,1,12,9,2,12,9,5,1,2,2,97,1,2,7,99,México,97,97
9998,2022-08-09,g008bd3,1,12,9,1,9,9,5,1,2,2,97,1,2,7,99,México,97,97
9999,2022-08-09,g1b19ab,1,12,9,1,9,9,5,1,2,2,97,1,2,7,99,México,97,97
10000,2022-08-09,g0e499a,1,12,9,2,9,9,5,1,2,2,97,1,2,7,99,México,97,97

In [10]:
COVID.shape

(8830345, 40)

In [12]:
COVID.iloc[20000:25000,5:15]

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,1,9,9,8,1,2021-11-09,2021-11-09,9999-99-99,97,2
20001,1,9,9,2,1,2021-02-04,2021-02-04,9999-99-99,97,2
20002,2,9,9,10,1,2021-05-07,2021-05-05,9999-99-99,97,2
20003,1,9,9,2,1,2021-03-04,2021-03-04,9999-99-99,97,2
20004,2,9,9,10,1,2021-08-26,2021-08-23,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...
24995,1,9,9,17,1,2021-01-25,2021-01-25,9999-99-99,97,2
24996,2,9,9,5,1,2021-12-01,2021-11-29,9999-99-99,97,2
24997,2,9,9,5,1,2021-01-19,2021-01-19,9999-99-99,97,2
24998,2,9,9,5,1,2021-02-13,2021-02-13,9999-99-99,97,2
24999,1,9,9,5,1,2021-01-25,2021-01-25,9999-99-99,97,2

In [13]:
COVID_SECUN = COVID.iloc[20000:25000,5:15]

In [14]:
COVID_SECUN

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,1,9,9,8,1,2021-11-09,2021-11-09,9999-99-99,97,2
20001,1,9,9,2,1,2021-02-04,2021-02-04,9999-99-99,97,2
20002,2,9,9,10,1,2021-05-07,2021-05-05,9999-99-99,97,2
20003,1,9,9,2,1,2021-03-04,2021-03-04,9999-99-99,97,2
20004,2,9,9,10,1,2021-08-26,2021-08-23,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...
24995,1,9,9,17,1,2021-01-25,2021-01-25,9999-99-99,97,2
24996,2,9,9,5,1,2021-12-01,2021-11-29,9999-99-99,97,2
24997,2,9,9,5,1,2021-01-19,2021-01-19,9999-99-99,97,2
24998,2,9,9,5,1,2021-02-13,2021-02-13,9999-99-99,97,2
24999,1,9,9,5,1,2021-01-25,2021-01-25,9999-99-99,97,2

In [15]:
COVID_COPY_1 = COVID_SECUN.copy()

In [16]:
COVID_COPY_2 = DATOS_CORRECTOS.copy()

In [22]:
COVID_COPY_1 = COVID_SECUN.copy()
pd.isnull(COVID_COPY_1)

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,False,False,False,False,False,False,False,False,False,False
20001,False,False,False,False,False,False,False,False,False,False
20002,False,False,False,False,False,False,False,False,False,False
20003,False,False,False,False,False,False,False,False,False,False
20004,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
24995,False,False,False,False,False,False,False,False,False,False
24996,False,False,False,False,False,False,False,False,False,False
24997,False,False,False,False,False,False,False,False,False,False
24998,False,False,False,False,False,False,False,False,False,False
24999,False,False,False,False,False,False,False,False,False,False

In [23]:
COVID_COPY_1 = COVID_SECUN.copy()
pd.isnull(COVID_COPY_1[["SEXO"]])

        SEXO
20000  False
20001  False
20002  False
20003  False
20004  False
...      ...
24995  False
24996  False
24997  False
24998  False
24999  False

[5000 rows x 1 columns]

In [24]:
COVID_COPY_1 = COVID_SECUN.copy()
pd.notnull(COVID_COPY_1)

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,True,True,True,True,True,True,True,True,True,True
20001,True,True,True,True,True,True,True,True,True,True
20002,True,True,True,True,True,True,True,True,True,True
20003,True,True,True,True,True,True,True,True,True,True
20004,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
24995,True,True,True,True,True,True,True,True,True,True
24996,True,True,True,True,True,True,True,True,True,True
24997,True,True,True,True,True,True,True,True,True,True
24998,True,True,True,True,True,True,True,True,True,True
24999,True,True,True,True,True,True,True,True,True,True

In [25]:
COVID_COPY_1 = COVID_SECUN.copy()
pd.isnull(COVID_COPY_1).values.sum()

0

In [26]:
COVID_COPY_1 = COVID_SECUN.copy()
pd.notnull(COVID_COPY_1).values.sum()

50000

In [33]:
COVID_COPY_1 = COVID_SECUN.copy()
COVID_COPY_1["ENTIDAD_NAC"] = COVID_COPY_1["ENTIDAD_NAC"].fillna("-")
COVID_COPY_1

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,1,9,9,8,1,2021-11-09,2021-11-09,9999-99-99,97,2
20001,1,9,9,2,1,2021-02-04,2021-02-04,9999-99-99,97,2
20002,2,9,9,10,1,2021-05-07,2021-05-05,9999-99-99,97,2
20003,1,9,9,2,1,2021-03-04,2021-03-04,9999-99-99,97,2
20004,2,9,9,10,1,2021-08-26,2021-08-23,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...
24995,1,9,9,17,1,2021-01-25,2021-01-25,9999-99-99,97,2
24996,2,9,9,5,1,2021-12-01,2021-11-29,9999-99-99,97,2
24997,2,9,9,5,1,2021-01-19,2021-01-19,9999-99-99,97,2
24998,2,9,9,5,1,2021-02-13,2021-02-13,9999-99-99,97,2
24999,1,9,9,5,1,2021-01-25,2021-01-25,9999-99-99,97,2

In [34]:
COVID_COPY_1 = COVID_SECUN.copy()
COVID_COPY_1 = COVID_COPY_1.fillna("90")
COVID_COPY_1

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,1,9,9,8,1,2021-11-09,2021-11-09,9999-99-99,97,2
20001,1,9,9,2,1,2021-02-04,2021-02-04,9999-99-99,97,2
20002,2,9,9,10,1,2021-05-07,2021-05-05,9999-99-99,97,2
20003,1,9,9,2,1,2021-03-04,2021-03-04,9999-99-99,97,2
20004,2,9,9,10,1,2021-08-26,2021-08-23,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...
24995,1,9,9,17,1,2021-01-25,2021-01-25,9999-99-99,97,2
24996,2,9,9,5,1,2021-12-01,2021-11-29,9999-99-99,97,2
24997,2,9,9,5,1,2021-01-19,2021-01-19,9999-99-99,97,2
24998,2,9,9,5,1,2021-02-13,2021-02-13,9999-99-99,97,2
24999,1,9,9,5,1,2021-01-25,2021-01-25,9999-99-99,97,2

In [28]:
COVID_COPY_1.columns

Index(['SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA'],
      dtype='object')

In [37]:
COVID_COPY_1 = COVID_SECUN.copy()
COVID_COPY_1["MUNICIPIO_RES"] = COVID_COPY_1["MUNICIPIO_RES"].fillna(COVID_COPY_1["MUNICIPIO_RES"].mean()) 
COVID_COPY_1

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,1,9,9,8,1,2021-11-09,2021-11-09,9999-99-99,97,2
20001,1,9,9,2,1,2021-02-04,2021-02-04,9999-99-99,97,2
20002,2,9,9,10,1,2021-05-07,2021-05-05,9999-99-99,97,2
20003,1,9,9,2,1,2021-03-04,2021-03-04,9999-99-99,97,2
20004,2,9,9,10,1,2021-08-26,2021-08-23,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...
24995,1,9,9,17,1,2021-01-25,2021-01-25,9999-99-99,97,2
24996,2,9,9,5,1,2021-12-01,2021-11-29,9999-99-99,97,2
24997,2,9,9,5,1,2021-01-19,2021-01-19,9999-99-99,97,2
24998,2,9,9,5,1,2021-02-13,2021-02-13,9999-99-99,97,2
24999,1,9,9,5,1,2021-01-25,2021-01-25,9999-99-99,97,2

In [38]:
COVID_COPY_1

,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
20000,1,9,9,8,1,2021-11-09,2021-11-09,9999-99-99,97,2
20001,1,9,9,2,1,2021-02-04,2021-02-04,9999-99-99,97,2
20002,2,9,9,10,1,2021-05-07,2021-05-05,9999-99-99,97,2
20003,1,9,9,2,1,2021-03-04,2021-03-04,9999-99-99,97,2
20004,2,9,9,10,1,2021-08-26,2021-08-23,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...
24995,1,9,9,17,1,2021-01-25,2021-01-25,9999-99-99,97,2
24996,2,9,9,5,1,2021-12-01,2021-11-29,9999-99-99,97,2
24997,2,9,9,5,1,2021-01-19,2021-01-19,9999-99-99,97,2
24998,2,9,9,5,1,2021-02-13,2021-02-13,9999-99-99,97,2
24999,1,9,9,5,1,2021-01-25,2021-01-25,9999-99-99,97,2

In [42]:
import pandas as pd

In [43]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [44]:
CVID_19 = pd.read_csv(RUTA, sep = ",")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
CVID_19

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97

In [47]:
CVID_19.iloc[:10000,:25]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,26,1,97,2,2,2,2,2,2,2
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,34,1,2,2,2,2,2,2,2,2
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,41,1,97,2,2,2,2,2,2,2
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,25,1,97,2,2,2,2,2,2,2
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,20,1,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-08-09,g15479f,1,12,9,2,9,9,5,1,...,24,1,97,2,2,2,2,2,2,2
9996,2022-08-09,g024125,2,12,9,1,9,9,5,1,...,54,1,2,99,99,2,2,2,2,1
9997,2022-08-09,g002baa,1,12,9,2,12,9,5,1,...,22,1,97,2,2,2,2,2,2,2
9998,2022-08-09,g008bd3,1,12,9,1,9,9,5,1,...,54,1,2,2,2,2,2,2,2,1
9999,2022-08-09,g1b19ab,1,12,9,1,9,9,5,1,...,51,1,2,2,2,1,2,2,2,1

In [48]:
 CVID_25 = CVID_19.iloc[:10000,:25]

In [49]:
CVID_25

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,26,1,97,2,2,2,2,2,2,2
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,34,1,2,2,2,2,2,2,2,2
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,41,1,97,2,2,2,2,2,2,2
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,25,1,97,2,2,2,2,2,2,2
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,20,1,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-08-09,g15479f,1,12,9,2,9,9,5,1,...,24,1,97,2,2,2,2,2,2,2
9996,2022-08-09,g024125,2,12,9,1,9,9,5,1,...,54,1,2,99,99,2,2,2,2,1
9997,2022-08-09,g002baa,1,12,9,2,12,9,5,1,...,22,1,97,2,2,2,2,2,2,2
9998,2022-08-09,g008bd3,1,12,9,1,9,9,5,1,...,54,1,2,2,2,2,2,2,2,1
9999,2022-08-09,g1b19ab,1,12,9,1,9,9,5,1,...,51,1,2,2,2,1,2,2,2,1

In [50]:
CVID_19.iloc[300000:400000,26:39]

,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN
300000,2,2,2,2,2,2,97,1,2,7,99,México,97
300001,2,2,2,2,2,2,97,1,2,7,99,México,97
300002,2,2,2,1,2,1,2,1,2,7,99,México,97
300003,2,1,2,2,1,1,1,2,97,3,99,México,97
300004,2,2,2,2,2,1,1,2,97,3,99,México,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2,2,2,2,1,2,97,1,2,7,99,México,97
399996,2,2,2,2,1,2,97,1,1,3,99,México,97
399997,2,2,2,1,1,2,97,1,1,3,99,México,97
399998,2,2,2,2,2,2,97,1,2,7,99,México,97
399999,2,2,2,2,1,2,97,1,2,7,99,México,97

In [51]:
CVID_26 = CVID_19.iloc[300000:400000,26:39]

In [56]:
CVID_25

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,26,1,97,2,2,2,2,2,2,2
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,34,1,2,2,2,2,2,2,2,2
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,41,1,97,2,2,2,2,2,2,2
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,25,1,97,2,2,2,2,2,2,2
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,20,1,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-08-09,g15479f,1,12,9,2,9,9,5,1,...,24,1,97,2,2,2,2,2,2,2
9996,2022-08-09,g024125,2,12,9,1,9,9,5,1,...,54,1,2,99,99,2,2,2,2,1
9997,2022-08-09,g002baa,1,12,9,2,12,9,5,1,...,22,1,97,2,2,2,2,2,2,2
9998,2022-08-09,g008bd3,1,12,9,1,9,9,5,1,...,54,1,2,2,2,2,2,2,2,1
9999,2022-08-09,g1b19ab,1,12,9,1,9,9,5,1,...,51,1,2,2,2,1,2,2,2,1

In [57]:
CVID_26

,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN
300000,2,2,2,2,2,2,97,1,2,7,99,México,97
300001,2,2,2,2,2,2,97,1,2,7,99,México,97
300002,2,2,2,1,2,1,2,1,2,7,99,México,97
300003,2,1,2,2,1,1,1,2,97,3,99,México,97
300004,2,2,2,2,2,1,1,2,97,3,99,México,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2,2,2,2,1,2,97,1,2,7,99,México,97
399996,2,2,2,2,1,2,97,1,1,3,99,México,97
399997,2,2,2,1,1,2,97,1,1,3,99,México,97
399998,2,2,2,2,2,2,97,1,2,7,99,México,97
399999,2,2,2,2,1,2,97,1,2,7,99,México,97

In [66]:
CVID_26[["PAIS_NACIONALIDAD","PAIS_ORIGEN"]]

       PAIS_NACIONALIDAD PAIS_ORIGEN
300000            México          97
300001            México          97
300002            México          97
300003            México          97
300004            México          97
...                  ...         ...
399995            México          97
399996            México          97
399997            México          97
399998            México          97
399999            México          97

[100000 rows x 2 columns]

In [67]:
NACIONALIDAD_ORIGEN= CVID_26[["PAIS_NACIONALIDAD","PAIS_ORIGEN"]]

In [68]:
NACIONALIDAD_ORIGEN

       PAIS_NACIONALIDAD PAIS_ORIGEN
300000            México          97
300001            México          97
300002            México          97
300003            México          97
300004            México          97
...                  ...         ...
399995            México          97
399996            México          97
399997            México          97
399998            México          97
399999            México          97

[100000 rows x 2 columns]

In [2]:
import pandas as pd

In [3]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [4]:
CD_19 = pd.read_csv(RUTA, sep = ",")
CD_19.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97

In [5]:
COVID_19 = CD_19.copy()
COVID_19

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97

In [ ]:
COVID_19 = CD_19.copy()
COVID_19.iloc[1000:5000,15:25]
COVID_19

In [ ]:
CD_19.ilo[1000:5000,[15:25]

In [1]:
import pandas as pd

In [3]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [4]:
COV = pd.read_csv(RUTA)
COV.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97
5,2022-08-09,z23d9d,1,12,22,2,24,22,9,1,...,2,2,97,2,97,6,99,México,97,97
6,2022-08-09,1009d6,1,12,30,1,30,30,85,1,...,2,1,1,2,97,3,99,México,97,97
7,2022-08-09,z5c8ce,1,12,14,1,14,14,120,1,...,1,1,2,2,97,7,99,México,97,97
8,2022-08-09,0c5c89,1,12,27,1,27,27,16,1,...,1,1,2,2,97,7,99,México,97,97
9,2022-08-09,17a7b4,2,12,9,1,9,9,2,1,...,1,1,2,2,97,7,99,México,97,97

In [36]:
import pandas as pd

In [37]:
COVID = COV.copy()

In [38]:
COVID = COV.copy()
COVID = COV.iloc[5000:100000,:15].copy()
COVID

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
5000,2022-08-09,g1537f3,2,12,9,2,9,9,8,1,2021-08-23,2021-08-23,9999-99-99,97,2
5001,2022-08-09,g133290,1,12,9,2,9,15,33,1,2021-03-02,2021-03-02,9999-99-99,97,2
5002,2022-08-09,g12bc04,2,12,9,1,9,9,15,1,2021-08-09,2021-08-09,9999-99-99,97,2
5003,2022-08-09,g1d02f3,2,12,9,2,9,9,14,1,2021-02-03,2021-02-03,9999-99-99,97,2
5004,2022-08-09,g09b813,2,12,9,1,9,9,13,1,2021-09-30,2021-09-26,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2022-08-09,34b2a9,2,12,9,1,9,9,9,1,2021-01-06,2021-01-05,9999-99-99,97,2
99996,2022-08-09,28e999,2,12,9,1,15,15,33,1,2021-01-06,2021-01-05,9999-99-99,97,2
99997,2022-08-09,260c73,2,12,9,1,15,9,2,1,2021-01-06,2021-01-01,9999-99-99,97,2
99998,2022-08-09,3287b4,2,7,14,2,14,14,97,2,2021-01-06,2021-01-05,9999-99-99,2,2
99999,2022-08-09,2f7b5d,2,6,9,1,9,9,16,2,2021-01-04,2021-01-04,2021-01-05,2,1

In [39]:
COVID.shape

(95000, 15)

In [40]:
COVID

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
5000,2022-08-09,g1537f3,2,12,9,2,9,9,8,1,2021-08-23,2021-08-23,9999-99-99,97,2
5001,2022-08-09,g133290,1,12,9,2,9,15,33,1,2021-03-02,2021-03-02,9999-99-99,97,2
5002,2022-08-09,g12bc04,2,12,9,1,9,9,15,1,2021-08-09,2021-08-09,9999-99-99,97,2
5003,2022-08-09,g1d02f3,2,12,9,2,9,9,14,1,2021-02-03,2021-02-03,9999-99-99,97,2
5004,2022-08-09,g09b813,2,12,9,1,9,9,13,1,2021-09-30,2021-09-26,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2022-08-09,34b2a9,2,12,9,1,9,9,9,1,2021-01-06,2021-01-05,9999-99-99,97,2
99996,2022-08-09,28e999,2,12,9,1,15,15,33,1,2021-01-06,2021-01-05,9999-99-99,97,2
99997,2022-08-09,260c73,2,12,9,1,15,9,2,1,2021-01-06,2021-01-01,9999-99-99,97,2
99998,2022-08-09,3287b4,2,7,14,2,14,14,97,2,2021-01-06,2021-01-05,9999-99-99,2,2
99999,2022-08-09,2f7b5d,2,6,9,1,9,9,16,2,2021-01-04,2021-01-04,2021-01-05,2,1

In [49]:
COVID_COL = COVID.append({
    "FECHA_ACTUALIZACION":"2023-08-09",
    "ID_REGISTRO":"H333290",
    "ORIGEN":10,
    "SECTOR":15,
    "ENTIDAD_UM":12,
    "SEXO":2,
    "ENTIDAD_NAC":15,
    "MUNICIPIO_RES":12,
    "TIPO_PACIENTE":1,
    "FECHA_INGRESO":"9999-99-19",
    "INTUBADO":2,
    "NEUMONIA":3
    
}, ignore_index=True)

In [50]:
COVID_COL

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA
0,2022-08-09,g1537f3,2,12,9,2,9,9.0,8,1,2021-08-23,2021-08-23,9999-99-99,97,2
1,2022-08-09,g133290,1,12,9,2,9,15.0,33,1,2021-03-02,2021-03-02,9999-99-99,97,2
2,2022-08-09,g12bc04,2,12,9,1,9,9.0,15,1,2021-08-09,2021-08-09,9999-99-99,97,2
3,2022-08-09,g1d02f3,2,12,9,2,9,9.0,14,1,2021-02-03,2021-02-03,9999-99-99,97,2
4,2022-08-09,g09b813,2,12,9,1,9,9.0,13,1,2021-09-30,2021-09-26,9999-99-99,97,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94996,2022-08-09,28e999,2,12,9,1,15,15.0,33,1,2021-01-06,2021-01-05,9999-99-99,97,2
94997,2022-08-09,260c73,2,12,9,1,15,9.0,2,1,2021-01-06,2021-01-01,9999-99-99,97,2
94998,2022-08-09,3287b4,2,7,14,2,14,14.0,97,2,2021-01-06,2021-01-05,9999-99-99,2,2
94999,2022-08-09,2f7b5d,2,6,9,1,9,9.0,16,2,2021-01-04,2021-01-04,2021-01-05,2,1
95000,2023-08-09,H333290,10,15,12,2,15,NaN,12,1,9999-99-19,NaN,NaN,2,3

In [55]:
COVID_COL = COVID_COL.append({
    "FECHA_ACTUALIZACION" : "2024-08-07",
    "ID_REGISTRO": "g1332110",
    "ORIGEN":3,
    "SECTOR":50,
    "ENTIDAD_UM":10,
    "SEXO":5,
    "ENTIDAD_NAC":54,
    "ENTIDAD_RES":14,
    "MUNICIPIO_RES":30,
    "TIPO_PACIENTE":5,
    "FECHA_INGRESO":"2021-01-04",
    "FECHA_SINTOMAS":"2021-08-23",
    "FECHA_DEF":"9999-99-99",
    "INTUBADO":100,
    "NEUMONIA":8
    
},ignore_index=True)

COVID_COL

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,COVID_COL
0,2022-08-09,g1537f3,2,12,9,2,9,9.0,8,1,2021-08-23,2021-08-23,9999-99-99,97,2,NaN
1,2022-08-09,g133290,1,12,9,2,9,15.0,33,1,2021-03-02,2021-03-02,9999-99-99,97,2,NaN
2,2022-08-09,g12bc04,2,12,9,1,9,9.0,15,1,2021-08-09,2021-08-09,9999-99-99,97,2,NaN
3,2022-08-09,g1d02f3,2,12,9,2,9,9.0,14,1,2021-02-03,2021-02-03,9999-99-99,97,2,NaN
4,2022-08-09,g09b813,2,12,9,1,9,9.0,13,1,2021-09-30,2021-09-26,9999-99-99,97,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95000,2023-08-09,H333290,10,15,12,2,15,NaN,12,1,9999-99-19,NaN,NaN,2,3,NaN
95001,NaN,g1332110,3,50,10,5,54,14.0,30,5,2021-01-04,2021-08-23,9999-99-99,100,8,2024-08-09
95002,NaN,g1332110,3,50,10,5,54,14.0,30,5,2021-01-04,2021-08-23,9999-99-99,100,8,2024-08-09
95003,2024-08-07,g1332110,3,50,10,5,54,14.0,30,5,2021-01-04,2021-08-23,9999-99-99,100,8,NaN
95004,2024-08-07,g1332110,3,50,10,5,54,14.0,30,5,2021-01-04,2021-08-23,9999-99-99,100,8,NaN

In [63]:
DATA1 = COVID_COL.iloc[:50,:5].copy()
DATA1

   FECHA_ACTUALIZACION ID_REGISTRO  ORIGEN  SECTOR  ENTIDAD_UM
0           2022-08-09     g1537f3       2      12           9
1           2022-08-09     g133290       1      12           9
2           2022-08-09     g12bc04       2      12           9
3           2022-08-09     g1d02f3       2      12           9
4           2022-08-09     g09b813       2      12           9
5           2022-08-09     g033403       2      12           9
6           2022-08-09     g0ca0a9       1      12           9
7           2022-08-09     g0a576c       1      12           9
8           2022-08-09     g1d06e2       2      12           9
9           2022-08-09     g0046fc       2      12           9
10          2022-08-09     g03434e       2       9           9
11          2022-08-09     g0423a8       2      12           9
12          2022-08-09     g0c4550       1      12           9
13          2022-08-09     g14f68e       2      12           9
14          2022-08-09     g0c3e12       1      12           9
15          2022-08-09     g069b3e       1      12           9
16          2022-08-09     g0377c0       2      12           9
17          2022-08-09     g089761       2      12           9
18          2022-08-09     g0338a7       2       9           9
19          2022-08-09     g07f60f       2      12           9
20          2022-08-09     g17ca59       2      12           9
21          2022-08-09     g1cfe23       2      12           9
22          2022-08-09     g13a65c       1      12           9
23          2022-08-09     g04bde4       2      12           9
24          2022-08-09     g18bfb7       2      12           9
25          2022-08-09     g1df1fe       2       9           9
26          2022-08-09     g16c534       2      12           9
27          2022-08-09     g0cd6b7       2       4           2
28          2022-08-09     g17f71e       1      12           9
29          2022-08-09     g0f4d65       2      12           9
30          2022-08-09     g01bc90       2      12           9
31          2022-08-09     g1810bd       2      12           9
32          2022-08-09     g0b3e59       2      12           9
33          2022-08-09     g123ef3       2      10          12
34          2022-08-09     g0bd565       2      12           9
35          2022-08-09     g116910       2      12           9
36          2022-08-09     g00fff1       2      12           9
37          2022-08-09     g183705       2      12           9
38          2022-08-09     g1abc67       2      12           9
39          2022-08-09     g03cf02       2      12           9
40          2022-08-09     g141041       2      12           9
41          2022-08-09     g0c30e3       2      12           9
42          2022-08-09     g0bdb8a       2      12           9
43          2022-08-09     g0978f6       2      12           9
44          2022-08-09     g13f09a       2      12           9
45          2022-08-09     g10294a       2      12           9
46          2022-08-09     g0ac957       2      12           9
47          2022-08-09     g1bef48       2      12           9
48          2022-08-09     g0cba9c       2      12           9
49          2022-08-09     g086007       2       4           2

In [64]:
DATA2 = COVID_COL.iloc[:50,6:13].copy()
DATA2

,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF
0,9,9.0,8,1,2021-08-23,2021-08-23,9999-99-99
1,9,15.0,33,1,2021-03-02,2021-03-02,9999-99-99
2,9,9.0,15,1,2021-08-09,2021-08-09,9999-99-99
3,9,9.0,14,1,2021-02-03,2021-02-03,9999-99-99
4,9,9.0,13,1,2021-09-30,2021-09-26,9999-99-99
5,9,9.0,15,1,2021-09-07,2021-09-07,9999-99-99
6,9,15.0,33,1,2021-03-02,2021-03-02,9999-99-99
7,31,31.0,50,1,2021-08-17,2021-08-17,9999-99-99
8,9,9.0,14,1,2021-03-03,2021-03-03,9999-99-99
9,9,9.0,12,1,2021-02-17,2021-02-17,9999-99-99
10,9,15.0,13,1,2021-12-22,2021-12-22,9999-99-99
11,9,9.0,8,1,2021-02-20,2021-02-20,9999-99-99
12,9,9.0,5,1,2021-03-02,2021-03-02,9999-99-99
13,9,9.0,8,1,2021-02-21,2021-02-21,9999-99-99
14,9,9.0,5,1,2021-03-04,2021-03-04,9999-99-99
15,9,9.0,4,1,2021-08-17,2021-08-17,9999-99-99
16,9,9.0,8,1,2021-03-20,2021-03-20,9999-99-99
17,9,9.0,8,1,2021-03-21,2021-03-21,9999-99-99
18,9,9.0,3,1,2021-12-22,2021-12-22,9999-99-99
19,9,9.0,8,1,2021-09-08,2021-09-08,9999-99-99
20,9,9.0,8,1,2021-10-06,2021-10-06,9999-99-99
21,9,9.0,8,1,2021-04-22,2021-04-22,9999-99-99
22,9,9.0,4,1,2021-08-17,2021-08-17,9999-99-99
23,15,15.0,33,1,2021-02-26,2021-02-26,9999-99-99
24,9,9.0,8,1,2021-05-20,2021-05-20,9999-99-99
25,9,15.0,37,1,2021-12-22,2021-12-22,9999-99-99
26,9,9.0,8,1,2021-08-04,2021-08-04,9999-99-99
27,2,2.0,2,1,2022-01-03,2021-12-29,9999-99-99
28,9,15.0,33,1,2021-03-04,2021-03-04,9999-99-99
29,9,9.0,8,1,2021-09-01,2021-09-01,9999-99-99
30,9,9.0,8,1,2021-07-02,2021-07-02,9999-99-99
31,9,9.0,8,1,2021-07-30,2021-07-30,9999-99-99
32,9,15.0,58,1,2021-02-10,2021-02-10,9999-99-99
33,12,12.0,29,1,2021-12-16,2021-12-14,9999-99-99
34,9,15.0,58,1,2021-02-05,2021-02-05,9999-99-99
35,15,15.0,33,1,2021-09-28,2021-09-28,9999-99-99
36,9,15.0,58,1,2021-03-10,2021-03-10,9999-99-99
37,9,9.0,8,1,2021-04-22,2021-04-22,9999-99-99
38,15,15.0,33,1,2021-05-05,2021-05-05,9999-99-99
39,9,9.0,8,1,2021-05-20,2021-05-20,9999-99-99
40,9,9.0,12,1,2021-02-04,2021-02-04,9999-99-99
41,9,9.0,17,1,2021-04-06,2021-04-06,9999-99-99
42,9,9.0,12,1,2021-03-04,2021-03-04,9999-99-99
43,9,9.0,8,1,2021-09-08,2021-09-08,9999-99-99
44,9,9.0,17,1,2021-08-23,2021-08-23,9999-99-99
45,9,9.0,8,1,2021-10-06,2021-10-06,9999-99-99
46,9,9.0,8,1,2021-09-13,2021-09-09,9999-99-99
47,9,9.0,8,1,2021-06-19,2021-06-19,9999-99-99
48,9,9.0,8,1,2021-07-17,2021-07-17,9999-99-99
49,2,2.0,2,1,2022-01-03,2021-12-29,9999-99-99

In [69]:
DATA1.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM'], dtype='object')

In [72]:
DATA_GENERADO = pd.DataFrame ({
    "COL1":DATA1["FECHA_ACTUALIZACION"],
    "COL2":DATA1["ORIGEN"],
    "COL3":DATA2["ENTIDAD_RES"],
    "COL4":DATA2["FECHA_INGRESO"],
    "COL5":DATA2["FECHA_DEF"],
    "COL6":DATA2["TIPO_PACIENTE"],
    "COL7":DATA1["ENTIDAD_UM"]
    
}).copy()

DATA_GENERADO

          COL1  COL2  COL3        COL4        COL5  COL6  COL7
0   2022-08-09     2   9.0  2021-08-23  9999-99-99     1     9
1   2022-08-09     1  15.0  2021-03-02  9999-99-99     1     9
2   2022-08-09     2   9.0  2021-08-09  9999-99-99     1     9
3   2022-08-09     2   9.0  2021-02-03  9999-99-99     1     9
4   2022-08-09     2   9.0  2021-09-30  9999-99-99     1     9
5   2022-08-09     2   9.0  2021-09-07  9999-99-99     1     9
6   2022-08-09     1  15.0  2021-03-02  9999-99-99     1     9
7   2022-08-09     1  31.0  2021-08-17  9999-99-99     1     9
8   2022-08-09     2   9.0  2021-03-03  9999-99-99     1     9
9   2022-08-09     2   9.0  2021-02-17  9999-99-99     1     9
10  2022-08-09     2  15.0  2021-12-22  9999-99-99     1     9
11  2022-08-09     2   9.0  2021-02-20  9999-99-99     1     9
12  2022-08-09     1   9.0  2021-03-02  9999-99-99     1     9
13  2022-08-09     2   9.0  2021-02-21  9999-99-99     1     9
14  2022-08-09     1   9.0  2021-03-04  9999-99-99     1     9
15  2022-08-09     1   9.0  2021-08-17  9999-99-99     1     9
16  2022-08-09     2   9.0  2021-03-20  9999-99-99     1     9
17  2022-08-09     2   9.0  2021-03-21  9999-99-99     1     9
18  2022-08-09     2   9.0  2021-12-22  9999-99-99     1     9
19  2022-08-09     2   9.0  2021-09-08  9999-99-99     1     9
20  2022-08-09     2   9.0  2021-10-06  9999-99-99     1     9
21  2022-08-09     2   9.0  2021-04-22  9999-99-99     1     9
22  2022-08-09     1   9.0  2021-08-17  9999-99-99     1     9
23  2022-08-09     2  15.0  2021-02-26  9999-99-99     1     9
24  2022-08-09     2   9.0  2021-05-20  9999-99-99     1     9
25  2022-08-09     2  15.0  2021-12-22  9999-99-99     1     9
26  2022-08-09     2   9.0  2021-08-04  9999-99-99     1     9
27  2022-08-09     2   2.0  2022-01-03  9999-99-99     1     2
28  2022-08-09     1  15.0  2021-03-04  9999-99-99     1     9
29  2022-08-09     2   9.0  2021-09-01  9999-99-99     1     9
30  2022-08-09     2   9.0  2021-07-02  9999-99-99     1     9
31  2022-08-09     2   9.0  2021-07-30  9999-99-99     1     9
32  2022-08-09     2  15.0  2021-02-10  9999-99-99     1     9
33  2022-08-09     2  12.0  2021-12-16  9999-99-99     1    12
34  2022-08-09     2  15.0  2021-02-05  9999-99-99     1     9
35  2022-08-09     2  15.0  2021-09-28  9999-99-99     1     9
36  2022-08-09     2  15.0  2021-03-10  9999-99-99     1     9
37  2022-08-09     2   9.0  2021-04-22  9999-99-99     1     9
38  2022-08-09     2  15.0  2021-05-05  9999-99-99     1     9
39  2022-08-09     2   9.0  2021-05-20  9999-99-99     1     9
40  2022-08-09     2   9.0  2021-02-04  9999-99-99     1     9
41  2022-08-09     2   9.0  2021-04-06  9999-99-99     1     9
42  2022-08-09     2   9.0  2021-03-04  9999-99-99     1     9
43  2022-08-09     2   9.0  2021-09-08  9999-99-99     1     9
44  2022-08-09     2   9.0  2021-08-23  9999-99-99     1     9
45  2022-08-09     2   9.0  2021-10-06  9999-99-99     1     9
46  2022-08-09     2   9.0  2021-09-13  9999-99-99     1     9
47  2022-08-09     2   9.0  2021-06-19  9999-99-99     1     9
48  2022-08-09     2   9.0  2021-07-17  9999-99-99     1     9
49  2022-08-09     2   2.0  2022-01-03  9999-99-99     1     2

In [77]:
DATA2.columns

Index(['ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF'],
      dtype='object')

In [79]:
DATA_GENERADO2 = pd.DataFrame({
    "SR":DATA1["SECTOR"],
    "RO":DATA1["ID_REGISTRO"],
    "FA":DATA1["FECHA_ACTUALIZACION"],
    "EN":DATA2["ENTIDAD_NAC"],
    "MR":DATA2["MUNICIPIO_RES"],
    "FI":DATA2["FECHA_INGRESO"],
    "FD":DATA2["FECHA_DEF"]
    
}).copy()

DATA_GENERADO2

    SR       RO          FA  EN  MR          FI          FD
0   12  g1537f3  2022-08-09   9   8  2021-08-23  9999-99-99
1   12  g133290  2022-08-09   9  33  2021-03-02  9999-99-99
2   12  g12bc04  2022-08-09   9  15  2021-08-09  9999-99-99
3   12  g1d02f3  2022-08-09   9  14  2021-02-03  9999-99-99
4   12  g09b813  2022-08-09   9  13  2021-09-30  9999-99-99
5   12  g033403  2022-08-09   9  15  2021-09-07  9999-99-99
6   12  g0ca0a9  2022-08-09   9  33  2021-03-02  9999-99-99
7   12  g0a576c  2022-08-09  31  50  2021-08-17  9999-99-99
8   12  g1d06e2  2022-08-09   9  14  2021-03-03  9999-99-99
9   12  g0046fc  2022-08-09   9  12  2021-02-17  9999-99-99
10   9  g03434e  2022-08-09   9  13  2021-12-22  9999-99-99
11  12  g0423a8  2022-08-09   9   8  2021-02-20  9999-99-99
12  12  g0c4550  2022-08-09   9   5  2021-03-02  9999-99-99
13  12  g14f68e  2022-08-09   9   8  2021-02-21  9999-99-99
14  12  g0c3e12  2022-08-09   9   5  2021-03-04  9999-99-99
15  12  g069b3e  2022-08-09   9   4  2021-08-17  9999-99-99
16  12  g0377c0  2022-08-09   9   8  2021-03-20  9999-99-99
17  12  g089761  2022-08-09   9   8  2021-03-21  9999-99-99
18   9  g0338a7  2022-08-09   9   3  2021-12-22  9999-99-99
19  12  g07f60f  2022-08-09   9   8  2021-09-08  9999-99-99
20  12  g17ca59  2022-08-09   9   8  2021-10-06  9999-99-99
21  12  g1cfe23  2022-08-09   9   8  2021-04-22  9999-99-99
22  12  g13a65c  2022-08-09   9   4  2021-08-17  9999-99-99
23  12  g04bde4  2022-08-09  15  33  2021-02-26  9999-99-99
24  12  g18bfb7  2022-08-09   9   8  2021-05-20  9999-99-99
25   9  g1df1fe  2022-08-09   9  37  2021-12-22  9999-99-99
26  12  g16c534  2022-08-09   9   8  2021-08-04  9999-99-99
27   4  g0cd6b7  2022-08-09   2   2  2022-01-03  9999-99-99
28  12  g17f71e  2022-08-09   9  33  2021-03-04  9999-99-99
29  12  g0f4d65  2022-08-09   9   8  2021-09-01  9999-99-99
30  12  g01bc90  2022-08-09   9   8  2021-07-02  9999-99-99
31  12  g1810bd  2022-08-09   9   8  2021-07-30  9999-99-99
32  12  g0b3e59  2022-08-09   9  58  2021-02-10  9999-99-99
33  10  g123ef3  2022-08-09  12  29  2021-12-16  9999-99-99
34  12  g0bd565  2022-08-09   9  58  2021-02-05  9999-99-99
35  12  g116910  2022-08-09  15  33  2021-09-28  9999-99-99
36  12  g00fff1  2022-08-09   9  58  2021-03-10  9999-99-99
37  12  g183705  2022-08-09   9   8  2021-04-22  9999-99-99
38  12  g1abc67  2022-08-09  15  33  2021-05-05  9999-99-99
39  12  g03cf02  2022-08-09   9   8  2021-05-20  9999-99-99
40  12  g141041  2022-08-09   9  12  2021-02-04  9999-99-99
41  12  g0c30e3  2022-08-09   9  17  2021-04-06  9999-99-99
42  12  g0bdb8a  2022-08-09   9  12  2021-03-04  9999-99-99
43  12  g0978f6  2022-08-09   9   8  2021-09-08  9999-99-99
44  12  g13f09a  2022-08-09   9  17  2021-08-23  9999-99-99
45  12  g10294a  2022-08-09   9   8  2021-10-06  9999-99-99
46  12  g0ac957  2022-08-09   9   8  2021-09-13  9999-99-99
47  12  g1bef48  2022-08-09   9   8  2021-06-19  9999-99-99
48  12  g0cba9c  2022-08-09   9   8  2021-07-17  9999-99-99
49   4  g086007  2022-08-09   2   2  2022-01-03  9999-99-99

In [73]:
DATA1.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM'], dtype='object')

In [80]:
COVID

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97

In [81]:
COL1 = COVID.iloc[100:500,25:40].copy()
COL1

,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
100,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
101,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
102,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
103,2,2,2,2,2,2,2,97,1,2,1,99,México,97,97
104,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
496,2,2,2,2,2,2,2,97,1,1,3,99,México,97,97
497,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
498,2,2,2,2,2,2,2,97,1,2,7,99,México,97,97
499,2,2,2,1,2,1,2,97,1,1,3,99,México,97,97

In [82]:
COL2 = COVID.iloc[100:500,:20].copy()
COL2

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2022-08-09,gz4bfe0,2,12,9,1,9,9,3,1,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2
101,2022-08-09,gz1279d,2,4,26,1,26,26,55,1,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2
102,2022-08-09,gz4c4e8,2,12,9,1,9,9,5,1,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2
103,2022-08-09,gz454b6,1,12,9,1,9,15,37,1,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2
104,2022-08-09,gz2af4d,2,4,15,2,15,15,60,1,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2022-08-09,gz1da12,2,9,9,1,9,9,8,1,2021-12-22,2021-12-22,9999-99-99,97,2,49,1,2,2,2
496,2022-08-09,gz35a3a,1,4,3,1,3,3,3,1,2021-12-29,2021-12-29,9999-99-99,97,2,18,1,2,2,2
497,2022-08-09,gzzc3bf,2,9,9,2,9,9,15,1,2021-12-24,2021-12-24,9999-99-99,97,2,52,1,97,2,2
498,2022-08-09,gz194a9,2,9,9,1,9,9,15,1,2021-12-22,2021-12-22,9999-99-99,97,2,64,1,2,2,2
499,2022-08-09,gzz7729,1,4,3,2,3,3,1,1,2021-12-29,2021-12-29,9999-99-99,97,2,29,1,97,2,2

In [85]:
COL2.head(2)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2022-08-09,gz4bfe0,2,12,9,1,9,9,3,1,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2
101,2022-08-09,gz1279d,2,4,26,1,26,26,55,1,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2

In [87]:
DATA_UNION = pd.DataFrame({
    "P_N":COL1["PAIS_NACIONALIDAD"],
    "R_A":COL1["RESULTADO_ANTIGENO"],
    "O_B":COL1["OBESIDAD"],
    
    "F_A":COL2["FECHA_ACTUALIZACION"],
    "I_R":COL2["ID_REGISTRO"],
    "F_I":COL2["FECHA_INGRESO"],
    "E_D":COL2["EDAD"]
    
    
})

DATA_UNION

        P_N  R_A  O_B         F_A      I_R         F_I  E_D
100  México    2    2  2022-08-09  gz4bfe0  2021-01-11    8
101  México    1    2  2022-08-09  gz1279d  2021-12-24   32
102  México    2    2  2022-08-09  gz4c4e8  2021-04-05   27
103  México    2    2  2022-08-09  gz454b6  2021-09-01   48
104  México    2    2  2022-08-09  gz2af4d  2022-01-03   41
..      ...  ...  ...         ...      ...         ...  ...
495  México    2    2  2022-08-09  gz1da12  2021-12-22   49
496  México    1    2  2022-08-09  gz35a3a  2021-12-29   18
497  México    2    2  2022-08-09  gzzc3bf  2021-12-24   52
498  México    2    2  2022-08-09  gz194a9  2021-12-22   64
499  México    1    2  2022-08-09  gzz7729  2021-12-29   29

[400 rows x 7 columns]

In [88]:
COVID

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,México,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,México,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,México,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,México,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,México,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,México,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,México,97,97

In [90]:
COVID.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [94]:
F1 = COVID.iloc[90000:91000,:5].copy()
F1.head(5)

      FECHA_ACTUALIZACION ID_REGISTRO  ORIGEN  SECTOR  ENTIDAD_UM
90000          2022-08-09      41d7e2       1      12          26
90001          2022-08-09      257c69       1       4          17
90002          2022-08-09      2a9769       2      12           9
90003          2022-08-09      23bc87       1       4           5
90004          2022-08-09      2a5785       2      12           9

In [96]:
F2 = COVID.iloc[90000:91000,25:30].copy()
F2.head(2)

       OTRA_COM  CARDIOVASCULAR  OBESIDAD  RENAL_CRONICA  TABAQUISMO
90000         2               2         2              2           2
90001         2               2         1              2           2

In [97]:
UNION_F = pd.DataFrame ({
    "FECHA":F1["FECHA_ACTUALIZACION"],
    "REGISTRO":F1["ID_REGISTRO"],
    "SOBREPESO":F2["OBESIDAD"],
    "RENAL":F2["RENAL_CRONICA"]

})

UNION_F

            FECHA REGISTRO  SOBREPESO  RENAL
90000  2022-08-09   41d7e2          2      2
90001  2022-08-09   257c69          1      2
90002  2022-08-09   2a9769          1      2
90003  2022-08-09   23bc87          2      2
90004  2022-08-09   2a5785          2      2
...           ...      ...        ...    ...
90995  2022-08-09   35dd0b          2      2
90996  2022-08-09   3a6e7e          2      2
90997  2022-08-09   364623          2      2
90998  2022-08-09   3f63c1          2      2
90999  2022-08-09   376fc8          2      2

[1000 rows x 4 columns]

In [101]:
DATA_ORDENADO = UNION_F.sort_values(["FECHA"], ascending = True).copy()
DATA_ORDENADO.head(3)

            FECHA REGISTRO  SOBREPESO  RENAL
90000  2022-08-09   41d7e2          2      2
90658  2022-08-09   2e2d29          2      2
90659  2022-08-09   3cc625          1      2

In [102]:
DATA_ORDENADO2 = UNION_F.sort_values(["SOBREPESO"], ascending = False).copy()
DATA_ORDENADO2

            FECHA REGISTRO  SOBREPESO  RENAL
90828  2022-08-09   26dec8         98     98
90000  2022-08-09   41d7e2          2      2
90677  2022-08-09   431f14          2      2
90648  2022-08-09   3a8cc1          2      2
90649  2022-08-09   443ee0          2      2
...           ...      ...        ...    ...
90200  2022-08-09   29633d          1      2
90563  2022-08-09   2d92bf          1      2
90904  2022-08-09   3e18b7          1      2
90659  2022-08-09   3cc625          1      2
90859  2022-08-09   45bb6b          1      2

[1000 rows x 4 columns]

In [103]:
DATA_ORDENADO3 = UNION_F.sort_values(["RENAL"], ascending = True).copy()
DATA_ORDENADO3

            FECHA REGISTRO  SOBREPESO  RENAL
90981  2022-08-09   2749a0          2      1
90985  2022-08-09   2cd729          2      1
90706  2022-08-09   3a0bbe          2      1
90018  2022-08-09   249708          2      1
90043  2022-08-09   461631          1      1
...           ...      ...        ...    ...
90340  2022-08-09   2951ea          2      2
90341  2022-08-09   23cb6d          2      2
90342  2022-08-09   2d3a3c          2      2
90999  2022-08-09   376fc8          2      2
90828  2022-08-09   26dec8         98     98

[1000 rows x 4 columns]

In [106]:
DATA_ORDENADO4 = UNION_F.sort_values(["REGISTRO","SOBREPESO"],ascending = True).copy()
DATA_ORDENADO4

            FECHA REGISTRO  SOBREPESO  RENAL
90032  2022-08-09   1e8652          1      2
90256  2022-08-09   1ec3aa          2      2
90948  2022-08-09   1ec97a          1      2
90979  2022-08-09   1ed47e          2      2
90688  2022-08-09   1edf97          2      2
...           ...      ...        ...    ...
90993  2022-08-09   46366c          2      2
90399  2022-08-09   46486a          2      2
90247  2022-08-09   464d1f          2      2
90747  2022-08-09   467c3d          2      2
90867  2022-08-09   467ead          2      2

[1000 rows x 4 columns]

In [107]:
AUMENTAR_1 = lambda X : X + 1
NEGAR = lambda X : not(X)

In [113]:
COVID["COl_1"] = COVID["OBESIDAD"].transform(AUMENTAR_1).copy()
COVID

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,COl_1
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,2,97,1,2,7,99,México,97,97,3
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,2,2,97,7,99,México,97,97,3
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,2,2,97,7,99,México,97,97,3
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,2,97,1,2,7,99,México,97,97,3
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,97,1,2,7,99,México,97,97,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,2,97,1,2,7,99,México,97,97,3
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,2,97,1,2,7,99,México,97,97,3
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,2,97,1,2,7,99,México,97,97,3
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,2,97,1,2,7,99,México,97,97,3
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,2,97,1,2,7,99,México,97,97,3

In [114]:
TRANSFORMAR = COVID.iloc[100:50000,10:25].copy()
TRANSFORMAR

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION
100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2
101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2
102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2
103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2

In [121]:
INCREMENTO_2 = lambda X : X + 2
NEGANDO_2 = lambda X : not(X)

In [122]:
TRANSFORMAR["COL_NUEVA"] = TRANSFORMAR["EMBARAZO"].transform(INCREMENTO_2).copy()
TRANSFORMAR

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA
100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4
101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4
102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4
103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99

In [123]:
RESTAR_2 = lambda X : X - 2

In [126]:
TRANSFORMAR["MENOS_2"] = TRANSFORMAR["INTUBADO"].transform(RESTAR_2)
TRANSFORMAR

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2
100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95
101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95
102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95
103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95

In [128]:
DIVIDIDO_3 = lambda X : X / 3

In [129]:
TRANSFORMAR["DIVIDIO_3"] = TRANSFORMAR["INTUBADO"].transform(DIVIDIDO_3).copy()
TRANSFORMAR

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3
100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333
101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333
102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333
103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333

In [131]:
MULTIPLICADO_4 = lambda X : X * 4

In [132]:
TRANSFORMAR["MULTIPLICANDO_3"] = TRANSFORMAR["DIABETES"].transform(MULTIPLICADO_4).copy()
TRANSFORMAR

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3
100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8

In [133]:
POTENCIA_2 = lambda X : X **2

In [134]:
TRANSFORMAR["AL_CUADRADO"] = TRANSFORMAR["INMUSUPR"].transform(POTENCIA_2).copy()
TRANSFORMAR

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [137]:
ELIMINAR_FILA = TRANSFORMAR.drop([100,101,102,103], axis = 0).copy()
ELIMINAR_FILA

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
105,2021-01-08,2021-01-08,9999-99-99,97,2,33,1,2,2,2,98,98,98,98,98,4,95,32.333333,392,9604
106,2021-01-26,2021-01-24,9999-99-99,97,2,57,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
107,2021-01-11,2021-01-04,9999-99-99,97,2,16,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
108,2021-10-18,2021-10-18,9999-99-99,97,2,23,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [144]:
ELIMINAR_FILA = TRANSFORMAR.drop([110,120,130,140], axis = 0).copy().reset_index()
ELIMINAR_FILA.head(30)

,index,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,...,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
1,101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
2,102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
3,103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
4,104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4
5,105,2021-01-08,2021-01-08,9999-99-99,97,2,33,1,2,2,...,98,98,98,98,98,4,95,32.333333,392,9604
6,106,2021-01-26,2021-01-24,9999-99-99,97,2,57,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
7,107,2021-01-11,2021-01-04,9999-99-99,97,2,16,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
8,108,2021-10-18,2021-10-18,9999-99-99,97,2,23,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
9,109,2021-02-05,2021-02-05,9999-99-99,97,2,33,1,2,2,...,98,98,98,98,98,4,95,32.333333,392,9604
10,111,2021-01-26,2021-01-24,9999-99-99,97,2,15,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4
11,112,2022-01-03,2021-12-31,9999-99-99,97,2,36,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
12,113,2021-12-24,2021-12-21,9999-99-99,97,2,33,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
13,114,2021-04-05,2021-04-05,9999-99-99,97,2,56,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
14,115,2021-01-11,2021-01-11,9999-99-99,97,2,39,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
15,116,2021-01-09,2021-01-09,9999-99-99,97,2,38,1,2,2,...,98,98,98,98,98,4,95,32.333333,392,9604
16,117,2021-12-02,2021-12-02,9999-99-99,97,2,43,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
17,118,2021-04-05,2021-04-05,9999-99-99,97,2,49,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4
18,119,2021-10-18,2021-10-18,9999-99-99,97,2,24,1,97,99,...,2,2,2,2,2,99,95,32.333333,8,4
19,121,2021-02-06,2021-02-06,9999-99-99,97,2,38,1,2,2,...,98,98,98,98,98,4,95,32.333333,392,9604
20,122,2022-01-04,2021-12-31,9999-99-99,97,2,23,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4
21,123,2021-12-24,2021-12-19,9999-99-99,97,2,29,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
22,124,2021-02-22,2021-02-19,2021-02-28,2,1,79,1,97,2,...,2,2,2,2,1,99,0,0.666667,8,4
23,125,2021-01-09,2021-01-09,9999-99-99,97,2,43,1,2,2,...,98,98,98,98,98,4,95,32.333333,392,9604
24,126,2021-04-05,2021-04-05,9999-99-99,97,2,33,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
25,127,2021-10-18,2021-10-18,9999-99-99,97,2,12,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
26,128,2021-02-06,2021-02-06,9999-99-99,97,2,43,1,2,2,...,98,98,98,98,98,4,95,32.333333,392,9604
27,129,2022-01-04,2021-12-31,9999-99-99,97,2,33,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
28,131,2021-04-05,2021-04-05,9999-99-99,97,2,60,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4
29,132,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4

In [143]:
ELIMINAR_FILA = TRANSFORMAR.drop(range(100,150), axis = 0).copy()
ELIMINAR_FILA

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
150,2021-01-27,2021-01-25,9999-99-99,97,2,17,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
151,2021-12-24,2021-12-19,9999-99-99,97,2,47,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
152,2021-01-09,2021-01-09,9999-99-99,97,2,26,1,2,99,99,98,98,98,98,98,4,95,32.333333,392,9604
153,2021-04-05,2021-04-05,9999-99-99,97,2,61,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
154,2021-10-18,2021-10-16,9999-99-99,97,2,31,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [146]:
ELIMINAR_FILA.head(5)

,index,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,...,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
1,101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
2,102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
3,103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,...,2,2,2,2,2,4,95,32.333333,8,4
4,104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,...,2,2,2,2,2,99,95,32.333333,8,4

In [147]:
FILA_NUEVA = ELIMINAR_FILA.drop(["INTUBADO"], axis = 1).copy()
FILA_NUEVA

,index,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,100,2021-01-11,2021-01-07,9999-99-99,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
1,101,2021-12-24,2021-12-21,9999-99-99,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
2,102,2021-04-05,2021-04-05,9999-99-99,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
3,103,2021-09-01,2021-09-01,9999-99-99,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
4,104,2022-01-03,2021-12-31,9999-99-99,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49891,49995,2021-01-04,2021-01-04,9999-99-99,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49892,49996,2021-01-04,2021-01-04,9999-99-99,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49893,49997,2021-01-04,2021-01-03,9999-99-99,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49894,49998,2021-01-04,2021-01-03,9999-99-99,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49895,49999,2021-01-04,2021-01-04,9999-99-99,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [148]:
FILA_NUEVA = ELIMINAR_FILA.drop(["index"], axis = 1).copy()
FILA_NUEVA

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
1,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
2,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
3,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
4,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49891,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49892,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49893,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49894,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49895,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [149]:
FILA_NUEVA = ELIMINAR_FILA.drop(["COL_NUEVA","MENOS_2","DIVIDIO_3","MULTIPLICANDO_3"], axis = 1)
FILA_NUEVA

,index,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,AL_CUADRADO
0,100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4
1,101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4
2,102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4
3,103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4
4,104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49891,49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,4
49892,49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,4
49893,49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4
49894,49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4
49895,49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,4

In [152]:
ELIMINAR_COLUMNA = ELIMINAR_FILA.drop(["AL_CUADRADO"], axis = 1).copy()
ELIMINAR_COLUMNA

,index,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3
0,100,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
1,101,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
2,102,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
3,103,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
4,104,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49891,49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8
49892,49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8
49893,49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8
49894,49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8
49895,49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8

In [154]:
QUITAR_FIL = ELIMINAR_FILA.drop(range(0,50), axis = 0).copy().reset_index()
QUITAR_FIL

,level_0,index,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,...,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,50,154,2021-10-18,2021-10-16,9999-99-99,97,2,31,1,2,...,2,2,2,2,2,4,95,32.333333,8,4
1,51,155,2021-12-24,2021-12-24,9999-99-99,97,2,52,1,2,...,2,2,2,2,2,4,95,32.333333,8,4
2,52,156,2021-02-06,2021-02-06,9999-99-99,97,2,26,1,2,...,98,98,98,98,98,4,95,32.333333,392,9604
3,53,157,2021-01-27,2021-01-25,9999-99-99,97,2,41,1,97,...,2,2,2,2,2,99,95,32.333333,8,4
4,54,158,2021-12-02,2021-12-02,9999-99-99,97,2,53,1,2,...,2,2,2,2,2,4,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49841,49891,49995,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,...,2,2,2,2,2,99,95,32.333333,8,4
49842,49892,49996,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,...,2,2,2,2,2,99,95,32.333333,8,4
49843,49893,49997,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,...,2,2,2,2,1,4,95,32.333333,8,4
49844,49894,49998,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,...,2,2,2,2,2,4,95,32.333333,8,4
49845,49895,49999,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,...,2,2,2,2,2,99,95,32.333333,8,4

In [155]:
BORRAR_INDEX = ELIMINAR_FILA.drop(["index"], axis = 1 ).copy()
BORRAR_INDEX

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,2021-01-11,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
1,2021-12-24,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
2,2021-04-05,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
3,2021-09-01,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
4,2022-01-03,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49891,2021-01-04,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49892,2021-01-04,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49893,2021-01-04,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49894,2021-01-04,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49895,2021-01-04,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [159]:
BORRAR_FE = ELIMINAR_FILA.drop(["FECHA_INGRESO"], axis = 1).copy()
BORRAR_FE

,index,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,COL_NUEVA,MENOS_2,DIVIDIO_3,MULTIPLICANDO_3,AL_CUADRADO
0,100,2021-01-07,9999-99-99,97,2,8,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
1,101,2021-12-21,9999-99-99,97,2,32,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
2,102,2021-04-05,9999-99-99,97,2,27,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
3,103,2021-09-01,9999-99-99,97,2,48,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
4,104,2021-12-31,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49891,49995,2021-01-04,9999-99-99,97,2,10,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49892,49996,2021-01-04,9999-99-99,97,2,34,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4
49893,49997,2021-01-03,9999-99-99,97,2,56,1,2,2,2,2,2,2,2,1,4,95,32.333333,8,4
49894,49998,2021-01-03,9999-99-99,97,2,19,1,2,2,2,2,2,2,2,2,4,95,32.333333,8,4
49895,49999,2021-01-04,9999-99-99,97,2,41,1,97,2,2,2,2,2,2,2,99,95,32.333333,8,4

In [165]:
import pandas as pd

In [167]:
pd.__version__

'1.3.4'

In [170]:
pd.show_version?

Object `pd.show_version` not found.

In [171]:
print(pd.__version__)

1.3.4

In [172]:
pd.read_csv?

In [174]:
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'pandas_datareader'

In [175]:
pip install pandas-datareader

Collecting pandas-datareaderNote: you may need to restart the kernel to use updated packages.
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (1.3.4)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (2.26.0)

WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\win10\appdata\roaming\python\python39\site-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [178]:

import pandas as pd
import pandas_datareader as pdr