In [7]:
import pandas as pd

In [8]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\estres_uni\\DATOS_ESTRES.csv"

In [9]:
DATASET = pd.read_csv(RUTA)
DATASET.head(3)

,Unnamed: 0,DNI,EDAD,DEPARTAMENTO,UNIVERSIDAD,SEXO,NIVEL DE ESTRES
0,NaN,79520949,17,LIMA,ULIMA,MASCULINO,4
1,NaN,67632113,25,LIMA,UPC,MASCULINO,3
2,NaN,78719952,24,LIMA,UPC,MASCULINO,2

In [10]:
DATASET.columns.tolist()

['Unnamed: 0',
 'DNI',
 'EDAD',
 'DEPARTAMENTO',
 'UNIVERSIDAD',
 'SEXO',
 'NIVEL DE ESTRES']

In [11]:
DATASET.describe()

       Unnamed: 0           DNI         EDAD  NIVEL DE ESTRES
count         0.0  9.999000e+03  9999.000000      9999.000000
mean          NaN  7.007839e+07    23.486949         2.972997
std           NaN  5.773855e+06     4.038647         1.396374
min           NaN  6.000042e+07    17.000000         1.000000
25%           NaN  6.512578e+07    20.000000         2.000000
50%           NaN  7.002555e+07    23.000000         3.000000
75%           NaN  7.517211e+07    27.000000         4.000000
max           NaN  7.999575e+07    30.000000         5.000000

In [12]:
DATASET[["DNI","EDAD"]]

           DNI  EDAD
0     79520949    17
1     67632113    25
2     78719952    24
3     70128177    29
4     78937379    25
...        ...   ...
9994  64267167    17
9995  67278503    19
9996  79854190    22
9997  68122403    20
9998  60943584    30

[9999 rows x 2 columns]

In [13]:
DATASET[["NIVEL DE ESTRES"]]

      NIVEL DE ESTRES
0                   4
1                   3
2                   2
3                   3
4                   5
...               ...
9994                5
9995                4
9996                1
9997                3
9998                1

[9999 rows x 1 columns]

In [14]:
import pandas as pd

In [15]:
pd.isnull(DATASET[["EDAD"]])

       EDAD
0     False
1     False
2     False
3     False
4     False
...     ...
9994  False
9995  False
9996  False
9997  False
9998  False

[9999 rows x 1 columns]

#### conteo de valores faltantes

In [16]:
pd.isnull(DATASET[["Unnamed: 0"]]).values.sum()

9999

In [17]:
DATASET.columns

Index(['Unnamed: 0', 'DNI', 'EDAD', 'DEPARTAMENTO', 'UNIVERSIDAD', 'SEXO',
       'NIVEL DE ESTRES'],
      dtype='object')

#### Modificacion de valores faltantes

In [18]:
DATASET_BK = DATASET.copy()
DATASET_BK.head(2)

,Unnamed: 0,DNI,EDAD,DEPARTAMENTO,UNIVERSIDAD,SEXO,NIVEL DE ESTRES
0,NaN,79520949,17,LIMA,ULIMA,MASCULINO,4
1,NaN,67632113,25,LIMA,UPC,MASCULINO,3

### modificacion de valores faltantes con un valor fijo

In [19]:
DATASET_BK = DATASET.copy()
DATASET_BK = DATASET.fillna("5")
DATASET_BK.head()

,Unnamed: 0,DNI,EDAD,DEPARTAMENTO,UNIVERSIDAD,SEXO,NIVEL DE ESTRES
0,5,79520949,17,LIMA,ULIMA,MASCULINO,4
1,5,67632113,25,LIMA,UPC,MASCULINO,3
2,5,78719952,24,LIMA,UPC,MASCULINO,2
3,5,70128177,29,CUZCO,UNSAAC,MASCULINO,3
4,5,78937379,25,LIMA,UNI,MASCULINO,5

#### Modificacion de valores faltantes con un valor fijo en 1 columna

In [20]:
DATASET_BK = DATASET.copy()
DATASET_BK["Unnamed: 0"] = DATASET_BK["Unnamed: 0"].fillna("100")
DATASET_BK.head()

,Unnamed: 0,DNI,EDAD,DEPARTAMENTO,UNIVERSIDAD,SEXO,NIVEL DE ESTRES
0,100,79520949,17,LIMA,ULIMA,MASCULINO,4
1,100,67632113,25,LIMA,UPC,MASCULINO,3
2,100,78719952,24,LIMA,UPC,MASCULINO,2
3,100,70128177,29,CUZCO,UNSAAC,MASCULINO,3
4,100,78937379,25,LIMA,UNI,MASCULINO,5

#### Modificacion de valores faltantes con Calculos

In [21]:

DATASET_BK["Unnamed: 0"] = DATASET_BK["Unnamed: 0"].fillna(DATASET_BK["Unnamed: 0"].mean()).copy()
DATASET_BK

,Unnamed: 0,DNI,EDAD,DEPARTAMENTO,UNIVERSIDAD,SEXO,NIVEL DE ESTRES
0,100,79520949,17,LIMA,ULIMA,MASCULINO,4
1,100,67632113,25,LIMA,UPC,MASCULINO,3
2,100,78719952,24,LIMA,UPC,MASCULINO,2
3,100,70128177,29,CUZCO,UNSAAC,MASCULINO,3
4,100,78937379,25,LIMA,UNI,MASCULINO,5
...,...,...,...,...,...,...,...
9994,100,64267167,17,AREQUIPA,UCSM,MASCULINO,5
9995,100,67278503,19,CUZCO,UNSAAC,FEMENINO,4
9996,100,79854190,22,LIMA,ULIMA,FEMENINO,1
9997,100,68122403,20,LIMA,UNI,FEMENINO,3
9998,100,60943584,30,CUZCO,UAUSTRAL,MASCULINO,1

In [22]:
import pandas as pd

In [5]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [6]:
COVID = pd.read_csv(RUTA, sep = ",", encoding = "latin-1")
COVID

NameError: name 'pd' is not defined

In [7]:
COVID.columns.tolist()

NameError: name 'COVID' is not defined

In [8]:
COVID.shape

NameError: name 'COVID' is not defined

In [27]:
COVID.describe()

,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,INTUBADO,NEUMONIA,...,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,UCI
count,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,...,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06,8.830345e+06
mean,1.794278e+00,8.813864e+00,1.403190e+01,1.469519e+00,1.539281e+01,1.433093e+01,3.708270e+01,1.064117e+00,9.093581e+01,3.303930e+00,...,2.612006e+00,2.565238e+00,4.445842e+00,1.763254e+00,7.445023e+01,1.190887e+00,1.994539e+01,5.774262e+00,9.830862e+01,9.093665e+01
std,4.042281e-01,3.815127e+00,7.621102e+00,4.990700e-01,1.058106e+01,7.550073e+00,9.316245e+01,2.449614e-01,2.323459e+01,1.133050e+01,...,7.694260e+00,7.743957e+00,1.616352e+01,4.250851e-01,4.049021e+01,3.930006e-01,3.742875e+01,1.901428e+00,8.168412e+00,2.323107e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,2.000000e+00,4.000000e+00,9.000000e+00,1.000000e+00,9.000000e+00,9.000000e+00,7.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,...,2.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,9.700000e+01,1.000000e+00,2.000000e+00,3.000000e+00,9.900000e+01,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+01,1.000000e+00,1.300000e+01,1.200000e+01,1.400000e+01,1.000000e+00,9.700000e+01,2.000000e+00,...,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,9.700000e+01,1.000000e+00,2.000000e+00,7.000000e+00,9.900000e+01,9.700000e+01
75%,2.000000e+00,1.200000e+01,1.900000e+01,2.000000e+00,2.000000e+01,1.900000e+01,3.800000e+01,1.000000e+00,9.700000e+01,2.000000e+00,...,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,9.700000e+01,1.000000e+00,2.000000e+00,7.000000e+00,9.900000e+01,9.700000e+01
max,2.000000e+00,9.900000e+01,3.200000e+01,2.000000e+00,9.900000e+01,3.200000e+01,9.990000e+02,2.000000e+00,9.900000e+01,9.900000e+01,...,9.800000e+01,9.800000e+01,9.900000e+01,2.000000e+00,9.700000e+01,2.000000e+00,9.700000e+01,7.000000e+00,9.900000e+01,9.900000e+01

In [28]:
COVID[["FECHA_ACTUALIZACION","ID_REGISTRO"]]

        FECHA_ACTUALIZACION ID_REGISTRO
0                2022-08-09      z53cb3
1                2022-08-09      zze974
2                2022-08-09      zz7202
3                2022-08-09      z405fd
4                2022-08-09      z26b82
...                     ...         ...
8830340          2022-08-09     m0f93ef
8830341          2022-08-09     m08e5a6
8830342          2022-08-09     m0bea6e
8830343          2022-08-09     m00eab3
8830344          2022-08-09     m0bfb28

[8830345 rows x 2 columns]

In [29]:
COVID.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [30]:
COVID.tail(3)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97

In [31]:
COVID.shape

(8830345, 40)

In [32]:
COVID.dtypes

FECHA_ACTUALIZACION      object
ID_REGISTRO              object
ORIGEN                    int64
SECTOR                    int64
ENTIDAD_UM                int64
SEXO                      int64
ENTIDAD_NAC               int64
ENTIDAD_RES               int64
MUNICIPIO_RES             int64
TIPO_PACIENTE             int64
FECHA_INGRESO            object
FECHA_SINTOMAS           object
FECHA_DEF                object
INTUBADO                  int64
NEUMONIA                  int64
EDAD                      int64
NACIONALIDAD              int64
EMBARAZO                  int64
HABLA_LENGUA_INDIG        int64
INDIGENA                  int64
DIABETES                  int64
EPOC                      int64
ASMA                      int64
INMUSUPR                  int64
HIPERTENSION              int64
OTRA_COM                  int64
CARDIOVASCULAR            int64
OBESIDAD                  int64
RENAL_CRONICA             int64
TABAQUISMO                int64
OTRO_CASO                 int64
TOMA_MUESTRA_LAB          int64
RESULTADO_LAB             int64
TOMA_MUESTRA_ANTIGENO     int64
RESULTADO_ANTIGENO        int64
CLASIFICACION_FINAL       int64
MIGRANTE                  int64
PAIS_NACIONALIDAD        object
PAIS_ORIGEN              object
UCI                       int64
dtype: object

In [33]:
COVID.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

#### ANALISIS A VALORES FALTANTES

#### Acceso a 1 columna del dataset

In [37]:
COVID_FAL = COVID[["ORIGEN"]].fillna("-")

##### Analisis de valores faltantes

In [ ]:
pd.isnull(COVID[["MUNICIPIO_RES"]])

#### Analisis de valores no faltantes

In [ ]:
pd.notnull(COVID[["ORIGEN"]])

#### modificacion de valores faltantes

In [38]:
COVID_BK = COVID.copy()
COVID_BK

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,MÃƒÂ©xico,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,MÃƒÂ©xico,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,MÃƒÂ©xico,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,MÃƒÂ©xico,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃƒÂ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97

##### Modificacion de valores faltantes con un valor fijo

In [42]:
import pandas as pd

In [40]:
COVID_BK = COVID_BK.fillna("-")
COVID_BK

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,MÃƒÂ©xico,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,MÃƒÂ©xico,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,MÃƒÂ©xico,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,MÃƒÂ©xico,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃƒÂ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,MÃƒÂ©xico,97,97

In [43]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\World_Bank_Data_India_Definitions.csv"

In [44]:
BANK = pd.read_csv(RUTA, sep = ",")
BANK.head(3)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN

In [45]:
BANK_BK = BANK.copy()
BANK_BK

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,NaN,NaN,NaN
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",NaN,NaN,NaN
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",NaN,NaN,NaN
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN

In [46]:
pd.isnull(BANK_BK[["Unnamed: 4", "Unnamed: 5"]])

    Unnamed: 4  Unnamed: 5
0         True        True
1         True        True
2         True        True
3         True        True
4         True        True
5         True        True
6         True        True
7         True        True
8         True        True
9         True        True
10        True        True
11        True        True
12       False       False
13        True        True
14        True        True
15        True        True
16        True        True
17        True        True
18        True        True
19        True        True
20        True        True
21        True        True
22        True        True
23        True        True
24        True        True
25        True        True
26        True        True

In [47]:
pd.notnull(BANK_BK[["Unnamed: 6"]])

    Unnamed: 6
0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12        True
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False

In [48]:
BANK_BK.head(3)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN

In [49]:
import pandas as pd

In [50]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.fillna("-")
BANK_BK.head(3)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,-,-,-
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,-,-,-
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,-,-,-

In [51]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.fillna(0)
BANK_BK.head()

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,0,0,0
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,0,0,0
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,0,0,0
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,0,0,0
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",0,0,0

In [52]:
BANK_BK = BANK.copy()
BANK_BK = BANK.fillna("50")
BANK_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,50,50,50
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,50,50,50
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,50,50,50
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,50,50,50
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",50,50,50

In [ ]:
BANK.columns

In [53]:
BANK_BK["Unnamed: 4"] = 10
BANK_BK["Unnamed: 5"] = 20
BANK_BK["Unnamed: 6"] = 30

In [54]:
BANK_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,10,20,30
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,10,20,30
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,10,20,30
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,10,20,30
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",10,20,30

#####  Modificacion de valores faltantes CON UN VALOR FIJO  en una columna

In [55]:
BANK_BK = BANK.copy()
BANK_BK["Unnamed: 4"] = BANK_BK["Unnamed: 4"].fillna("-")
BANK_BK.head(3)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,-,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,-,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,-,NaN,NaN

####  Mofificacion de valores faltantes de varias columnas

In [56]:
BANK_BK = BANK.copy()
BANK_BK["Unnamed: 4"] = BANK_BK["Unnamed: 4"].fillna(5)
BANK_BK["Unnamed: 5"] = BANK_BK["Unnamed: 5"].fillna(10)
BANK_BK["Unnamed: 6"] = BANK_BK["Unnamed: 6"].fillna(20)
BANK_BK.head(50)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,5,10,20
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,5,10,20
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,5,10,20
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,5,10,20
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",5,10,20
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,5,10,20
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",5,10,20
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",5,10,20
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",5,10,20
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",5,10,20
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",5,10,20
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",5,10,20
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",5,10,20
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",5,10,20
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,5,10,20
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,5,10,20
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,5,10,20
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20

In [57]:
BANK_BK.head(50)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,5,10,20
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,5,10,20
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,5,10,20
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,5,10,20
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",5,10,20
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,5,10,20
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",5,10,20
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",5,10,20
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",5,10,20
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",5,10,20
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",5,10,20
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",5,10,20
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",5,10,20
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",5,10,20
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,5,10,20
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,5,10,20
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,5,10,20
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20

In [58]:



BANK_BK = BANK.copy()
BANK_BK["Unnamed: 4"] = BANK_BK["Unnamed: 4"].fillna(5)
BANK_BK["Unnamed: 5"] = BANK_BK["Unnamed: 5"].fillna(10)
BANK_BK["Unnamed: 6"] = BANK_BK["Unnamed: 6"].fillna(20)
BANK_BK.head(50)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,5,10,20
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,5,10,20
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,5,10,20
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,5,10,20
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",5,10,20
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,5,10,20
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",5,10,20
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",5,10,20
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",5,10,20
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",5,10,20
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",5,10,20
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",5,10,20
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",5,10,20
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",5,10,20
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,5,10,20
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,5,10,20
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,5,10,20
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20

#### Modificacion de valores faltantes con caculos

In [59]:
MEDIA = BANK_BK = BANK.copy()
BANK_BK["Unnamed: 4"] = BANK_BK["Unnamed: 4"].fillna(5)
BANK_BK["Unnamed: 5"] = BANK_BK["Unnamed: 5"].fillna(10)
BANK_BK["Unnamed: 6"] = BANK_BK["Unnamed: 6"].fillna(20)
BANK_BK.head(50)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,5,10,20
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,5,10,20
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,5,10,20
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,5,10,20
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",5,10,20
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,5,10,20
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",5,10,20
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",5,10,20
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",5,10,20
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",5,10,20
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",5,10,20
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",5,10,20
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",5,10,20
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",5,10,20
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",5,10,20
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",5,10,20
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,5,10,20
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,5,10,20
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,5,10,20
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,5,10,20

In [64]:
MEDIA.loc[[12],["Unnamed: 4"]] = 11

KeyError: "None of [Index([(12,), ('Unnamed: 4',)], dtype='object')] are in the [index]"

In [ ]:
MEDIA = MEDIA["Unnamed: 4"] = MEDIA["Unnamed: 4"].fillna(MEDIA["Unnamed: 4"].median())

#### Eliminacionde valores faltantes

###### perspectiva del eje
##### 0 filas
##### 1 columnas

##### Perspectiva del como
###### ANY    ---> ALGUN VALOR FALTANTE
###### ALL    -----> TODOS LOS VALORES FALTANTES

In [66]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.dropna(axis = 0, how = "any")
BANK_BK

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."

In [72]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.dropna(axis = 1, how = "any")
BANK_BK.head(5)

,Code,Indicator Name,Long definition,Source
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat..."

In [78]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.dropna(axis = 0, how = "any")
BANK_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."

In [79]:
BANK_BK.shape

(1, 7)

In [81]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.dropna(axis = 0, how = "all")
BANK_BK.head()

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN

In [82]:
BANK_BK = BANK.copy()
BANK_BK = BANK_BK.dropna(axis = 1, how = "any")
BANK_BK

,Code,Indicator Name,Long definition,Source
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat..."
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat..."
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat..."
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat..."
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat..."
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat..."
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat..."
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat..."
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat..."
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat..."
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na..."
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na..."
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat..."
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu..."
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin..."
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...

In [86]:
BANK.head(3)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN

##### Filtrado de valores faltantes

In [92]:
 pd.isnull(BANK[["Unnamed: 4"]]).values.sum()

26

In [95]:
BANK[BANK["Long definition"].isnull()]

Empty DataFrame
Columns: [Code, Indicator Name, Long definition, Source, Unnamed: 4, Unnamed: 5, Unnamed: 6]
Index: []

In [96]:
BANK[BANK["Unnamed: 4"].isnull()]

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,NaN,NaN,NaN
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",NaN,NaN,NaN
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",NaN,NaN,NaN
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN

In [97]:
BANK[BANK["Unnamed: 4"].notnull()]

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."

In [98]:
BANK_NUEVO = BANK[BANK["Unnamed: 4"].isnull()]
BANK_NUEVO

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,NaN,NaN,NaN
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",NaN,NaN,NaN
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",NaN,NaN,NaN
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN

In [103]:
BANK_NUEVO.dropna( axis = 1, how = "all")
BANK_NUEVO.head(2)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN

In [105]:
BANK_NUEVO.dropna(axis = 0, how = "any")
BANK_NUEVO.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,NaN
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN

In [106]:
import pandas as pd

In [107]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [108]:
DATA = pd.read_csv(RUTA)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [130]:
DATA.tail(50)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
8830295,2022-08-09,m1608ea,2,12,15,1,28,15,31,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830296,2022-08-09,m1e4133,2,12,15,2,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830297,2022-08-09,m1b6ea5,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830298,2022-08-09,m005632,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830299,2022-08-09,m095f1e,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830300,2022-08-09,m120aa3,2,12,15,2,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830301,2022-08-09,m08f1e4,2,12,15,2,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830302,2022-08-09,m025cb6,2,12,15,1,29,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830303,2022-08-09,m108c2a,2,12,15,1,17,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830304,2022-08-09,m0bb4f4,2,12,15,1,21,15,999,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830305,2022-08-09,m0d676f,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830306,2022-08-09,m09831e,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830307,2022-08-09,m0a0fce,2,12,15,2,9,15,31,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830308,2022-08-09,m13970e,2,12,15,1,9,15,31,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830309,2022-08-09,m0d454a,2,12,15,2,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830310,2022-08-09,m1e59cc,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830311,2022-08-09,m14f78e,2,12,15,1,9,15,31,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830312,2022-08-09,m1104da,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830313,2022-08-09,m02a8bb,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830314,2022-08-09,m0d1905,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830315,2022-08-09,m1b6d7e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830316,2022-08-09,m0da20b,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830317,2022-08-09,m130867,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830318,2022-08-09,m1496ff,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830319,2022-08-09,m164515,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830320,2022-08-09,m1689c4,2,12,15,2,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830321,2022-08-09,m0bb2db,2,12,15,2,15,15,999,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830322,2022-08-09,m146fc1,2,12,15,2,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830323,2022-08-09,m1133ae,2,12,15,1,21,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830324,2022-08-09,m1812e3,2,12,15,2,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830325,2022-08-09,m04629f,2,12,15,2,99,15,58,1,...,99,2,97,1,2,7,99,99,97,97
8830326,2022-08-09,m01f83f,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830327,2022-08-09,m02f16b,2,12,15,1,99,15,58,1,...,99,2,97,1,2,7,99,99,97,97
8830328,2022-08-09,m0f2ebc,2,12,15,1,21,15,31,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830329,2022-08-09,m0be7af,2,12,15,2,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830330,2022-08-09,m0ae5c8,2,12,15,2,16,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830331,2022-08-09,m09a1bf,2,12,15,2,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830332,2022-08-09,m19d7c6,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830333,2022-08-09,m08e899,2,12,15,2,16,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830334,2022-08-09,m016723,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830335,2022-08-09,m19ebe9,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830336,2022-08-09,m1ad98a,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830337,2022-08-09,m11d6f4,2,12,15,2,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830338,2022-08-09,m095f61,2,12,15,1,9,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830339,2022-08-09,m0305de,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97

In [151]:
DATA.iloc[:30000,:20].copy()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,2021-01-16,2021-01-13,9999-99-99,97,2,26,1,97,2,2
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,2021-02-28,2021-02-20,9999-99-99,97,99,34,1,2,2,2
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,2021-01-13,2021-01-13,9999-99-99,97,2,41,1,97,2,2
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,2021-01-25,2021-01-17,9999-99-99,97,2,25,1,97,2,2
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,2021-01-14,2021-01-10,9999-99-99,97,2,20,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2022-08-09,g0be5b4,1,12,9,2,9,9,5,1,2021-01-27,2021-01-27,9999-99-99,97,2,38,1,97,2,2
29996,2022-08-09,g04a7a7,1,12,9,1,9,9,5,1,2021-01-27,2021-01-27,9999-99-99,97,2,61,1,2,2,2
29997,2022-08-09,g1668ed,1,12,9,2,99,9,5,1,2021-02-04,2021-02-04,9999-99-99,97,2,20,2,97,2,2
29998,2022-08-09,g0bbbf8,1,12,9,2,15,15,33,1,2021-01-27,2021-01-27,9999-99-99,97,2,21,1,97,2,2
29999,2022-08-09,g107443,1,12,9,1,9,15,33,1,2021-02-04,2021-02-04,9999-99-99,97,2,54,1,2,2,2

In [153]:
DATA_MUESTRA = DATA.iloc[:30000,:20].copy()
DATA_MUESTRA.head(50)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,2021-01-16,2021-01-13,9999-99-99,97,2,26,1,97,2,2
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,2021-02-28,2021-02-20,9999-99-99,97,99,34,1,2,2,2
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,2021-01-13,2021-01-13,9999-99-99,97,2,41,1,97,2,2
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,2021-01-25,2021-01-17,9999-99-99,97,2,25,1,97,2,2
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,2021-01-14,2021-01-10,9999-99-99,97,2,20,1,2,2,2
5,2022-08-09,z23d9d,1,12,22,2,24,22,9,1,2021-01-05,2021-01-05,9999-99-99,97,2,29,1,97,2,2
6,2022-08-09,1009d6,1,12,30,1,30,30,85,1,2021-02-17,2021-02-14,9999-99-99,97,2,36,1,2,2,2
7,2022-08-09,z5c8ce,1,12,14,1,14,14,120,1,2021-01-09,2021-01-08,9999-99-99,97,2,30,1,2,2,2
8,2022-08-09,0c5c89,1,12,27,1,27,27,16,1,2021-01-05,2021-01-03,9999-99-99,97,2,57,1,2,2,2
9,2022-08-09,17a7b4,2,12,9,1,9,9,2,1,2021-01-22,2021-01-22,9999-99-99,97,2,30,1,2,2,2
10,2022-08-09,0f6295,1,6,24,1,24,24,28,1,2021-01-29,2021-01-27,9999-99-99,97,2,63,1,2,2,2
11,2022-08-09,016e9a,1,6,7,2,7,7,101,1,2021-03-14,2021-03-11,9999-99-99,97,99,28,1,97,2,2
12,2022-08-09,gz41326,2,12,9,2,9,9,8,1,2021-04-08,2021-04-08,9999-99-99,97,2,18,1,97,2,2
13,2022-08-09,gz166ca,2,12,9,1,9,9,5,1,2021-04-05,2021-04-05,9999-99-99,97,2,36,1,2,2,2
14,2022-08-09,gzzf724,2,12,9,2,9,9,7,1,2022-01-06,2021-12-28,9999-99-99,97,2,40,1,97,2,2
15,2022-08-09,gz47c45,2,12,9,2,9,9,8,1,2021-05-06,2021-05-06,9999-99-99,97,2,18,1,97,2,2
16,2022-08-09,gzza9a9,1,12,9,1,9,9,4,1,2021-09-01,2021-09-01,9999-99-99,97,2,18,1,1,2,2
17,2022-08-09,gz53ecc,2,12,9,1,15,9,10,1,2021-01-26,2021-01-24,9999-99-99,97,2,68,1,2,2,2
18,2022-08-09,gz3e068,2,12,9,2,9,9,7,1,2021-11-22,2021-11-22,9999-99-99,97,2,9,1,97,2,2
19,2022-08-09,gz27a92,2,9,9,2,9,9,10,1,2021-12-02,2021-12-02,9999-99-99,97,2,5,1,97,2,2
20,2022-08-09,gz31979,2,12,9,2,9,9,8,1,2021-04-08,2021-04-08,9999-99-99,97,2,16,1,97,2,2
21,2022-08-09,gz5295e,2,12,9,2,9,9,8,1,2021-01-08,2021-01-08,9999-99-99,97,2,39,1,97,99,99
22,2022-08-09,gz585a6,2,12,9,2,9,9,8,1,2021-05-06,2021-05-06,9999-99-99,97,2,16,1,97,2,2
23,2022-08-09,gz467a7,2,12,9,2,15,9,17,1,2021-05-12,2021-05-12,9999-99-99,97,2,20,1,97,2,2
24,2022-08-09,gz16812,2,12,9,2,9,9,8,1,2021-04-08,2021-04-08,9999-99-99,97,2,19,1,97,99,99
25,2022-08-09,gz2c1aa,2,12,9,1,9,9,5,1,2021-04-05,2021-04-05,9999-99-99,97,2,33,1,2,2,2
26,2022-08-09,gz2a68d,2,12,9,2,9,9,8,1,2021-02-05,2021-02-05,9999-99-99,97,2,39,1,97,99,99
27,2022-08-09,gzz53a3,1,12,9,1,9,9,5,1,2021-03-17,2021-03-17,9999-99-99,97,2,29,1,2,2,2
28,2022-08-09,gz1ad4d,2,12,9,1,15,9,9,1,2021-12-02,2021-11-28,9999-99-99,97,2,38,1,2,2,2
29,2022-08-09,gzz79b9,2,12,9,2,9,9,8,1,2021-05-06,2021-05-06,9999-99-99,97,2,19,1,97,99,99
30,2022-08-09,gzza87a,2,12,9,1,9,9,7,1,2021-10-18,2021-10-18,9999-99-99,97,2,34,1,2,99,99
31,2022-08-09,gz2a60a,2,4,15,1,9,15,60,1,2022-01-04,2021-12-31,9999-99-99,97,2,33,1,2,2,2
32,2022-08-09,gz3e3dc,2,12,9,2,9,9,5,1,2021-08-30,2021-08-30,9999-99-99,97,2,61,1,97,2,2
33,2022-08-09,gz54c29,1,12,9,2,9,9,5,1,2021-03-17,2021-03-17,9999-99-99,97,2,47,1,97,2,2
34,2022-08-09,gzz224c,2,9,9,1,9,9,16,1,2021-12-02,2021-12-02,9999-99-99,97,2,38,1,2,2,2
35,2022-08-09,gz53bab,2,12,9,1,9,9,8,1,2021-04-15,2021-04-15,9999-99-99,97,2,47,1,2,2,2
36,2022-08-09,gz17b6b,2,12,9,1,9,9,8,1,2021-05-13,2021-05-13,9999-99-99,97,2,47,1,2,2,2
37,2022-08-09,gz36b20,2,12,9,2,9,9,5,1,2021-04-05,2021-04-05,9999-99-99,97,2,49,1,97,2,2
38,2022-08-09,gz2ae11,1,12,9,2,15,9,5,1,2021-03-17,2021-03-17,9999-99-99,97,2,58,1,97,2,2
39,2022-08-09,gzz3096,2,12,9,1,9,9,8,1,2021-04-15,2021-04-15,9999-99-99,97,2,68,1,2,2,2
40,2022-08-09,gz3c1e1,2,12,9,1,9,9,8,1,2021-05-13,2021-05-13,9999-99-99,97,2,68,1,2,2,2
41,2022-08-09,gz4631b,1,12,9,1,9,9,17,1,2021-03-17,2021-03-17,9999-99-99,97,2,87,1,2,2,2
42,2022-08-09,gz2969f,1,12,9,1,2,2,2,1,2021-12-30,2021-12-30,9999-99-99,97,2,27,1,2,2,2
43,2022-08-09,gz3e420,2,12,9,1,9,9,8,1,2021-04-15,2021-04-15,9999-99-99,97,2,40,1,2,2,2
44,2022-08-09,gzzz9d6,2,12,9,1,9,9,5,1,2021-08-30,2021-08-30,9999-99-99,97,2,50,1,2,2,2
45,2022-08-09,gzz7e37,2,12,9,2,9,9,7,1,2021-10-18,2021-10-18,9999-99-99,97,2,43,1,97,2,2
46,2022-08-09,gzzzd2a,2,12,9,1,9,9,8,1,2021-05-13,2021-05-13,9999-99-99,97,2,40,1,2,2,2
47,2022-08-09,gz28049,2,12,9,1,9,9,10,1,2021-01-26,2021-01-24,9999-99-99,97,2,52,1,2,2,2
48,2022-08-09,gz516c4,2,12,9,1,9,9,8,1,2021-04-15,2021-04-15,9999-99-99,97,2,59,1,2,2,2
49,2022-08-09,gz5bcec,2,12,9,1,9,9,8,1,2021-05-13,2021-05-13,9999-99-99,97,2,59,1,2,2,2

In [156]:
DATA[:100000][['ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO']].copy()

,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,...,EPOC,ASMA,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO
0,2,12,9,2,9,9,2,1,2021-01-16,2021-01-13,...,2,2,2,2,2,2,2,2,2,1
1,1,6,24,1,24,24,35,1,2021-02-28,2021-02-20,...,2,2,2,2,2,2,2,2,2,1
2,1,12,16,2,16,16,112,1,2021-01-13,2021-01-13,...,2,2,2,2,2,2,2,2,1,1
3,1,12,9,2,9,9,11,1,2021-01-25,2021-01-17,...,2,2,2,2,2,2,2,2,2,1
4,2,12,9,1,9,9,7,1,2021-01-14,2021-01-10,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,12,9,1,9,9,9,1,2021-01-06,2021-01-05,...,2,2,2,2,2,2,2,2,2,1
99996,2,12,9,1,15,15,33,1,2021-01-06,2021-01-05,...,2,2,2,2,2,2,2,2,2,1
99997,2,12,9,1,15,9,2,1,2021-01-06,2021-01-01,...,2,2,2,2,2,2,2,2,2,1
99998,2,7,14,2,14,14,97,2,2021-01-06,2021-01-05,...,2,2,2,2,2,2,2,2,2,1
99999,2,6,9,1,9,9,16,2,2021-01-04,2021-01-04,...,2,2,2,1,98,2,98,2,98,99

In [154]:
DATA.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [159]:
DATA_1_COL = DATA[["PAIS_NACIONALIDAD"]].copy()
DATA_1_COL.head(5)

  PAIS_NACIONALIDAD
0            MÃ©xico
1            MÃ©xico
2            MÃ©xico
3            MÃ©xico
4            MÃ©xico

In [160]:
DATA[["ID_REGISTRO","ORIGEN","SEXO","ENTIDAD_NAC","TIPO_PACIENTE","EDAD","DIABETES","EPOC",
 "ASMA","INMUSUPR","HIPERTENSION","OTRA_COM","CARDIOVASCULAR","OBESIDAD","RENAL_CRONICA",
 "TABAQUISMO","OTRO_CASO"]].copy()
DATA.head(5)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97

In [184]:
DATA[:][["PAIS_NACIONALIDAD","UCI","RESULTADO_ANTIGENO"]]

        PAIS_NACIONALIDAD  UCI  RESULTADO_ANTIGENO
0                  MÃ©xico   97                   2
1                  MÃ©xico   97                  97
2                  MÃ©xico   97                  97
3                  MÃ©xico   97                   2
4                  MÃ©xico   97                   2
...                   ...  ...                 ...
8830340            MÃ©xico   97                   2
8830341            MÃ©xico   97                   2
8830342            MÃ©xico   97                   2
8830343            MÃ©xico   97                   2
8830344            MÃ©xico   97                   2

[8830345 rows x 3 columns]

In [2]:
import pandas as pd

In [5]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [6]:
DATOS = pd.read_csv(RUTA)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
DATOS.head(10)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
5,2022-08-09,z23d9d,1,12,22,2,24,22,9,1,...,2,2,97,2,97,6,99,MÃ©xico,97,97
6,2022-08-09,1009d6,1,12,30,1,30,30,85,1,...,2,1,1,2,97,3,99,MÃ©xico,97,97
7,2022-08-09,z5c8ce,1,12,14,1,14,14,120,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
8,2022-08-09,0c5c89,1,12,27,1,27,27,16,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
9,2022-08-09,17a7b4,2,12,9,1,9,9,2,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97

In [8]:
DATOS

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97

In [11]:
DATOS.loc[20:100][["ID_REGISTRO","TIPO_PACIENTE"]]

    ID_REGISTRO  TIPO_PACIENTE
20      gz31979              1
21      gz5295e              1
22      gz585a6              1
23      gz467a7              1
24      gz16812              1
..          ...            ...
96      gz51687              1
97      gz47223              1
98      gz53b6a              1
99      gz1948c              1
100     gz4bfe0              1

[81 rows x 2 columns]

In [14]:
DATOS[100:150][["ORIGEN"]]

     ORIGEN
100       2
101       2
102       2
103       1
104       2
105       2
106       2
107       2
108       2
109       2
110       2
111       2
112       2
113       2
114       2
115       2
116       2
117       2
118       2
119       2
120       2
121       2
122       2
123       2
124       2
125       2
126       2
127       2
128       2
129       2
130       2
131       2
132       1
133       2
134       2
135       2
136       1
137       2
138       2
139       2
140       2
141       2
142       2
143       2
144       2
145       1
146       2
147       2
148       1
149       2

In [17]:
DATOS[20:30][["EMBARAZO"]]

    EMBARAZO
20        97
21        97
22        97
23        97
24        97
25         2
26        97
27         2
28         2
29        97

In [9]:
DATOS.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [24]:
DATOS[60:65][["INMUSUPR","FECHA_INGRESO","PAIS_NACIONALIDAD","FECHA_ACTUALIZACION","RENAL_CRONICA"]]

,INMUSUPR,FECHA_INGRESO,PAIS_NACIONALIDAD,FECHA_ACTUALIZACION,RENAL_CRONICA
60,2,2021-10-18,MÃ©xico,2022-08-09,2
61,2,2021-04-15,MÃ©xico,2022-08-09,2
62,2,2021-03-17,MÃ©xico,2022-08-09,2
63,2,2021-01-10,MÃ©xico,2022-08-09,2
64,2,2021-05-13,MÃ©xico,2022-08-09,2

In [27]:
DATOS[:90][["EMBARAZO"]]

    EMBARAZO
0         97
1          2
2         97
3         97
4          2
..       ...
85         2
86         2
87        97
88        97
89         2

[90 rows x 1 columns]

In [29]:
DATOS.iloc[900:950,35:39]

     CLASIFICACION_FINAL  MIGRANTE PAIS_NACIONALIDAD PAIS_ORIGEN
900                    7        99            MÃ©xico          97
901                    7        99            MÃ©xico          97
902                    7        99            MÃ©xico          97
903                    7        99            MÃ©xico          97
904                    7        99            MÃ©xico          97
905                    7        99            MÃ©xico          97
906                    7        99            MÃ©xico          97
907                    7        99            MÃ©xico          97
908                    3        99            MÃ©xico          97
909                    7        99            MÃ©xico          97
910                    7        99            MÃ©xico          97
911                    7        99            MÃ©xico          97
912                    7        99            MÃ©xico          97
913                    7        99            MÃ©xico          97
914                    7        99            MÃ©xico          97
915                    7        99            MÃ©xico          97
916                    7        99            MÃ©xico          97
917                    7        99            MÃ©xico          97
918                    7        99            MÃ©xico          97
919                    7        99            MÃ©xico          97
920                    7        99            MÃ©xico          97
921                    7        99            MÃ©xico          97
922                    7        99            MÃ©xico          97
923                    7        99            MÃ©xico          97
924                    7        99            MÃ©xico          97
925                    7        99            MÃ©xico          97
926                    7        99            MÃ©xico          97
927                    7        99            MÃ©xico          97
928                    7        99            MÃ©xico          97
929                    7        99            MÃ©xico          97
930                    7        99            MÃ©xico          97
931                    7        99            MÃ©xico          97
932                    7        99            MÃ©xico          97
933                    7        99            MÃ©xico          97
934                    7        99            MÃ©xico          97
935                    7        99            MÃ©xico          97
936                    7        99            MÃ©xico          97
937                    7        99            MÃ©xico          97
938                    7        99            MÃ©xico          97
939                    7        99            MÃ©xico          97
940                    7        99            MÃ©xico          97
941                    7        99            MÃ©xico          97
942                    7        99            MÃ©xico          97
943                    7        99            MÃ©xico          97
944                    7        99            MÃ©xico          97
945                    3        99            MÃ©xico          97
946                    7        99            MÃ©xico          97
947                    7        99            MÃ©xico          97
948                    7        99            MÃ©xico          97
949                    7        99            MÃ©xico          97

In [30]:
DATOS.shape

(8830345, 40)

In [36]:
DATOS.loc[200000:200009][["ID_REGISTRO"]]

       ID_REGISTRO
200000      21d98f
200001      40d6ab
200002      206de7
200003      328f34
200004      2d11d8
200005      32c7d3
200006      25f890
200007      35b58d
200008      2030a5
200009      3ab4e3

In [38]:
DATOS.loc[700001:700050][["FECHA_DEF","EDAD","ASMA"]]

         FECHA_DEF  EDAD  ASMA
700001  9999-99-99    30     2
700002  9999-99-99    15     2
700003  9999-99-99    75     2
700004  9999-99-99    84     2
700005  9999-99-99    39     2
700006  9999-99-99    34     2
700007  9999-99-99    29     2
700008  9999-99-99    41     2
700009  9999-99-99    59     2
700010  9999-99-99    31     2
700011  9999-99-99    51     2
700012  9999-99-99    26     2
700013  9999-99-99    72     2
700014  9999-99-99    66     2
700015  9999-99-99    35     2
700016  9999-99-99    39     2
700017  9999-99-99    23     2
700018  9999-99-99    71     2
700019  9999-99-99    39     2
700020  9999-99-99     3     2
700021  9999-99-99    52     2
700022  9999-99-99    31     2
700023  9999-99-99    83     2
700024  9999-99-99    26     2
700025  9999-99-99    31     2
700026  9999-99-99    44     2
700027  9999-99-99    16     2
700028  9999-99-99    45     2
700029  9999-99-99    44     2
700030  9999-99-99    40     2
700031  9999-99-99    34     2
700032  9999-99-99    45     2
700033  9999-99-99    17     2
700034  9999-99-99    34     2
700035  9999-99-99    47     2
700036  9999-99-99    50     2
700037  9999-99-99    54     2
700038  9999-99-99    31     2
700039  9999-99-99    64     2
700040  9999-99-99    27     2
700041  9999-99-99    43     2
700042  9999-99-99    43     2
700043  9999-99-99    46     2
700044  9999-99-99    62     2
700045  9999-99-99    46     2
700046  9999-99-99    46     2
700047  9999-99-99    56     2
700048  9999-99-99    16     2
700049  9999-99-99    20     2
700050  9999-99-99    38     2

In [31]:
DATOS.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [43]:
DATOS.iloc[100:200][:35]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
100,2022-08-09,gz4bfe0,2,12,9,1,9,9,3,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
101,2022-08-09,gz1279d,2,4,26,1,26,26,55,1,...,2,2,97,1,1,3,99,MÃ©xico,97,97
102,2022-08-09,gz4c4e8,2,12,9,1,9,9,5,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
103,2022-08-09,gz454b6,1,12,9,1,9,15,37,1,...,2,2,97,1,2,1,99,MÃ©xico,97,97
104,2022-08-09,gz2af4d,2,4,15,2,15,15,60,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
105,2022-08-09,gz1a2a0,2,12,9,1,9,9,8,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
106,2022-08-09,gzze309,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
107,2022-08-09,gz533cb,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
108,2022-08-09,gz2eae0,2,12,9,1,9,9,7,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
109,2022-08-09,gzza894,2,12,9,1,9,9,8,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
110,2022-08-09,gz38fa9,2,4,26,2,26,26,55,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
111,2022-08-09,gzzc020,2,12,9,2,9,9,10,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
112,2022-08-09,gz38b37,2,4,15,1,15,15,60,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
113,2022-08-09,gz567e8,2,4,26,1,25,26,55,1,...,2,2,97,1,1,3,99,MÃ©xico,97,97
114,2022-08-09,gz4dc11,2,12,9,1,16,9,5,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
115,2022-08-09,gz315fc,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
116,2022-08-09,gz3a1a2,2,12,9,1,15,9,13,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
117,2022-08-09,gz14a8c,2,9,9,1,9,15,13,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
118,2022-08-09,gz266a1,2,12,9,2,13,9,5,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
119,2022-08-09,gz5560b,2,12,9,2,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
120,2022-08-09,gz29367,2,12,9,1,9,9,5,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
121,2022-08-09,gzzcc3f,2,12,9,1,15,9,13,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
122,2022-08-09,gz53b42,2,4,15,2,12,15,60,1,...,1,2,97,1,1,3,99,MÃ©xico,97,97
123,2022-08-09,gz492d8,2,4,26,1,26,26,55,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
124,2022-08-09,gz24fdc,2,10,9,2,9,9,5,2,...,2,2,97,2,97,1,99,MÃ©xico,97,2
125,2022-08-09,gz5286d,2,12,9,1,9,9,8,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
126,2022-08-09,gz35b3c,2,12,9,1,9,9,5,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
127,2022-08-09,gz58493,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
128,2022-08-09,gz4237c,2,12,9,1,9,9,8,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
129,2022-08-09,gz19b28,2,4,15,1,15,15,60,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
130,2022-08-09,gz25b4d,2,12,9,1,9,9,5,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
131,2022-08-09,gz204fa,2,12,9,2,9,9,5,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
132,2022-08-09,gz25030,1,12,9,2,15,15,37,1,...,2,2,97,1,2,1,99,MÃ©xico,97,97
133,2022-08-09,gz1c42a,2,12,9,1,15,9,16,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
134,2022-08-09,gz17273,2,12,9,1,9,9,10,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97

In [44]:
DATOS.iloc[:30,:5]

   FECHA_ACTUALIZACION ID_REGISTRO  ORIGEN  SECTOR  ENTIDAD_UM
0           2022-08-09      z53cb3       2      12           9
1           2022-08-09      zze974       1       6          24
2           2022-08-09      zz7202       1      12          16
3           2022-08-09      z405fd       1      12           9
4           2022-08-09      z26b82       2      12           9
5           2022-08-09      z23d9d       1      12          22
6           2022-08-09      1009d6       1      12          30
7           2022-08-09      z5c8ce       1      12          14
8           2022-08-09      0c5c89       1      12          27
9           2022-08-09      17a7b4       2      12           9
10          2022-08-09      0f6295       1       6          24
11          2022-08-09      016e9a       1       6           7
12          2022-08-09     gz41326       2      12           9
13          2022-08-09     gz166ca       2      12           9
14          2022-08-09     gzzf724       2      12           9
15          2022-08-09     gz47c45       2      12           9
16          2022-08-09     gzza9a9       1      12           9
17          2022-08-09     gz53ecc       2      12           9
18          2022-08-09     gz3e068       2      12           9
19          2022-08-09     gz27a92       2       9           9
20          2022-08-09     gz31979       2      12           9
21          2022-08-09     gz5295e       2      12           9
22          2022-08-09     gz585a6       2      12           9
23          2022-08-09     gz467a7       2      12           9
24          2022-08-09     gz16812       2      12           9
25          2022-08-09     gz2c1aa       2      12           9
26          2022-08-09     gz2a68d       2      12           9
27          2022-08-09     gzz53a3       1      12           9
28          2022-08-09     gz1ad4d       2      12           9
29          2022-08-09     gzz79b9       2      12           9

In [45]:
DATOS.iloc[105:120,:39]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN
105,2022-08-09,gz1a2a0,2,12,9,1,9,9,8,1,...,98,2,2,97,1,2,7,99,MÃ©xico,97
106,2022-08-09,gzze309,2,12,9,1,9,9,7,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
107,2022-08-09,gz533cb,2,12,9,1,9,9,7,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
108,2022-08-09,gz2eae0,2,12,9,1,9,9,7,1,...,2,1,2,97,1,2,7,99,MÃ©xico,97
109,2022-08-09,gzza894,2,12,9,1,9,9,8,1,...,98,2,2,97,1,2,7,99,MÃ©xico,97
110,2022-08-09,gz38fa9,2,4,26,2,26,26,55,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
111,2022-08-09,gzzc020,2,12,9,2,9,9,10,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
112,2022-08-09,gz38b37,2,4,15,1,15,15,60,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
113,2022-08-09,gz567e8,2,4,26,1,25,26,55,1,...,2,2,2,97,1,1,3,99,MÃ©xico,97
114,2022-08-09,gz4dc11,2,12,9,1,16,9,5,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
115,2022-08-09,gz315fc,2,12,9,1,9,9,7,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
116,2022-08-09,gz3a1a2,2,12,9,1,15,9,13,1,...,98,2,2,97,1,2,7,99,MÃ©xico,97
117,2022-08-09,gz14a8c,2,9,9,1,9,15,13,1,...,2,2,2,97,1,2,7,99,MÃ©xico,97
118,2022-08-09,gz266a1,2,12,9,2,13,9,5,1,...,2,1,2,97,1,2,7,99,MÃ©xico,97
119,2022-08-09,gz5560b,2,12,9,2,9,9,7,1,...,1,2,2,97,1,2,7,99,MÃ©xico,97

In [47]:
DATOS.iloc[500000:500030,10:20]

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
500000,2021-01-12,2021-01-11,9999-99-99,97,2,38,1,2,2,2
500001,2021-01-19,2021-01-18,9999-99-99,97,2,24,1,2,2,2
500002,2021-01-20,2021-01-11,9999-99-99,97,2,30,1,97,2,2
500003,2021-01-20,2021-01-20,9999-99-99,97,2,57,1,97,2,2
500004,2021-01-14,2021-01-13,9999-99-99,97,2,26,1,97,2,2
500005,2021-01-15,2021-01-14,9999-99-99,97,2,38,1,2,2,2
500006,2021-01-20,2021-01-11,9999-99-99,97,2,16,1,2,2,2
500007,2021-01-20,2021-01-18,9999-99-99,97,2,54,1,2,2,2
500008,2021-01-20,2021-01-10,9999-99-99,97,2,60,1,97,2,2
500009,2021-01-14,2021-01-11,9999-99-99,97,2,28,1,97,2,2
500010,2021-01-15,2021-01-14,9999-99-99,97,2,15,1,2,2,2
500011,2021-01-13,2021-01-13,9999-99-99,97,2,43,1,97,2,2
500012,2021-01-19,2021-01-19,9999-99-99,97,2,32,1,2,2,2
500013,2021-01-13,2021-01-13,9999-99-99,97,2,62,1,97,2,2
500014,2021-01-19,2021-01-12,9999-99-99,97,2,27,1,97,2,2
500015,2021-01-20,2021-01-20,9999-99-99,97,2,27,1,97,2,2
500016,2021-01-20,2021-01-20,9999-99-99,97,2,25,1,2,2,2
500017,2021-01-20,2021-01-17,9999-99-99,97,2,13,1,97,2,2
500018,2021-01-20,2021-01-20,9999-99-99,97,2,28,1,2,2,2
500019,2021-01-19,2021-01-12,9999-99-99,97,2,24,1,97,99,99
500020,2021-01-19,2021-01-16,2021-01-19,2,1,52,1,97,2,2
500021,2021-01-14,2021-01-14,9999-99-99,97,2,25,1,97,2,2
500022,2021-01-20,2021-01-16,9999-99-99,97,2,44,1,97,2,2
500023,2021-01-19,2021-01-19,9999-99-99,97,2,30,1,2,2,2
500024,2021-01-13,2021-01-10,9999-99-99,97,2,28,1,97,2,2
500025,2021-01-20,2021-01-18,9999-99-99,97,2,50,1,2,2,2
500026,2021-01-19,2021-01-19,9999-99-99,2,1,66,1,97,2,2
500027,2021-01-17,2021-01-17,9999-99-99,97,2,10,1,97,2,2
500028,2021-01-14,2021-01-09,9999-99-99,97,2,23,1,2,2,2
500029,2021-01-13,2021-01-13,9999-99-99,97,2,41,1,97,2,2

In [50]:
DATOS.iloc[90000:90009,3:5]

       SECTOR  ENTIDAD_UM
90000      12          26
90001       4          17
90002      12           9
90003       4           5
90004      12           9
90005      12          32
90006       4          31
90007      12          21
90008      12           9

In [56]:
DATOS.loc[86000:86005][["SECTOR","ENTIDAD_UM","INDIGENA","HIPERTENSION"]]

       SECTOR  ENTIDAD_UM  INDIGENA  HIPERTENSION
86000      12          11         2             2
86001       4           1         2             2
86002      12           9         2             2
86003      12           9         2             2
86004      12          14         2             2
86005      12          32         2             2

In [54]:
DATOS.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [58]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\World_Bank_Data_India_Definitions.csv"

In [67]:
INDIA = pd.read_csv(RUTA, sep = ",")

In [68]:
INDIA.shape

(27, 7)

In [70]:
INDIA[10:20][["Indicator Name"]]

                                       Indicator Name
10  Unemployment with advanced education (% of tot...
11  Unemployment with intermediate education (% of...
12  Self-employed, total (% of total employment) (...
13  Employment in services (% of total employment)...
14  Employment in industry (% of total employment)...
15  Employment in agriculture (% of total employme...
16                   Industry, value added (% of GDP)
17                Agriculture, value added (% of GDP)
18      GDP per person employed (constant 2011 PPP $)
19  Government expenditure on education, total (% ...

In [74]:
INDIA[5:11][['Long definition']]

                                      Long definition
5   Labor force comprises people ages 15 and older...
6   The percentage of the working age population w...
7   The percentage of the working age population w...
8   The percentage of the working age population w...
9   Unemployment refers to the share of the labor ...
10  The percentage of the labor force with an adva...

In [78]:
INDIA.iloc[1:15,2:5]

,Long definition,Source,Unnamed: 4
1,Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN
2,Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN
3,Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN
4,Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN
5,Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,NaN
6,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN
7,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN
8,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",NaN
9,Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",NaN
10,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",NaN
11,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",NaN
12,"Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives
13,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN
14,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",NaN

In [81]:
INDIA.iloc[2:9,3:5]

                                              Source Unnamed: 4
2  World Bank staff estimates using the World Ban...        NaN
3  World Bank staff estimates using the World Ban...        NaN
4  International Labour Organization, ILOSTAT dat...        NaN
5  Derived using data from International Labour O...        NaN
6  International Labour Organization, ILOSTAT dat...        NaN
7  International Labour Organization, ILOSTAT dat...        NaN
8  International Labour Organization, ILOSTAT dat...        NaN

In [88]:
INDIA.loc[2:25][['Source','Unnamed: 4','Unnamed: 5','Unnamed: 6']]

,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
2,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
3,World Bank staff estimates using the World Ban...,NaN,NaN,NaN
4,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
5,Derived using data from International Labour O...,NaN,NaN,NaN
6,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
7,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
8,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
9,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
10,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
11,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
12,own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
14,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
15,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
16,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
17,"World Bank national accounts data, and OECD Na...",NaN,NaN,NaN
18,"International Labour Organization, ILOSTAT dat...",NaN,NaN,NaN
19,"United Nations Educational, Scientific, and Cu...",NaN,NaN,NaN
20,"International Monetary Fund, International Fin...",NaN,NaN,NaN
21,(1) United Nations Population Division. World ...,NaN,NaN,NaN
22,(1) United Nations Population Division. World ...,NaN,NaN,NaN
23,(1) United Nations Population Division. World ...,NaN,NaN,NaN
24,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
25,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN

In [85]:
INDIA.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [93]:
INDIA.loc[5:15][["Code","Source"]]

            Code                                             Source
5        LF_TOTL  Derived using data from International Labour O...
6    LF_ADVN_EDU  International Labour Organization, ILOSTAT dat...
7    LF_BASC_EDU  International Labour Organization, ILOSTAT dat...
8    LF_INTM_EDU  International Labour Organization, ILOSTAT dat...
9       UEM_TOTL  International Labour Organization, ILOSTAT dat...
10  UEM_ADVN_EDU  International Labour Organization, ILOSTAT dat...
11  UEM_INTM_EDU  International Labour Organization, ILOSTAT dat...
12      EMP_SELF                                own-account workers
13       EMP_SRV  International Labour Organization, ILOSTAT dat...
14       EMP_IND  International Labour Organization, ILOSTAT dat...
15       EMP_AGR  International Labour Organization, ILOSTAT dat...

In [94]:
INDIA.shape

(27, 7)

In [95]:
INDIA.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [97]:
INDIA.loc[8:12][["Source"]]

                                               Source
8   International Labour Organization, ILOSTAT dat...
9   International Labour Organization, ILOSTAT dat...
10  International Labour Organization, ILOSTAT dat...
11  International Labour Organization, ILOSTAT dat...
12                                own-account workers

In [98]:
INDIA.loc[20:26]["Unnamed: 5"]

20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
Name: Unnamed: 5, dtype: object

In [99]:
INDIA.iloc[10:12,2:4]

,Long definition,Source
10,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat..."
11,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat..."

In [100]:
INDIA.iloc[20:,3:]

,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
20,"International Monetary Fund, International Fin...",NaN,NaN,NaN
21,(1) United Nations Population Division. World ...,NaN,NaN,NaN
22,(1) United Nations Population Division. World ...,NaN,NaN,NaN
23,(1) United Nations Population Division. World ...,NaN,NaN,NaN
24,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
25,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN
26,Derived based on the data from WHO's World Hea...,NaN,NaN,NaN

In [104]:
INDIA.loc[18:25][["Code"]]

            Code
18    GDP_PP_EMP
19  XPD_TOTL_EDU
20          INFL
21          FRTL
22            BR
23            DR
24         D_COM
25         D_INJ

In [105]:
INDIA.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [108]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\CORRELACION_VENTAS.csv"

In [111]:
VENTAS = pd.read_csv(RUTA, sep = ",")

In [112]:
VENTAS

  ;TV;RADIO;Newspaper;Sales
0    0;230.1;37.8;69.2;22.1
1     1;44.5;39.3;45.1;10.4
2     2;17.2;45.9;69.3;12.0
3    3;151.5;41.3;58.5;16.5
4    4;180.8;10.8;58.4;17.9

In [113]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"

In [114]:
MODEL = pd.read_csv(RUTA)

In [115]:
MODEL

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [117]:
pd.isnull(MODEL[["State"]])

     State
0    False
1    False
2    False
3    False
4    False
..     ...
662  False
663  False
664  False
665  False
666  False

[667 rows x 1 columns]

In [118]:
pd.isnull(MODEL[["State"]]).values.sum()

0

In [123]:
pd.notnull(MODEL["International plan"]).values.sum()

667

In [119]:
MODEL.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [125]:
MODEL.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,102.841079,436.157421,8.407796,180.948126,100.937031,30.761769,203.355322,100.476762,17.285262,199.685307,100.113943,8.985907,10.238381,4.527736,2.764948,1.563718
std,40.819480,41.783305,13.994480,55.508628,20.396790,9.436463,49.719268,18.948262,4.226160,49.759931,20.172505,2.239429,2.807850,2.482442,0.758167,1.333357
min,1.000000,408.000000,0.000000,25.900000,30.000000,4.400000,48.100000,37.000000,4.090000,23.200000,42.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,76.000000,408.000000,0.000000,146.250000,87.500000,24.860000,171.050000,88.000000,14.540000,167.950000,86.000000,7.560000,8.600000,3.000000,2.320000,1.000000
50%,102.000000,415.000000,0.000000,178.300000,101.000000,30.310000,203.700000,101.000000,17.310000,201.600000,100.000000,9.070000,10.500000,4.000000,2.840000,1.000000
75%,128.000000,415.000000,20.000000,220.700000,115.000000,37.520000,236.450000,113.000000,20.095000,231.500000,113.500000,10.420000,12.050000,6.000000,3.255000,2.000000
max,232.000000,510.000000,51.000000,334.300000,165.000000,56.830000,361.800000,168.000000,30.750000,367.700000,175.000000,16.550000,18.300000,18.000000,4.940000,8.000000

In [130]:
MODEL[20:50][['Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge']]

,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge
20,148.6,91,25.26,131.1,97,11.14
21,58.9,125,10.01,169.6,59,14.42
22,239.8,125,40.77,214.8,111,18.26
23,166.3,125,28.27,158.2,86,13.45
24,146.7,91,24.94,203.5,78,17.30
25,181.5,121,30.86,218.4,98,18.56
26,102.8,119,17.48,206.7,91,17.57
27,187.9,116,31.94,157.6,117,13.40
28,183.6,117,31.21,256.7,72,21.82
29,230.9,87,39.25,187.4,90,15.93
30,182.1,91,30.96,169.7,98,14.42
31,119.3,87,20.28,211.5,101,17.98
32,116.8,87,19.86,178.9,93,15.21
33,202.1,103,34.36,229.4,86,19.50
34,271.6,71,46.17,229.4,108,19.50
35,326.5,67,55.51,176.3,113,14.99
36,243.8,98,41.45,83.9,72,7.13
37,241.1,72,40.99,155.6,98,13.23
38,136.1,112,23.14,272.9,96,23.20
39,213.4,111,36.28,234.5,94,19.93
40,196.6,84,33.42,313.2,92,26.62
41,134.4,106,22.85,211.3,98,17.96
42,83.6,148,14.21,120.9,91,10.28
43,181.8,85,30.91,202.4,98,17.20
44,154.0,114,26.18,278.0,137,23.63
45,119.0,101,20.23,230.0,134,19.55
46,165.9,126,28.20,216.5,93,18.40
47,62.6,111,10.64,180.6,126,15.35
48,168.3,110,28.61,221.2,73,18.80
49,262.4,55,44.61,194.6,113,16.54

In [127]:
MODEL.shape

(667, 20)

In [126]:
MODEL.columns.tolist()

['State',
 'Account length',
 'Area code',
 'International plan',
 'Voice mail plan',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls',
 'Churn']

In [135]:
MODEL[150:180][["Account length"]]

     Account length
150             156
151              63
152              83
153             158
154             115
155             103
156              64
157              86
158             151
159              87
160              90
161             108
162              33
163             149
164             106
165             167
166              35
167             107
168              92
169              38
170              68
171             123
172              75
173             153
174             143
175              87
176             100
177             144
178              70
179             136

In [137]:
MODEL.loc[520:545][['Number vmail messages', 'Total day minutes']]

     Number vmail messages  Total day minutes
520                      0              245.9
521                      0              205.9
522                      0              186.8
523                      0              192.1
524                      0              240.7
525                      0              255.1
526                     24              183.6
527                     30              155.2
528                      0              203.4
529                      0              279.1
530                      0              189.8
531                      0              198.5
532                      0              158.7
533                      0              137.8
534                     39              139.3
535                      0              177.4
536                      0              115.6
537                      0               51.5
538                      0              131.7
539                     30              106.5
540                     34              247.2
541                      0              158.8
542                      0              239.1
543                     28              175.8
544                     42              193.3
545                     33              137.8

In [136]:
MODEL.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [141]:
MODEL.iloc[100:300,13:19]

,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
100,117,12.96,5.6,2,1.51,3
101,114,5.55,9.4,4,2.54,2
102,136,3.05,13.0,6,3.51,1
103,91,11.89,11.9,7,3.21,0
104,99,11.09,9.2,10,2.48,4
...,...,...,...,...,...,...
295,95,7.49,9.1,8,2.46,0
296,103,8.61,12.2,4,3.29,0
297,108,6.98,11.9,4,3.21,0
298,135,10.49,8.8,7,2.38,4
299,98,10.33,11.8,2,3.19,6

In [138]:
MODEL.shape

(667, 20)

In [142]:
MODEL_BK = MODEL.copy()

In [143]:
MODEL_BK

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [149]:
MODEL_BK = MODEL.copy()
MODEL_BK = MODEL_BK.fillna("-")

In [156]:
MODEL_BK.head(60)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
7,ID,119,415,No,No,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,True
8,VA,10,408,No,No,0,186.1,112,31.64,190.2,66,16.17,282.8,57,12.73,11.4,6,3.08,2,False
9,WI,68,415,No,No,0,148.8,70,25.30,246.5,164,20.95,129.8,103,5.84,12.1,3,3.27,3,False
10,MN,74,510,No,Yes,33,193.7,91,32.93,246.1,96,20.92,138.0,92,6.21,14.6,3,3.94,2,False
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
12,MN,46,415,No,No,0,214.1,72,36.40,164.4,104,13.97,177.5,113,7.99,8.2,3,2.21,2,False
13,VT,128,510,No,Yes,29,179.3,104,30.48,225.9,86,19.20,323.0,78,14.54,8.6,7,2.32,0,False
14,LA,155,415,No,No,0,203.4,100,34.58,190.9,104,16.23,196.0,119,8.82,8.9,4,2.40,0,True
15,MT,73,415,No,No,0,160.1,110,27.22,213.3,72,18.13,174.1,72,7.83,13.0,4,3.51,0,False
16,ID,77,415,No,No,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,True
17,MA,108,415,No,No,0,178.3,137,30.31,189.0,76,16.07,129.1,102,5.81,14.6,5,3.94,0,False
18,KY,95,408,No,No,0,135.0,99,22.95,183.6,106,15.61,245.3,102,11.04,12.5,9,3.38,1,False
19,MI,36,510,No,Yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,False
20,CO,141,415,No,Yes,32,148.6,91,25.26,131.1,97,11.14,219.4,142,9.87,10.1,1,2.73,1,False
21,AZ,63,415,No,No,0,58.9,125,10.01,169.6,59,14.42,211.4,88,9.51,9.4,3,2.54,1,False
22,ID,97,408,No,No,0,239.8,125,40.77,214.8,111,18.26,143.3,81,6.45,8.7,5,2.35,2,False
23,CA,75,408,No,No,0,166.3,125,28.27,158.2,86,13.45,256.7,80,11.55,6.1,5,1.65,1,False
24,WA,127,408,No,No,0,146.7,91,24.94,203.5,78,17.30,203.4,110,9.15,13.7,3,3.70,1,False
25,LA,121,408,No,No,0,181.5,121,30.86,218.4,98,18.56,161.6,103,7.27,8.5,5,2.30,1,False
26,NE,117,415,No,No,0,102.8,119,17.48,206.7,91,17.57,299.0,105,13.46,10.1,7,2.73,1,False
27,OH,65,408,No,No,0,187.9,116,31.94,157.6,117,13.40,227.3,86,10.23,7.5,6,2.03,1,False
28,MO,6,510,No,No,0,183.6,117,31.21,256.7,72,21.82,178.6,79,8.04,10.2,2,2.75,1,False
29,AL,32,510,No,No,0,230.9,87,39.25,187.4,90,15.93,154.0,53,6.93,6.3,2,1.70,0,False
30,NH,64,408,No,Yes,27,182.1,91,30.96,169.7,98,14.42,164.7,86,7.41,10.6,5,2.86,2,False
31,NM,25,415,No,No,0,119.3,87,20.28,211.5,101,17.98,268.9,86,12.10,10.5,4,2.84,3,False
32,OR,65,415,No,No,0,116.8,87,19.86,178.9,93,15.21,182.4,150,8.21,14.1,2,3.81,1,False
33,MI,127,415,No,No,0,202.1,103,34.36,229.4,86,19.50,195.2,113,8.78,11.5,3,3.11,2,False
34,AZ,93,415,No,No,0,271.6,71,46.17,229.4,108,19.50,77.3,121,3.48,10.9,3,2.94,2,False
35,TX,208,510,No,No,0,326.5,67,55.51,176.3,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True
36,IN,122,415,No,No,0,243.8,98,41.45,83.9,72,7.13,179.8,84,8.09,13.7,8,3.70,2,False
37,LA,99,415,No,No,0,241.1,72,40.99,155.6,98,13.23,188.2,109,8.47,11.6,10,3.13,1,False
38,MS,65,415,No,No,0,136.1,112,23.14,272.9,96,23.20,220.2,104,9.91,4.4,2,1.19,1,False
39,IN,65,415,No,No,0,213.4,111,36.28,234.5,94,19.93,250.1,123,11.25,2.7,4,0.73,1,False
40,KY,45,415,No,Yes,22,196.6,84,33.42,313.2,92,26.62,163.3,108,7.35,11.9,3,3.21,0,False
41,MN,139,510,No,No,0,134.4,106,22.85,211.3,98,17.96,193.6,125,8.71,10.2,2,2.75,5,True
42,WY,215,510,No,No,0,83.6,148,14.21,120.9,91,10.28,226.6,110,10.20,10.7,9,2.89,0,False
43,AZ,94,408,No,No,0,181.8,85,30.91,202.4,98,17.20,245.9,97,11.07,9.2,2,2.48,4,False
44,NM,119,510,No,Yes,23,154.0,114,26.18,278.0,137,23.63,228.4,112,10.28,11.8,4,3.19,2,False
45,MI,86,510,No,Yes,41,119.0,101,20.23,230.0,134,19.55,236.9,58,10.66,9.5,3,2.57,0,False
46,FL,106,408,No,Yes,32,165.9,126,28.20,216.5,93,18.40,173.1,86,7.79,14.1,8,3.81,4,False
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
48,SC,78,510,No,No,0,168.3,110,28.61,221.2,73,18.80,241.0,136,10.85,12.5,1,3.38,1,False
49,NC,155,408,No,No,0,262.4,55,44.61,194.6,113,16.54,146.5,85,6.59,8.3,6,2.24,2,False
50,MO,64,510,No,Yes,48,94.4,104,16.05,136.2,101,11.58,147.4,89,6.63,4.5,4,1.22,0,False
51,WA,83,415,No,No,0,221.4,103,37.64,231.8,103,19.70,122.5,100,5.51,9.8,5,2.65,3,False
52,SD,144,408,No,Yes,48,189.8,96,32.27,123.4,67,10.49,214.2,106,9.64,6.5,2,1.76,2,True
53,MT,143,415,No,No,0,172.3,97,29.29,174.0,108,14.79,188.2,119,8.47,13.0,4,3.51,2,False
54,MN,81,415,No,No,0,198.4,93,33.73,210.9,108,17.93,193.3,71,8.70,10.4,6,2.81,2,False
55,SD,145,408,No,Yes,24,147.5,90,25.08,175.7,108,14.93,252.1,102,11.34,15.6,3,4.21,2,False
56,OK,89,510,No,No,0,303.9,95,51.66,260.9,114,22.18,312.1,89,14.04,5.3,3,1.43,1,True
57,CT,199,415,No,Yes,34,230.6,121,39.20,219.4,99,18.65,299.3,94,13.47,8.0,2,2.16,0,False
58,CT,96,415,No,Yes,37,172.7,93,29.36,120.1,116,10.21,216.1,86,9.72,10.3,5,2.78,5,True
59,MN,94,415,No,No,0,181.5,98,30.86,199.9,88,16.99,287.7,114,12.95,6.6,5,1.78,1,False

In [158]:
INDIA_BK = INDIA.copy()

In [159]:
INDIA_BK = INDIA.copy()
INDIA_BK = INDIA_BK.fillna("-")
INDIA_BK

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,-,-,-
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,-,-,-
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,-,-,-
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,-,-,-
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",-,-,-
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,-,-,-
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",-,-,-
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",-,-,-
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",-,-,-
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",-,-,-
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",-,-,-
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",-,-,-
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",-,-,-
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",-,-,-
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",-,-,-
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",-,-,-
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",-,-,-
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",-,-,-
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",-,-,-
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",-,-,-
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,-,-,-
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,-,-,-
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,-,-,-
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,-,-,-
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,-,-,-
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,-,-,-

In [161]:
INDIA_BK = INDIA.copy()
INDIA_BK = INDIA_BK.fillna("100")
INDIA_BK

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,100,100,100
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,100,100,100
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,100,100,100
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,100,100,100
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",100,100,100
5,LF_TOTL,"Labor force, total",Labor force comprises people ages 15 and older...,Derived using data from International Labour O...,100,100,100
6,LF_ADVN_EDU,Labor force with advanced education (% of tota...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",100,100,100
7,LF_BASC_EDU,Labor force with basic education (% of total w...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",100,100,100
8,LF_INTM_EDU,Labor force with intermediate education (% of ...,The percentage of the working age population w...,"International Labour Organization, ILOSTAT dat...",100,100,100
9,UEM_TOTL,"Unemployment, total (% of total labor force) (...",Unemployment refers to the share of the labor ...,"International Labour Organization, ILOSTAT dat...",100,100,100
10,UEM_ADVN_EDU,Unemployment with advanced education (% of tot...,The percentage of the labor force with an adva...,"International Labour Organization, ILOSTAT dat...",100,100,100
11,UEM_INTM_EDU,Unemployment with intermediate education (% of...,The percentage of the labor force with an inte...,"International Labour Organization, ILOSTAT dat...",100,100,100
12,EMP_SELF,"Self-employed, total (% of total employment) (...","Self-employed workers are those workers who, w...",own-account workers,members of producers' cooperatives,"and contributing family workers.""","International Labour Organization, ILOSTAT dat..."
13,EMP_SRV,Employment in services (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",100,100,100
14,EMP_IND,Employment in industry (% of total employment)...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",100,100,100
15,EMP_AGR,Employment in agriculture (% of total employme...,Employment is defined as persons of working ag...,"International Labour Organization, ILOSTAT dat...",100,100,100
16,GDP_IND,"Industry, value added (% of GDP)",Industry corresponds to ISIC divisions 10-45 a...,"World Bank national accounts data, and OECD Na...",100,100,100
17,GDP_AGR,"Agriculture, value added (% of GDP)",Agriculture corresponds to ISIC divisions 1-5 ...,"World Bank national accounts data, and OECD Na...",100,100,100
18,GDP_PP_EMP,GDP per person employed (constant 2011 PPP $),GDP per person employed is gross domestic prod...,"International Labour Organization, ILOSTAT dat...",100,100,100
19,XPD_TOTL_EDU,"Government expenditure on education, total (% ...",General government expenditure on education (c...,"United Nations Educational, Scientific, and Cu...",100,100,100
20,INFL,"Inflation, consumer prices (annual %)",Inflation as measured by the consumer price in...,"International Monetary Fund, International Fin...",100,100,100
21,FRTL,"Fertility rate, total (births per woman)",Total fertility rate represents the number of ...,(1) United Nations Population Division. World ...,100,100,100
22,BR,"Birth rate, crude (per 1,000 people)",Crude birth rate indicates the number of live ...,(1) United Nations Population Division. World ...,100,100,100
23,DR,"Death rate, crude (per 1,000 people)",Crude death rate indicates the number of death...,(1) United Nations Population Division. World ...,100,100,100
24,D_COM,"Cause of death, by communicable diseases and m...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,100,100,100
25,D_INJ,"Cause of death, by injury (% of total)",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,100,100,100
26,D_NC,"Cause of death, by non-communicable diseases (...",Cause of death refers to the share of all deat...,Derived based on the data from WHO's World Hea...,100,100,100

In [172]:
INDIA_BK = INDIA.copy()
INDIA_BK = INDIA_BK.fillna("11")
INDIA_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,11,11,11
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,11,11,11
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,11,11,11
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,11,11,11
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",11,11,11

In [173]:
INDIA_BK = INDIA.copy()
INDIA_BK = INDIA_BK.fillna("-")
INDIA_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,-,-,-
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,-,-,-
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,-,-,-
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,-,-,-
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",-,-,-

In [175]:
INDIA_BK = INDIA.copy()
INDIA_BK["Unnamed: 4"] = INDIA_BK["Unnamed: 4"].fillna(2)
INDIA_BK["Unnamed: 5"] = INDIA_BK["Unnamed: 5"].fillna(3)
INDIA_BK["Unnamed: 6"] = INDIA_BK["Unnamed: 6"].fillna(6)

In [176]:
INDIA_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,2,3,6
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,2,3,6
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,2,3,6
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,2,3,6
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",2,3,6

In [163]:
INDIA_BK.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [180]:
INDIA_BK = INDIA.copy()
INDIA_BK = INDIA_BK.fillna("SIN_DATOS")
INDIA_BK.head()

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,SIN_DATOS,SIN_DATOS,SIN_DATOS
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,SIN_DATOS,SIN_DATOS,SIN_DATOS
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,SIN_DATOS,SIN_DATOS,SIN_DATOS
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,SIN_DATOS,SIN_DATOS,SIN_DATOS
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",SIN_DATOS,SIN_DATOS,SIN_DATOS

In [184]:
INDIA_BK = INDIA.copy()
INDIA_BK["Unnamed: 6"] = INDIA_BK["Unnamed: 6"].fillna("no disponible")
INDIA_BK["Unnamed: 6"] = INDIA_BK["Unnamed: 6"].fillna("no disponible")
INDIA_BK.head(5)

,Code,Indicator Name,Long definition,Source,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,POP_TOTL,"Population, total",Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,NaN,NaN,no disponible
1,POP_014,"Population ages 0-14, total",Total population between the ages 0 to 14. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,no disponible
2,POP_1564,"Population ages 15-64, total",Total population between the ages 15 to 64. Po...,World Bank staff estimates using the World Ban...,NaN,NaN,no disponible
3,POP_65,"Population ages 65 and above, total",Total population 65 years of age or older. Pop...,World Bank staff estimates using the World Ban...,NaN,NaN,no disponible
4,EMP_TOTL,"Total employment, total (ages 15+)",Total employment shows the total number employ...,"International Labour Organization, ILOSTAT dat...",NaN,NaN,no disponible

In [3]:
INDIA_BK = INDIA.copy()
INDIA_BK["Unnamed: 4"] = INDIA_BK["Unnamed: 4"].fillna(90)
INDIA_BK["Unnamed: 5"] = INDIA_BK["Unnamed: 5"].fillna(100)
INDIA_BK["Unnamed: 6"] = INDIA_BK["Unnamed: 6"].fillna("no disponible")
INDIA_BK

NameError: name 'INDIA' is not defined

In [19]:
import pandas as pd

In [20]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\COV\\COVID19.csv"

In [21]:
DATA = pd.read_csv(RUTA, sep = ",")
DATA

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-08-09,z53cb3,2,12,9,2,9,9,2,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
1,2022-08-09,zze974,1,6,24,1,24,24,35,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
2,2022-08-09,zz7202,1,12,16,2,16,16,112,1,...,1,1,2,2,97,7,99,MÃ©xico,97,97
3,2022-08-09,z405fd,1,12,9,2,9,9,11,1,...,1,2,97,1,2,7,99,MÃ©xico,97,97
4,2022-08-09,z26b82,2,12,9,1,9,9,7,1,...,2,2,97,1,2,7,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8830340,2022-08-09,m0f93ef,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830341,2022-08-09,m08e5a6,2,12,15,1,13,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830342,2022-08-09,m0bea6e,2,12,15,1,15,15,58,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830343,2022-08-09,m00eab3,2,12,15,2,9,15,60,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97
8830344,2022-08-09,m0bfb28,2,12,15,1,9,15,60,1,...,99,2,97,1,2,7,99,MÃ©xico,97,97

In [23]:
DATA.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [27]:
DATA.iloc[100:2000,11:20]

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,97,2,8,1,2,2,2
101,2021-12-21,9999-99-99,97,2,32,1,2,2,2
102,2021-04-05,9999-99-99,97,2,27,1,2,2,2
103,2021-09-01,9999-99-99,97,2,48,1,2,2,2
104,2021-12-31,9999-99-99,97,2,41,1,97,2,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,97,2,47,1,97,2,2
1996,2021-12-25,9999-99-99,97,2,23,1,97,2,2
1997,2021-12-24,9999-99-99,97,2,75,1,2,2,2
1998,2021-06-10,9999-99-99,97,2,24,1,97,2,2
1999,2021-08-17,9999-99-99,97,2,30,1,97,2,2

In [30]:
DATA_2 = DATA.iloc[100:2000,11:20]

In [35]:
DATA_2["NACIONALIDAD"] = "NaN"
DATA_2["EMBARAZO"] = "NaN"
DATA_2["HABLA_LENGUA_INDIG"] = "NaN"
DATA_2["INTUBADO"] = "NaN"

In [38]:
DATA_2.head(5)

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2

In [55]:
DATA_2[5:10][["NEUMONIA"]] = 5

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3645: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = value

In [51]:
DATA_2

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [58]:
DATOS_A = DATA_2.copy()
DATOS_A

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [60]:
DATOS_A = DATA_2.copy()
DATOS_A = DATOS_A.dropna(axis = 0, how = "any")
DATOS_A

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [61]:
DATOS_A = DATA_2.copy()
DATOS_A = DATOS_A.dropna(axis = 0, how = "all")
DATOS_A.head(10)

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
105,2021-01-08,9999-99-99,NaN,5,33,NaN,NaN,NaN,2
106,2021-01-24,9999-99-99,NaN,5,57,NaN,NaN,NaN,2
107,2021-01-04,9999-99-99,NaN,5,16,NaN,NaN,NaN,2
108,2021-10-18,9999-99-99,NaN,5,23,NaN,NaN,NaN,2
109,2021-02-05,9999-99-99,NaN,5,33,NaN,NaN,NaN,2

In [62]:
DATOS_A = DATA_2.copy()
DATOS_A = DATOS_A.dropna(axis = 1, how = "any")
DATOS_A.head(10)

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
105,2021-01-08,9999-99-99,NaN,5,33,NaN,NaN,NaN,2
106,2021-01-24,9999-99-99,NaN,5,57,NaN,NaN,NaN,2
107,2021-01-04,9999-99-99,NaN,5,16,NaN,NaN,NaN,2
108,2021-10-18,9999-99-99,NaN,5,23,NaN,NaN,NaN,2
109,2021-02-05,9999-99-99,NaN,5,33,NaN,NaN,NaN,2

In [63]:
DATOS_A = DATA_2.copy()
DATOS_A = DATOS_A.dropna(axis = 1, how = "all")
DATOS_A

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [66]:
DATOS_A = DATA_2.copy()
pd.isnull(DATOS_A[["EMBARAZO"]])

      EMBARAZO
100      False
101      False
102      False
103      False
104      False
...        ...
1995     False
1996     False
1997     False
1998     False
1999     False

[1900 rows x 1 columns]

In [70]:
DATOS_A = DATA_2.copy()

In [71]:
DATOS_A = DATA_2.copy()
pd.isnull(DATOS_A["NACIONALIDAD"]).values.sum()

0

In [72]:
DATOS_A = DATA_2.copy()
DATOS_A = DATOS_A.fillna("sin datos")
DATOS_A

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [73]:
DATOS_A = DATA_2.copy()
DATOS_A = DATOS_A.fillna(100)
DATOS_A

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [74]:
DATOS_A

,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,HABLA_LENGUA_INDIG,INDIGENA
100,2021-01-07,9999-99-99,NaN,2,8,NaN,NaN,NaN,2
101,2021-12-21,9999-99-99,NaN,2,32,NaN,NaN,NaN,2
102,2021-04-05,9999-99-99,NaN,2,27,NaN,NaN,NaN,2
103,2021-09-01,9999-99-99,NaN,2,48,NaN,NaN,NaN,2
104,2021-12-31,9999-99-99,NaN,2,41,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
1995,2021-12-24,9999-99-99,NaN,2,47,NaN,NaN,NaN,2
1996,2021-12-25,9999-99-99,NaN,2,23,NaN,NaN,NaN,2
1997,2021-12-24,9999-99-99,NaN,2,75,NaN,NaN,NaN,2
1998,2021-06-10,9999-99-99,NaN,2,24,NaN,NaN,NaN,2
1999,2021-08-17,9999-99-99,NaN,2,30,NaN,NaN,NaN,2

In [82]:
import pandas as pd

In [84]:
ruta = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\FE Guide_1.csv"

In [130]:
FE = pd.read_csv(ruta, sep = ";")

In [95]:
FE.head(4)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
import pandas as pd

In [129]:
GUIDE = FE.copy()

In [107]:
pd.isnull(GUIDE).values.sum()

98582

In [115]:
pd.notnull(GUIDE).values.sum()

81993

In [113]:
GUIDE = FE.copy()
GUIDE = GUIDE.fillna("-")
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,-,-,-,-,-,-
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,-,-,-,-,-,-
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,-,-,-,-,-,-
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,-,-,-,-,-,-
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,6750.0,645,386,528,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,7000.0,698,520,618,-,-,-,-,-,-
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,7000.0,697,521,618,-,-,-,-,-,-
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,3750.0,547,409,485,-,-,-,-,-,-
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,3500.0,456,318,394,-,-,-,-,-,-
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,3000.0,433,314,380,-,-,-,-,-,-

In [119]:
GUIDE = FE.copy()
pd.notnull(GUIDE).values.sum()

81993

In [120]:
GUIDE = FE.copy()
pd.isnull(GUIDE).values.sum()

98582

In [121]:
GUIDE = FE.copy()
GUIDE = GUIDE.fillna("100")
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,100,100,100,100,100,100
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,100,100,100,100,100,100
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,100,100,100,100,100,100
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,100,100,100,100,100,100
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,6750.0,645,386,528,100,100,100,100,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,7000.0,698,520,618,100,100,100,100,100,100
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,7000.0,697,521,618,100,100,100,100,100,100
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,3750.0,547,409,485,100,100,100,100,100,100
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,3500.0,456,318,394,100,100,100,100,100,100
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,3000.0,433,314,380,100,100,100,100,100,100

In [124]:
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,6750.0,645,386,528,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,7000.0,698,520,618,NaN,NaN,NaN,NaN,NaN,NaN
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,7000.0,697,521,618,NaN,NaN,NaN,NaN,NaN,NaN
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,3750.0,547,409,485,NaN,NaN,NaN,NaN,NaN,NaN
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,3500.0,456,318,394,NaN,NaN,NaN,NaN,NaN,NaN
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,3000.0,433,314,380,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
GUIDE = FE.copy()
GUIDE = GUIDE.fillna("no tiene informacion ")
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,6750.0,645,386,528,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,7000.0,698,520,618,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,7000.0,697,521,618,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,3750.0,547,409,485,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,3500.0,456,318,394,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,3000.0,433,314,380,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion,no tiene informacion

In [132]:
GUIDE = FE.copy()
GUIDE = GUIDE.fillna("#@@@#")
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,6750.0,645,386,528,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,7000.0,698,520,618,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,7000.0,697,521,618,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,3750.0,547,409,485,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,3500.0,456,318,394,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,3000.0,433,314,380,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#,#@@@#

In [133]:
pd.isnull(GUIDE)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1161,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1162,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1163,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1164,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [134]:
pd.isnull(GUIDE).values.sum()

0

In [138]:
GUIDE = FE.copy()
GUIDE = GUIDE.fillna("100")
GUIDE.head(3)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,100,100,100,100,100,100
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,100,100,100,100,100,100
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,100,100,100,100,100,100

#### ruta = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\FE Guide_1.csv"

In [139]:
GUIDE_COND = GUIDE[GUIDE["Mfr Name"] == "Honda"].copy()
GUIDE_COND

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,100,100,100,100,100,100
210,2021,Honda,Acura,ILX,HNX,29,"2,4",4,Auto(AM-S8),24,...,1250.0,365,257,316,100,100,100,100,100,100
211,2021,Honda,Acura,TLX AWD,HNX,18,2,4,Auto(S10),21,...,2750.0,424,303,369,100,100,100,100,100,100
212,2021,Honda,Acura,TLX AWD A-SPEC,HNX,17,2,4,Auto(S10),21,...,2750.0,425,305,371,100,100,100,100,100,100
213,2021,Honda,Acura,TLX FWD,HNX,20,2,4,Auto(S10),22,...,2250.0,404,289,352,100,100,100,100,100,100
214,2021,Honda,Acura,TLX FWD A-SPEC,HNX,19,2,4,Auto(S10),22,...,2250.0,408,295,357,100,100,100,100,100,100
215,2021,Honda,Acura,TLX Type-S,HNX,42,3,6,Auto(S10),19,...,4000.0,464,353,420,100,100,100,100,100,100
216,2021,Honda,Acura,TLX Type-S Perf Tire,HNX,43,3,6,Auto(S10),19,...,4000.0,463,368,421,100,100,100,100,100,100
240,2021,Honda,Honda,INSIGHT TOURING,HNX,2,"1,5",4,Auto(AV),51,...,100,172,199,184,100,100,100,100,100,100
369,2021,Honda,Honda,CIVIC 4Dr,HNX,36,"1,5",4,Auto(AV),32,...,100,277,212,248,100,100,100,100,100,100
370,2021,Honda,Honda,CIVIC 4Dr,HNX,35,"1,5",4,Auto(AV-S7),30,...,100,292,234,266,100,100,100,100,100,100
371,2021,Honda,Honda,CIVIC 4Dr,HNX,38,2,4,Auto(AV),30,...,100,298,232,268,100,100,100,100,100,100
372,2021,Honda,Honda,CIVIC 4Dr,HNX,37,2,4,Auto(AV-S7),29,...,100,306,242,277,100,100,100,100,100,100
373,2021,Honda,Honda,INSIGHT,HNX,1,"1,5",4,Auto(AV),55,...,100,161,182,170,100,100,100,100,100,100
489,2021,Honda,Honda,ACCORD,HNX,30,"1,5",4,Auto(AV),30,...,100,294,233,268,100,100,100,100,100,100
490,2021,Honda,Honda,ACCORD,HNX,33,2,4,Auto(AV),48,...,100,182,185,183,100,100,100,100,100,100
491,2021,Honda,Honda,ACCORD SPORT/TOURING,HNX,31,"1,5",4,Auto(AV-S7),29,...,100,300,251,278,100,100,100,100,100,100
492,2021,Honda,Honda,ACCORD SPORT/TOURING,HNX,34,2,4,Auto(AV),44,...,100,201,216,207,100,100,100,100,100,100
493,2021,Honda,Honda,ACCORD SPORT/TOURING,HNX,32,2,4,Auto(S10),22,...,250.0,401,277,345,100,100,100,100,100,100
494,2021,Honda,Honda,CIVIC 5DR,HNX,11,"1,5",4,Auto(AV),31,...,100,288,224,259,100,100,100,100,100,100
495,2021,Honda,Honda,CIVIC 5DR,HNX,12,"1,5",4,Auto(AV-S7),29,...,100,303,250,279,100,100,100,100,100,100
496,2021,Honda,Honda,CIVIC 5DR,HNX,10,"1,5",4,Manual(M6),29,...,100,305,237,274,100,100,100,100,100,100
497,2021,Honda,Honda,CIVIC 5DR,HNX,13,2,4,Manual(M6),22,...,2250.0,393,316,358,100,100,100,100,100,100
537,2021,Honda,Honda,HR-V AWD,HNX,24,"1,8",4,Auto(AV),27,...,100,335,283,311,100,100,100,100,100,100
538,2021,Honda,Honda,HR-V AWD,HNX,25,"1,8",4,Auto(AV-S7),26,...,100,337,287,315,100,100,100,100,100,100
539,2021,Honda,Honda,HR-V FWD,HNX,22,"1,8",4,Auto(AV),28,...,100,315,264,292,100,100,100,100,100,100
540,2021,Honda,Honda,HR-V FWD,HNX,23,"1,8",4,Auto(AV-S7),28,...,100,315,264,292,100,100,100,100,100,100
576,2021,Honda,Honda,RIDGELINE FWD,HNX,40,"3,5",6,Auto(S9),19,...,1750.0,470,346,414,100,100,100,100,100,100
687,2021,Honda,Honda,RIDGELINE AWD,HNX,41,"3,5",6,Auto(S9),18,...,2250.0,494,375,441,100,100,100,100,100,100
738,2021,Honda,Honda,ODYSSEY FWD,HNX,5,"3,5",6,Auto(S10),19,...,1750.0,456,319,394,100,100,100,100,100,100
743,2021,Honda,Acura,RDX FWD,HNX,7,2,4,Auto(S10),22,...,2750.0,399,314,370,100,100,100,100,100,100
744,2021,Honda,Acura,RDX FWD A-SPEC,HNX,9,2,4,Auto(S10),22,...,2750.0,412,330,375,100,100,100,100,100,100
771,2021,Honda,Honda,CR-V FWD,HNX,27,"1,5",4,Auto(AV),28,...,100,316,261,294,100,100,100,100,100,100
772,2021,Honda,Honda,PASSPORT FWD,HNX,15,"3,5",6,Auto(S9),20,...,1750.0,453,352,407,100,100,100,100,100,100
773,2021,Honda,Honda,PILOT FWD,HNX,3,"3,5",6,Auto(S9),20,...,1250.0,439,325,388,100,100,100,100,100,100
824,2021,Honda,Acura,RDX AWD,HNX,6,2,4,Auto(S10),21,...,3000.0,415,322,385,100,100,100,100,100,100
825,2021,Honda,Acura,RDX AWD A-SPEC,HNX,8,2,4,Auto(S10),21,...,3000.0,423,342,387,100,100,100,100,100,100
878,2021,Honda,Honda,CR-V AWD,HNX,26,"1,5",4,Auto(AV),27,...,100,327,273,305,100,100,100,100,100,100
879,2021,Honda,Honda,CR-V AWD,HNX,28,2,4,Auto(AV),40,...,100,218,253,234,100,100,100,100,100,100
880,2021,Honda,Honda,PASSPORT AWD,HNX,14,"3,5",6,Auto(S9),19,...,2250.0,474,370,427,100,100,100,100,100,100
881,2021,Honda,Honda,PILOT AWD,HNX,4,"3,5",6,Auto(S9),19,...,1750.0,463,337,406,100,100,100,100,100,100

In [140]:
GUIDE_COND

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,100,100,100,100,100,100
210,2021,Honda,Acura,ILX,HNX,29,"2,4",4,Auto(AM-S8),24,...,1250.0,365,257,316,100,100,100,100,100,100
211,2021,Honda,Acura,TLX AWD,HNX,18,2,4,Auto(S10),21,...,2750.0,424,303,369,100,100,100,100,100,100
212,2021,Honda,Acura,TLX AWD A-SPEC,HNX,17,2,4,Auto(S10),21,...,2750.0,425,305,371,100,100,100,100,100,100
213,2021,Honda,Acura,TLX FWD,HNX,20,2,4,Auto(S10),22,...,2250.0,404,289,352,100,100,100,100,100,100
214,2021,Honda,Acura,TLX FWD A-SPEC,HNX,19,2,4,Auto(S10),22,...,2250.0,408,295,357,100,100,100,100,100,100
215,2021,Honda,Acura,TLX Type-S,HNX,42,3,6,Auto(S10),19,...,4000.0,464,353,420,100,100,100,100,100,100
216,2021,Honda,Acura,TLX Type-S Perf Tire,HNX,43,3,6,Auto(S10),19,...,4000.0,463,368,421,100,100,100,100,100,100
240,2021,Honda,Honda,INSIGHT TOURING,HNX,2,"1,5",4,Auto(AV),51,...,100,172,199,184,100,100,100,100,100,100
369,2021,Honda,Honda,CIVIC 4Dr,HNX,36,"1,5",4,Auto(AV),32,...,100,277,212,248,100,100,100,100,100,100
370,2021,Honda,Honda,CIVIC 4Dr,HNX,35,"1,5",4,Auto(AV-S7),30,...,100,292,234,266,100,100,100,100,100,100
371,2021,Honda,Honda,CIVIC 4Dr,HNX,38,2,4,Auto(AV),30,...,100,298,232,268,100,100,100,100,100,100
372,2021,Honda,Honda,CIVIC 4Dr,HNX,37,2,4,Auto(AV-S7),29,...,100,306,242,277,100,100,100,100,100,100
373,2021,Honda,Honda,INSIGHT,HNX,1,"1,5",4,Auto(AV),55,...,100,161,182,170,100,100,100,100,100,100
489,2021,Honda,Honda,ACCORD,HNX,30,"1,5",4,Auto(AV),30,...,100,294,233,268,100,100,100,100,100,100
490,2021,Honda,Honda,ACCORD,HNX,33,2,4,Auto(AV),48,...,100,182,185,183,100,100,100,100,100,100
491,2021,Honda,Honda,ACCORD SPORT/TOURING,HNX,31,"1,5",4,Auto(AV-S7),29,...,100,300,251,278,100,100,100,100,100,100
492,2021,Honda,Honda,ACCORD SPORT/TOURING,HNX,34,2,4,Auto(AV),44,...,100,201,216,207,100,100,100,100,100,100
493,2021,Honda,Honda,ACCORD SPORT/TOURING,HNX,32,2,4,Auto(S10),22,...,250.0,401,277,345,100,100,100,100,100,100
494,2021,Honda,Honda,CIVIC 5DR,HNX,11,"1,5",4,Auto(AV),31,...,100,288,224,259,100,100,100,100,100,100
495,2021,Honda,Honda,CIVIC 5DR,HNX,12,"1,5",4,Auto(AV-S7),29,...,100,303,250,279,100,100,100,100,100,100
496,2021,Honda,Honda,CIVIC 5DR,HNX,10,"1,5",4,Manual(M6),29,...,100,305,237,274,100,100,100,100,100,100
497,2021,Honda,Honda,CIVIC 5DR,HNX,13,2,4,Manual(M6),22,...,2250.0,393,316,358,100,100,100,100,100,100
537,2021,Honda,Honda,HR-V AWD,HNX,24,"1,8",4,Auto(AV),27,...,100,335,283,311,100,100,100,100,100,100
538,2021,Honda,Honda,HR-V AWD,HNX,25,"1,8",4,Auto(AV-S7),26,...,100,337,287,315,100,100,100,100,100,100
539,2021,Honda,Honda,HR-V FWD,HNX,22,"1,8",4,Auto(AV),28,...,100,315,264,292,100,100,100,100,100,100
540,2021,Honda,Honda,HR-V FWD,HNX,23,"1,8",4,Auto(AV-S7),28,...,100,315,264,292,100,100,100,100,100,100
576,2021,Honda,Honda,RIDGELINE FWD,HNX,40,"3,5",6,Auto(S9),19,...,1750.0,470,346,414,100,100,100,100,100,100
687,2021,Honda,Honda,RIDGELINE AWD,HNX,41,"3,5",6,Auto(S9),18,...,2250.0,494,375,441,100,100,100,100,100,100
738,2021,Honda,Honda,ODYSSEY FWD,HNX,5,"3,5",6,Auto(S10),19,...,1750.0,456,319,394,100,100,100,100,100,100
743,2021,Honda,Acura,RDX FWD,HNX,7,2,4,Auto(S10),22,...,2750.0,399,314,370,100,100,100,100,100,100
744,2021,Honda,Acura,RDX FWD A-SPEC,HNX,9,2,4,Auto(S10),22,...,2750.0,412,330,375,100,100,100,100,100,100
771,2021,Honda,Honda,CR-V FWD,HNX,27,"1,5",4,Auto(AV),28,...,100,316,261,294,100,100,100,100,100,100
772,2021,Honda,Honda,PASSPORT FWD,HNX,15,"3,5",6,Auto(S9),20,...,1750.0,453,352,407,100,100,100,100,100,100
773,2021,Honda,Honda,PILOT FWD,HNX,3,"3,5",6,Auto(S9),20,...,1250.0,439,325,388,100,100,100,100,100,100
824,2021,Honda,Acura,RDX AWD,HNX,6,2,4,Auto(S10),21,...,3000.0,415,322,385,100,100,100,100,100,100
825,2021,Honda,Acura,RDX AWD A-SPEC,HNX,8,2,4,Auto(S10),21,...,3000.0,423,342,387,100,100,100,100,100,100
878,2021,Honda,Honda,CR-V AWD,HNX,26,"1,5",4,Auto(AV),27,...,100,327,273,305,100,100,100,100,100,100
879,2021,Honda,Honda,CR-V AWD,HNX,28,2,4,Auto(AV),40,...,100,218,253,234,100,100,100,100,100,100
880,2021,Honda,Honda,PASSPORT AWD,HNX,14,"3,5",6,Auto(S9),19,...,2250.0,474,370,427,100,100,100,100,100,100
881,2021,Honda,Honda,PILOT AWD,HNX,4,"3,5",6,Auto(S9),19,...,1750.0,463,337,406,100,100,100,100,100,100

In [144]:
GUIDE.head(2)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
GUIDE = FE.copy()
GUIDE["SUMA_DE_MOD_ENG"] = GUIDE["# Cyl"] + GUIDE["Index (Model Type Index)"].copy()
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,SUMA_DE_MOD_ENG
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN,45
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN,13
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN,12
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,663,450,567,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,645,386,528,NaN,NaN,NaN,NaN,NaN,NaN,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,698,520,618,NaN,NaN,NaN,NaN,NaN,NaN,14
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,697,521,618,NaN,NaN,NaN,NaN,NaN,NaN,42
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,547,409,485,NaN,NaN,NaN,NaN,NaN,NaN,7
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,456,318,394,NaN,NaN,NaN,NaN,NaN,NaN,56
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,433,314,380,NaN,NaN,NaN,NaN,NaN,NaN,57

In [150]:
GUIDE = FE.copy()
# Convertir la columna "Eng Displ" a tipo numÃ©rico (float)
GUIDE["Eng Displ"] = pd.to_numeric(GUIDE["Eng Displ"], errors='coerce')

# Ahora realiza la suma
GUIDE["SUMA_DE_MOD_ENG"] = GUIDE["Index (Model Type Index)"] + GUIDE["Eng Displ"].copy()

GUIDE.head(5)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,SUMA_DE_MOD_ENG
0,2021,Honda,Acura,NSX,HNX,39,NaN,6,Auto(AM-S9),21,...,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4.0,8,Manual(M7),14,...,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN,9.0
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4.0,8,Auto(S8),18,...,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN,8.0
3,2021,Volkswagen Group of,Audi,R8,VGA,5,NaN,10,Auto(AM-S7),13,...,663,450,567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,NaN,10,Auto(AM-S7),14,...,645,386,528,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
GUIDE.head(3)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,SUMA_DE_MOD_ENG
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN,45
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN,13
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN,12

In [155]:
GUIDE = FE.copy()

GUIDE["Eng Displ"] = pd.to_numeric(GUIDE["Eng Displ"], errors = "coerce") 

GUIDE["SUMANDO"] = (GUIDE["# Cyl"] + GUIDE["City FE (Guide) - Conventional Fuel"] + 
GUIDE["Hwy CO2 Rounded Adjusted"] + GUIDE["Comb CO2 Roun"] + GUIDE["Eng Displ"] - GUIDE["Model Year"]
                   ).copy()

GUIDE.head(2)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,SUMANDO
0,2021,Honda,Acura,NSX,HNX,39,NaN,6,Auto(AM-S9),21,...,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4.0,8,Manual(M7),14,...,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN,-1028.0

In [2]:
import pandas as pd

In [3]:
ruta = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\FE Guide_1.csv"

In [6]:
GUIA = pd.read_csv(ruta, sep= ";")
GUIA.head(5)

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,$ You Spend o,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,4000.0,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,6750.0,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,4750.0,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,7750.0,663,450,567,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,6750.0,645,386,528,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
GUIDE = GUIA.copy()
GUIDE["N_2"] = GUIDE["City FE (Guide) - Conventional Fuel"] * GUIDE["Comb CO2 Roun"]
GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,N_2
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN,8820
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,636,426,541,NaN,NaN,NaN,NaN,NaN,NaN,7574
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN,7830
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,663,450,567,NaN,NaN,NaN,NaN,NaN,NaN,7371
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,645,386,528,NaN,NaN,NaN,NaN,NaN,NaN,7392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,698,520,618,NaN,NaN,NaN,NaN,NaN,NaN,8034
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,697,521,618,NaN,NaN,NaN,NaN,NaN,NaN,8034
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,547,409,485,NaN,NaN,NaN,NaN,NaN,NaN,7760
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,456,318,394,NaN,NaN,NaN,NaN,NaN,NaN,7486
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,433,314,380,NaN,NaN,NaN,NaN,NaN,NaN,7600

In [17]:
LISTA = list(range(GUIDE.shape[0]))
GUIDE["COL_RANGE"] = LISTA.copy()

GUIDE

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,Hwy CO2 Rounded Adjusted,Comb CO2 Roun,CO2-PHEV Composit,240V Charge Ti,120V Charge time at 120 Volts (hours),City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,N_2,COL_RANGE
0,2021,Honda,Acura,NSX,HNX,39,"3,5",6,Auto(AM-S9),21,...,406,420,NaN,NaN,NaN,NaN,NaN,NaN,8820,0
1,2021,aston martin,Aston Martin Lagonda Ltd,Vantage Manual,ASX,5,4,8,Manual(M7),14,...,426,541,NaN,NaN,NaN,NaN,NaN,NaN,7574,1
2,2021,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4,8,Auto(S8),18,...,364,435,NaN,NaN,NaN,NaN,NaN,NaN,7830,2
3,2021,Volkswagen Group of,Audi,R8,VGA,5,"5,2",10,Auto(AM-S7),13,...,450,567,NaN,NaN,NaN,NaN,NaN,NaN,7371,3
4,2021,Volkswagen Group of,Audi,R8 2WD,VGA,7,"5,2",10,Auto(AM-S7),14,...,386,528,NaN,NaN,NaN,NaN,NaN,NaN,7392,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2021,Toyota,TOYOTA,LAND CRUISER WAGON 4WD,TYX,6,"5,7",8,Auto(S8),13,...,520,618,NaN,NaN,NaN,NaN,NaN,NaN,8034,1160
1161,2021,Toyota,TOYOTA,SEQUOIA 4WD,TYX,34,"5,7",8,Auto(S6),13,...,521,618,NaN,NaN,NaN,NaN,NaN,NaN,8034,1161
1162,2021,Volkswagen Group of,Volkswagen,Atlas 4Motion,VGA,1,"3,6",6,Auto(S8),16,...,409,485,NaN,NaN,NaN,NaN,NaN,NaN,7760,1162
1163,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,52,2,4,Auto(S8),19,...,318,394,NaN,NaN,NaN,NaN,NaN,NaN,7486,1163
1164,2021,Volvo,"Volvo Cars of North America, LLC",XC90 AWD,VVX,53,2,4,Auto(S8),20,...,314,380,NaN,NaN,NaN,NaN,NaN,NaN,7600,1164

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]