In [1]:
import pandas as pd

In [2]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\bookings\\hotel_bookings.csv"

In [3]:
HOTEL = pd.read_csv(RUTA, sep = ",")

In [7]:
HOTEL.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15

In [6]:
HOTEL.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [10]:
pd.isnull(HOTEL).values.sum()

129425

In [8]:
HOTEL.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [11]:
HOTEL["is_canceled"]

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_canceled, Length: 119390, dtype: int64

In [15]:
HOTEL[['previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent']]

,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent
0,0,0,C,C,3,NaN
1,0,0,C,C,4,NaN
2,0,0,A,C,0,NaN
3,0,0,A,A,0,304.0
4,0,0,A,A,0,240.0
...,...,...,...,...,...,...
119385,0,0,A,A,0,394.0
119386,0,0,E,E,0,9.0
119387,0,0,D,D,0,9.0
119388,0,0,A,A,0,89.0
119389,0,0,A,A,0,9.0

In [16]:
pd.isnull(HOTEL)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [17]:
pd.notnull(HOTEL)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119386,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119387,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119388,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
119389,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True

In [18]:
pd.isnull(HOTEL).values.sum()

129425

In [19]:
pd.notnull(HOTEL).values.sum()

3571665

In [21]:
HOTEL_BK = HOTEL.copy()

In [22]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK = HOTEL_BK.fillna("-")
HOTEL_BK.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,-,-,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,-,-,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,-,-,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,-,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,-,0,Transient,98.0,0,1,Check-Out,3/07/15

In [23]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK = HOTEL_BK.fillna("100")
HOTEL_BK.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,100,100,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,100,100,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,100,100,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,100,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,100,0,Transient,98.0,0,1,Check-Out,3/07/15

In [24]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK = HOTEL_BK.fillna(500)
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,500.0,500.0,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,500.0,500.0,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,500.0,500.0,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,500.0,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,500.0,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,500.0,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,500.0,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,500.0,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,500.0,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,500.0,0,Transient,151.20,0,2,Check-Out,7/09/17

In [26]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(300)
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,300.0,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,300.0,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,300.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17

In [27]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["company"] = HOTEL_BK["company"].fillna(800)
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,800.0,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,800.0,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,800.0,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,800.0,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,800.0,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,800.0,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,800.0,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,800.0,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,800.0,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,800.0,0,Transient,151.20,0,2,Check-Out,7/09/17

In [31]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["company"] = HOTEL_BK["company"].fillna(HOTEL_BK["company"].mean())

HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(HOTEL_BK["agent"].sum())

HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,8933753.0,189.266735,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,8933753.0,189.266735,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,8933753.0,189.266735,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,189.266735,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,189.266735,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,189.266735,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,189.266735,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,189.266735,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,189.266735,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,189.266735,0,Transient,151.20,0,2,Check-Out,7/09/17

In [29]:
HOTEL_BK.columns.tolist()

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [32]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(HOTEL_BK["agent"].min())
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,1.0,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,1.0,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,1.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17

In [36]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(HOTEL_BK["agent"].median())

HOTEL_BK["company"] = HOTEL_BK["company"].fillna(HOTEL_BK["company"].std())
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,14.0,131.655015,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,14.0,131.655015,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,14.0,131.655015,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,131.655015,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,131.655015,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,131.655015,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,131.655015,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,131.655015,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,131.655015,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,131.655015,0,Transient,151.20,0,2,Check-Out,7/09/17

In [33]:
HOTEL_BK.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [38]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(HOTEL["agent"].max())
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,535.0,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,535.0,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,535.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17

In [43]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["company"] = HOTEL_BK["company"].fillna(HOTEL_BK["company"].quantile(0.25))

HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(HOTEL_BK["agent"].quantile(0.50))
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,14.0,62.0,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,14.0,62.0,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,14.0,62.0,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,62.0,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,62.0,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,62.0,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,62.0,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,62.0,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,62.0,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,62.0,0,Transient,151.20,0,2,Check-Out,7/09/17

In [48]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["company"] = HOTEL_BK["company"].fillna(method = "backfill")
HOTEL_BK.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,110.0,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,110.0,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,110.0,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,110.0,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,110.0,0,Transient,98.0,0,1,Check-Out,3/07/15
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,110.0,0,Transient,98.0,0,1,Check-Out,3/07/15
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,NaN,110.0,0,Transient,107.0,0,0,Check-Out,3/07/15
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,303.0,110.0,0,Transient,103.0,0,1,Check-Out,3/07/15
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,240.0,110.0,0,Transient,82.0,0,1,Canceled,6/05/15
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,15.0,110.0,0,Transient,105.5,0,0,Canceled,22/04/15

#### backfill forwar fill

#### modificacion de valores faltantes con logicas BFILL Y FFILL

In [51]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK["agent"] = HOTEL_BK["agent"].fillna(method = "ffill")
HOTEL_BK.head(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,107.00,0,0,Check-Out,3/07/15
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,303.0,NaN,0,Transient,103.00,0,1,Check-Out,3/07/15
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,240.0,NaN,0,Transient,82.00,0,1,Canceled,6/05/15
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,15.0,NaN,0,Transient,105.50,0,0,Canceled,22/04/15
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,123.00,0,0,Canceled,23/06/15
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,145.00,0,0,Check-Out,5/07/15
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/07/15
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,1,241.0,NaN,0,Transient,154.77,0,1,Check-Out,5/07/15
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,241.0,NaN,0,Transient,94.71,0,0,Check-Out,5/07/15
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/07/15
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,8.0,NaN,0,Contract,97.50,0,0,Check-Out,5/07/15
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,0,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2/07/15
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,0,240.0,110.0,0,Transient,107.42,0,0,Check-Out,2/07/15
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,0,250.0,NaN,0,Transient,153.00,0,1,Check-Out,5/07/15

In [53]:
HOTEL_BK.tail(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119370,City Hotel,0,201,2017,August,35,30,1,4,1,...,0,9.0,NaN,0,Transient,108.00,0,2,Check-Out,4/09/17
119371,City Hotel,0,175,2017,August,35,31,1,3,2,...,1,42.0,NaN,0,Transient,86.85,0,2,Check-Out,4/09/17
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,0,42.0,NaN,0,Transient,82.35,0,1,Check-Out,4/09/17
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,0,42.0,NaN,0,Transient,82.35,0,1,Check-Out,4/09/17
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,0,9.0,NaN,0,Transient,117.00,0,2,Check-Out,4/09/17
119375,City Hotel,0,200,2017,August,35,30,1,4,2,...,0,16.0,NaN,0,Transient,85.50,0,1,Check-Out,4/09/17
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,0,9.0,NaN,0,Transient,209.25,0,3,Check-Out,4/09/17
119377,City Hotel,0,185,2017,August,35,30,1,4,2,...,0,9.0,NaN,0,Transient,99.00,0,1,Check-Out,4/09/17
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,0,42.0,NaN,0,Transient,86.85,0,0,Check-Out,4/09/17
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,0,9.0,NaN,0,Transient,155.00,0,1,Check-Out,4/09/17
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,0,9.0,NaN,0,Transient,140.75,0,1,Check-Out,4/09/17
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,0,14.0,NaN,0,Transient,99.00,0,0,Check-Out,5/09/17
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,0,7.0,NaN,0,Transient,209.00,0,0,Check-Out,5/09/17
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,0,42.0,NaN,0,Transient,87.60,0,0,Check-Out,6/09/17
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,2,Check-Out,6/09/17
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17

In [65]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK = HOTEL_BK.dropna(axis = 1, how = "any")
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,A,A,0,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,E,E,0,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,D,D,0,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,A,A,0,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,A,A,0,0,Transient,151.20,0,2,Check-Out,7/09/17

In [54]:
HOTEL_BK.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [66]:
HOTEL_BK = HOTEL.copy()
HOTEL_BK = HOTEL_BK.dropna(axis = 0, how = "any")
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,1,240.0,113.0,0,Transient,82.0,1,1,Check-Out,13/10/15
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,2,185.0,281.0,0,Transient-Party,52.2,0,0,Check-Out,17/11/15
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,1,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,6/11/15
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,2,328.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,15/11/15
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,2,326.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,16/11/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,0,9.0,478.0,0,Transient-Party,150.0,0,1,Check-Out,25/05/17
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,1,290.0,148.0,0,Transient,95.0,0,0,Check-Out,2/06/17
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,1,290.0,148.0,0,Transient,110.0,0,0,Check-Out,2/06/17
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,0,14.0,229.0,0,Transient,135.0,0,0,Check-Out,10/06/17
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,0,9.0,421.0,0,Transient,120.6,0,2,Check-Out,20/07/17

In [67]:
HOTEL_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,1,240.0,113.0,0,Transient,82.0,1,1,Check-Out,13/10/15
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,2,185.0,281.0,0,Transient-Party,52.2,0,0,Check-Out,17/11/15
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,1,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,6/11/15
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,2,328.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,15/11/15
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,2,326.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,16/11/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,0,9.0,478.0,0,Transient-Party,150.0,0,1,Check-Out,25/05/17
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,1,290.0,148.0,0,Transient,95.0,0,0,Check-Out,2/06/17
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,1,290.0,148.0,0,Transient,110.0,0,0,Check-Out,2/06/17
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,0,14.0,229.0,0,Transient,135.0,0,0,Check-Out,10/06/17
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,0,9.0,421.0,0,Transient,120.6,0,2,Check-Out,20/07/17

In [68]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\bookings\\hotel_bookings.csv"

In [70]:
DATOS = pd.read_csv(RUTA, sep = ",")

In [74]:
DATOS_BK = DATOS.copy()
DATOS_BK.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15

In [82]:
DATOS_BK = DATOS.copy()
DATOS_BK = DATOS_BK.dropna(axis = 0, how = "any")
DATOS_BK.head(40)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,1,240.0,113.0,0,Transient,82.00,1,1,Check-Out,13/10/15
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,2,185.0,281.0,0,Transient-Party,52.20,0,0,Check-Out,17/11/15
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,1,334.0,281.0,0,Transient-Party,48.00,0,0,Check-Out,6/11/15
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,2,328.0,281.0,0,Transient-Party,40.00,0,0,Check-Out,15/11/15
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,2,326.0,281.0,0,Transient-Party,48.00,0,0,Check-Out,16/11/15
2879,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,1,326.0,281.0,0,Transient,48.00,0,0,Check-Out,16/11/15
2880,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,2,334.0,281.0,0,Transient-Party,48.00,0,0,Check-Out,16/11/15
2881,Resort Hotel,0,24,2015,November,45,3,3,10,1,...,6,328.0,281.0,0,Transient,40.00,0,0,Check-Out,16/11/15
2882,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,1,326.0,281.0,0,Transient,48.00,0,0,Check-Out,16/11/15
2883,Resort Hotel,0,24,2015,November,45,3,3,10,1,...,2,334.0,281.0,0,Transient-Party,40.00,0,0,Check-Out,16/11/15
2884,Resort Hotel,0,24,2015,November,45,3,3,10,1,...,2,334.0,281.0,0,Transient-Party,40.00,0,0,Check-Out,16/11/15
2892,Resort Hotel,0,33,2015,November,45,4,2,9,1,...,3,185.0,281.0,0,Transient-Party,42.55,0,0,Check-Out,15/11/15
2898,Resort Hotel,0,34,2015,November,45,5,2,8,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2900,Resort Hotel,0,34,2015,November,45,5,2,8,2,...,2,185.0,281.0,0,Transient-Party,43.20,0,0,Check-Out,15/11/15
2912,Resort Hotel,0,27,2015,November,45,6,2,7,1,...,1,334.0,281.0,0,Transient-Party,40.00,0,0,Check-Out,15/11/15
2913,Resort Hotel,0,35,2015,November,45,6,4,7,1,...,2,185.0,281.0,0,Transient-Party,52.20,0,0,Check-Out,17/11/15
2914,Resort Hotel,0,35,2015,November,45,6,4,7,1,...,2,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,17/11/15
2915,Resort Hotel,0,35,2015,November,45,6,4,7,1,...,2,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,17/11/15
2916,Resort Hotel,0,35,2015,November,45,6,4,7,1,...,3,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,17/11/15
2917,Resort Hotel,0,27,2015,November,45,6,2,7,1,...,1,334.0,281.0,0,Transient-Party,40.00,0,0,Check-Out,15/11/15
2918,Resort Hotel,0,35,2015,November,45,6,2,7,1,...,2,185.0,281.0,0,Transient-Party,52.20,1,0,Check-Out,15/11/15
2938,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2941,Resort Hotel,1,36,2015,November,45,7,2,6,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Canceled,4/11/15
2942,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,2,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2945,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,2,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2946,Resort Hotel,0,28,2015,November,45,7,2,6,1,...,1,328.0,281.0,0,Transient-Party,42.00,0,0,Check-Out,15/11/15
2947,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,2,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2950,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2953,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2954,Resort Hotel,0,36,2015,November,45,7,2,6,1,...,2,185.0,281.0,0,Transient-Party,36.75,1,0,Check-Out,15/11/15
2964,Resort Hotel,0,17,2015,November,46,8,2,5,2,...,1,334.0,281.0,0,Transient-Party,48.00,0,0,Check-Out,15/11/15
2965,Resort Hotel,0,37,2015,November,46,8,2,5,2,...,2,185.0,281.0,0,Transient-Party,43.20,0,0,Check-Out,15/11/15
2966,Resort Hotel,0,37,2015,November,46,8,2,5,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2967,Resort Hotel,0,17,2015,November,46,8,2,5,2,...,1,334.0,281.0,0,Transient-Party,48.00,0,0,Check-Out,15/11/15
2969,Resort Hotel,0,37,2015,November,46,8,2,5,1,...,2,185.0,281.0,0,Transient-Party,36.00,0,0,Check-Out,15/11/15
2970,Resort Hotel,0,37,2015,November,46,8,2,5,2,...,1,185.0,281.0,0,Transient-Party,43.20,0,0,Check-Out,15/11/15
2971,Resort Hotel,1,37,2015,November,46,8,2,5,1,...,1,185.0,281.0,0,Transient-Party,36.00,0,0,Canceled,23/10/15
2979,Resort Hotel,0,0,2015,November,46,9,1,0,2,...,1,334.0,281.0,0,Group,48.00,0,0,Check-Out,10/11/15
2983,Resort Hotel,1,38,2015,November,46,9,1,5,1,...,3,185.0,281.0,0,Transient-Party,36.00,0,0,No-Show,9/11/15
2984,Resort Hotel,1,38,2015,November,46,9,1,5,1,...,3,185.0,281.0,0,Transient-Party,36.00,0,0,No-Show,9/11/15

In [83]:
DATOS_BK = DATOS.copy()
DATOS_BK = DATOS_BK.dropna(axis = 0, how = "all")
DATOS_BK.head(40)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,NaN,NaN,0,Transient,107.00,0,0,Check-Out,3/07/15
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,303.0,NaN,0,Transient,103.00,0,1,Check-Out,3/07/15
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,240.0,NaN,0,Transient,82.00,0,1,Canceled,6/05/15
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,15.0,NaN,0,Transient,105.50,0,0,Canceled,22/04/15
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,123.00,0,0,Canceled,23/06/15
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,145.00,0,0,Check-Out,5/07/15
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/07/15
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,1,241.0,NaN,0,Transient,154.77,0,1,Check-Out,5/07/15
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,241.0,NaN,0,Transient,94.71,0,0,Check-Out,5/07/15
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/07/15
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,8.0,NaN,0,Contract,97.50,0,0,Check-Out,5/07/15
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,0,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2/07/15
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,0,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2/07/15
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,0,250.0,NaN,0,Transient,153.00,0,1,Check-Out,5/07/15
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,0,241.0,NaN,0,Transient,97.29,0,1,Check-Out,6/07/15
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,250.0,NaN,0,Transient,84.67,0,1,Check-Out,7/07/15
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,250.0,NaN,0,Transient,84.67,0,1,Check-Out,7/07/15
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,250.0,NaN,0,Transient,99.67,0,1,Check-Out,7/07/15
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,0,115.0,NaN,0,Contract,94.95,0,1,Check-Out,1/07/15
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,0,5.0,NaN,0,Transient,63.60,1,0,Check-Out,8/07/15
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,0,8.0,NaN,0,Contract,79.50,0,0,Check-Out,8/07/15
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,0,240.0,NaN,0,Transient,107.00,0,2,Canceled,11/05/15
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,0,240.0,NaN,0,Transient,94.00,0,0,Check-Out,8/07/15
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,0,240.0,NaN,0,Transient,87.30,1,1,Check-Out,8/07/15
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,2,NaN,NaN,0,Transient,62.00,0,2,Check-Out,15/07/15
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,0,241.0,NaN,0,Transient,63.86,0,0,Check-Out,16/07/15
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,0,NaN,NaN,0,Transient,108.30,0,2,Canceled,29/05/15
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,0,175.0,NaN,0,Transient,65.50,0,0,Check-Out,8/07/15
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,1,Canceled,19/05/15
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,1,Canceled,19/06/15
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,...,0,240.0,NaN,0,Transient,98.00,0,0,Check-Out,6/07/15
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,1,Check-Out,6/07/15
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,0,Canceled,23/05/15
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,0,250.0,NaN,0,Transient,137.00,0,1,Check-Out,7/07/15

In [84]:
DATOS_BK = DATOS.copy()
DATOS_BK = DATOS_BK.dropna(axis = 1, how = "all")
DATOS_BK.head(40)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,NaN,NaN,0,Transient,107.00,0,0,Check-Out,3/07/15
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,303.0,NaN,0,Transient,103.00,0,1,Check-Out,3/07/15
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,240.0,NaN,0,Transient,82.00,0,1,Canceled,6/05/15
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,15.0,NaN,0,Transient,105.50,0,0,Canceled,22/04/15
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,123.00,0,0,Canceled,23/06/15
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,145.00,0,0,Check-Out,5/07/15
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/07/15
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,1,241.0,NaN,0,Transient,154.77,0,1,Check-Out,5/07/15
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,241.0,NaN,0,Transient,94.71,0,0,Check-Out,5/07/15
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/07/15
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,8.0,NaN,0,Contract,97.50,0,0,Check-Out,5/07/15
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,0,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2/07/15
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,0,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2/07/15
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,0,250.0,NaN,0,Transient,153.00,0,1,Check-Out,5/07/15
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,0,241.0,NaN,0,Transient,97.29,0,1,Check-Out,6/07/15
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,250.0,NaN,0,Transient,84.67,0,1,Check-Out,7/07/15
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,250.0,NaN,0,Transient,84.67,0,1,Check-Out,7/07/15
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,250.0,NaN,0,Transient,99.67,0,1,Check-Out,7/07/15
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,0,115.0,NaN,0,Contract,94.95,0,1,Check-Out,1/07/15
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,0,5.0,NaN,0,Transient,63.60,1,0,Check-Out,8/07/15
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,0,8.0,NaN,0,Contract,79.50,0,0,Check-Out,8/07/15
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,0,240.0,NaN,0,Transient,107.00,0,2,Canceled,11/05/15
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,0,240.0,NaN,0,Transient,94.00,0,0,Check-Out,8/07/15
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,0,240.0,NaN,0,Transient,87.30,1,1,Check-Out,8/07/15
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,2,NaN,NaN,0,Transient,62.00,0,2,Check-Out,15/07/15
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,0,241.0,NaN,0,Transient,63.86,0,0,Check-Out,16/07/15
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,0,NaN,NaN,0,Transient,108.30,0,2,Canceled,29/05/15
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,0,175.0,NaN,0,Transient,65.50,0,0,Check-Out,8/07/15
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,1,Canceled,19/05/15
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,1,Canceled,19/06/15
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,...,0,240.0,NaN,0,Transient,98.00,0,0,Check-Out,6/07/15
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,1,Check-Out,6/07/15
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,0,241.0,NaN,0,Transient,108.80,0,0,Canceled,23/05/15
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,0,250.0,NaN,0,Transient,137.00,0,1,Check-Out,7/07/15

In [85]:
DATOS_BK = DATOS.copy()
DATOS_BK = DATOS_BK.dropna(axis = 1, how = "any")
DATOS_BK.head(40)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,C,3,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,C,4,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,A,C,0,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,A,0,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,0,Transient,98.00,0,1,Check-Out,3/07/15
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,A,0,0,Transient,98.00,0,1,Check-Out,3/07/15
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,C,C,0,0,Transient,107.00,0,0,Check-Out,3/07/15
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,C,C,0,0,Transient,103.00,0,1,Check-Out,3/07/15
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,A,A,0,0,Transient,82.00,0,1,Canceled,6/05/15
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,D,D,0,0,Transient,105.50,0,0,Canceled,22/04/15
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,E,E,0,0,Transient,123.00,0,0,Canceled,23/06/15
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,D,D,0,0,Transient,145.00,0,0,Check-Out,5/07/15
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,D,E,0,0,Transient,97.00,0,3,Check-Out,5/07/15
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,G,G,1,0,Transient,154.77,0,1,Check-Out,5/07/15
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,E,E,0,0,Transient,94.71,0,0,Check-Out,5/07/15
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,D,E,0,0,Transient,97.00,0,3,Check-Out,5/07/15
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,E,E,0,0,Contract,97.50,0,0,Check-Out,5/07/15
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,A,E,0,0,Transient,88.20,0,0,Check-Out,2/07/15
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,A,G,0,0,Transient,107.42,0,0,Check-Out,2/07/15
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,G,G,0,0,Transient,153.00,0,1,Check-Out,5/07/15
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,F,F,0,0,Transient,97.29,0,1,Check-Out,6/07/15
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,A,A,1,0,Transient,84.67,0,1,Check-Out,7/07/15
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,A,A,1,0,Transient,84.67,0,1,Check-Out,7/07/15
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,D,D,1,0,Transient,99.67,0,1,Check-Out,7/07/15
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,D,I,0,0,Contract,94.95,0,1,Check-Out,1/07/15
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,D,D,0,0,Transient,63.60,1,0,Check-Out,8/07/15
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,D,D,0,0,Contract,79.50,0,0,Check-Out,8/07/15
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,E,E,0,0,Transient,107.00,0,2,Canceled,11/05/15
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,A,A,0,0,Transient,94.00,0,0,Check-Out,8/07/15
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,D,D,0,0,Transient,87.30,1,1,Check-Out,8/07/15
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,A,A,2,0,Transient,62.00,0,2,Check-Out,15/07/15
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,...,D,D,0,0,Transient,63.86,0,0,Check-Out,16/07/15
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,E,E,0,0,Transient,108.30,0,2,Canceled,29/05/15
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,...,A,C,0,0,Transient,65.50,0,0,Check-Out,8/07/15
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,...,D,D,0,0,Transient,108.80,0,1,Canceled,19/05/15
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,...,D,D,0,0,Transient,108.80,0,1,Canceled,19/06/15
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,...,A,C,0,0,Transient,98.00,0,0,Check-Out,6/07/15
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,...,D,D,0,0,Transient,108.80,0,1,Check-Out,6/07/15
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,...,D,D,0,0,Transient,108.80,0,0,Canceled,23/05/15
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,E,E,0,0,Transient,137.00,0,1,Check-Out,7/07/15

In [86]:
DATOS_BK = DATOS.copy()
DATOS_BK = DATOS_BK.dropna(axis = 0, how = "any")
DATOS_BK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,1,240.0,113.0,0,Transient,82.0,1,1,Check-Out,13/10/15
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,2,185.0,281.0,0,Transient-Party,52.2,0,0,Check-Out,17/11/15
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,1,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,6/11/15
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,2,328.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,15/11/15
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,2,326.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,16/11/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,0,9.0,478.0,0,Transient-Party,150.0,0,1,Check-Out,25/05/17
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,1,290.0,148.0,0,Transient,95.0,0,0,Check-Out,2/06/17
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,1,290.0,148.0,0,Transient,110.0,0,0,Check-Out,2/06/17
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,0,14.0,229.0,0,Transient,135.0,0,0,Check-Out,10/06/17
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,0,9.0,421.0,0,Transient,120.6,0,2,Check-Out,20/07/17

In [87]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\bookings\\hotel_bookings.csv"

In [88]:
BOOK = pd.read_csv(RUTA, sep = ",")
BOOK

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17

In [89]:
BOOK.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [92]:
LISTA = ['arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr']
LISTA_NUEVA = BOOK[LISTA].copy()
LISTA_NUEVA

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
0,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,3,NaN,NaN,0,Transient,0.00
1,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,4,NaN,NaN,0,Transient,0.00
2,27,1,0,1,1,0.0,0,BB,GBR,Direct,...,0,0,A,C,0,NaN,NaN,0,Transient,75.00
3,27,1,0,1,1,0.0,0,BB,GBR,Corporate,...,0,0,A,A,0,304.0,NaN,0,Transient,75.00
4,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119386,35,31,2,5,3,0.0,0,BB,FRA,Online TA,...,0,0,E,E,0,9.0,NaN,0,Transient,225.43
119387,35,31,2,5,2,0.0,0,BB,DEU,Online TA,...,0,0,D,D,0,9.0,NaN,0,Transient,157.71
119388,35,31,2,5,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,89.0,NaN,0,Transient,104.40
119389,35,29,2,7,2,0.0,0,HB,DEU,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,151.20

In [93]:
LISTA_NUEVA[20:100].copy()

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
21,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
22,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
23,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,D,D,1,250.0,NaN,0,Transient,99.67
24,27,1,2,5,2,0.0,0,HB,GBR,Offline TA/TO,...,0,0,D,I,0,115.0,NaN,0,Contract,94.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,73.80
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00
97,27,3,2,5,3,0.0,0,HB,ESP,Offline TA/TO,...,0,0,E,E,0,105.0,NaN,0,Transient,196.54
98,27,3,2,5,2,1.0,0,BB,PRT,Online TA,...,0,0,D,D,0,240.0,NaN,0,Transient,99.30
99,27,3,2,5,2,0.0,0,BB,DEU,Direct,...,0,0,E,E,0,250.0,NaN,0,Transient,90.95

#### UNA CONDICION

In [107]:
CONDICION = LISTA_NUEVA[20:100].copy()
CONDICION

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
21,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
22,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
23,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,D,D,1,250.0,NaN,0,Transient,99.67
24,27,1,2,5,2,0.0,0,HB,GBR,Offline TA/TO,...,0,0,D,I,0,115.0,NaN,0,Contract,94.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,73.80
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00
97,27,3,2,5,3,0.0,0,HB,ESP,Offline TA/TO,...,0,0,E,E,0,105.0,NaN,0,Transient,196.54
98,27,3,2,5,2,1.0,0,BB,PRT,Online TA,...,0,0,D,D,0,240.0,NaN,0,Transient,99.30
99,27,3,2,5,2,0.0,0,BB,DEU,Direct,...,0,0,E,E,0,250.0,NaN,0,Transient,90.95

In [108]:
CONDICION_1 = CONDICION[CONDICION["assigned_room_type"] == "F" ].copy()
CONDICION_1

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
42,27,2,2,3,2,0.0,0,BB,ESP,Direct,...,0,0,F,F,0,NaN,NaN,0,Transient,123.00
49,27,2,2,5,2,0.0,0,HB,IRL,Online TA,...,0,0,E,F,1,241.0,NaN,0,Transient,119.35
62,27,2,0,3,2,0.0,0,BB,ESP,Direct,...,0,0,F,F,0,250.0,NaN,0,Transient,133.00
86,27,3,4,10,2,0.0,0,BB,GBR,Online TA,...,0,0,F,F,1,241.0,NaN,0,Transient,92.45
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00

In [123]:
CONDICION_2 = CONDICION_1[(CONDICION_1["market_segment"] == "Online TA") &
                          (CONDICION_1["stays_in_week_nights"] < 10)]

CONDICION_2

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
49,27,2,2,5,2,0.0,0,HB,IRL,Online TA,...,0,0,E,F,1,241.0,NaN,0,Transient,119.35
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00

In [124]:
CONDICION_2

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
49,27,2,2,5,2,0.0,0,HB,IRL,Online TA,...,0,0,E,F,1,241.0,NaN,0,Transient,119.35
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00

In [125]:
CONDICION_1

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
42,27,2,2,3,2,0.0,0,BB,ESP,Direct,...,0,0,F,F,0,NaN,NaN,0,Transient,123.00
49,27,2,2,5,2,0.0,0,HB,IRL,Online TA,...,0,0,E,F,1,241.0,NaN,0,Transient,119.35
62,27,2,0,3,2,0.0,0,BB,ESP,Direct,...,0,0,F,F,0,250.0,NaN,0,Transient,133.00
86,27,3,4,10,2,0.0,0,BB,GBR,Online TA,...,0,0,F,F,1,241.0,NaN,0,Transient,92.45
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00

In [127]:
LISTA_NUEVA

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
0,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,3,NaN,NaN,0,Transient,0.00
1,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,4,NaN,NaN,0,Transient,0.00
2,27,1,0,1,1,0.0,0,BB,GBR,Direct,...,0,0,A,C,0,NaN,NaN,0,Transient,75.00
3,27,1,0,1,1,0.0,0,BB,GBR,Corporate,...,0,0,A,A,0,304.0,NaN,0,Transient,75.00
4,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119386,35,31,2,5,3,0.0,0,BB,FRA,Online TA,...,0,0,E,E,0,9.0,NaN,0,Transient,225.43
119387,35,31,2,5,2,0.0,0,BB,DEU,Online TA,...,0,0,D,D,0,9.0,NaN,0,Transient,157.71
119388,35,31,2,5,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,89.0,NaN,0,Transient,104.40
119389,35,29,2,7,2,0.0,0,HB,DEU,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,151.20

In [136]:
CONDICION[(CONDICION["arrival_date_week_number"] > 10) & (CONDICION["country"] != "BEL")]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
21,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
22,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
23,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,D,D,1,250.0,NaN,0,Transient,99.67
24,27,1,2,5,2,0.0,0,HB,GBR,Offline TA/TO,...,0,0,D,I,0,115.0,NaN,0,Contract,94.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,73.80
96,27,3,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,F,F,0,242.0,NaN,0,Transient,117.00
97,27,3,2,5,3,0.0,0,HB,ESP,Offline TA/TO,...,0,0,E,E,0,105.0,NaN,0,Transient,196.54
98,27,3,2,5,2,1.0,0,BB,PRT,Online TA,...,0,0,D,D,0,240.0,NaN,0,Transient,99.30
99,27,3,2,5,2,0.0,0,BB,DEU,Direct,...,0,0,E,E,0,250.0,NaN,0,Transient,90.95

In [147]:
CONDICION[(CONDICION["assigned_room_type"] == "A") & (CONDICION["agent"] < 250.0 )]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
28,27,1,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,94.00
44,27,2,2,5,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,110.70
46,27,2,2,5,2,0.0,0,BB,ESP,Offline TA/TO,...,0,0,A,A,0,134.0,NaN,0,Transient,58.95
51,27,2,3,8,2,0.0,0,BB,IRL,Offline TA/TO,...,0,0,A,A,0,156.0,NaN,0,Contract,56.01
64,27,2,0,3,2,0.0,0,HB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,136.33
68,27,3,0,2,3,0.0,0,BB,PRT,Offline TA/TO,...,0,0,A,A,0,242.0,NaN,0,Transient,110.30
69,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,82.00
71,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,73.80
72,27,3,0,2,2,0.0,0,HB,PRT,Offline TA/TO,...,0,0,A,A,0,3.0,NaN,0,Transient,91.50
73,27,3,0,2,2,0.0,0,BB,ESP,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,114.50
74,27,3,0,2,3,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,242.0,NaN,0,Transient,110.30
75,27,3,1,2,2,0.0,0,BB,ESP,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,90.90
77,27,3,2,2,1,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,122.00
78,27,3,2,2,2,0.0,0,BB,DEU,Offline TA/TO,...,0,0,A,A,0,105.0,NaN,0,Transient,110.70
80,27,3,2,7,2,0.0,0,BB,FRA,Offline TA/TO,...,0,0,A,A,0,40.0,NaN,0,Contract,58.95
81,27,3,3,7,2,0.0,0,BB,PRT,Offline TA/TO,...,0,0,A,A,0,40.0,NaN,0,Contract,55.68
82,27,3,3,7,2,0.0,0,BB,GBR,Offline TA/TO,...,0,0,A,A,0,40.0,NaN,0,Contract,55.68
87,27,3,6,15,2,1.0,0,BB,PRT,Offline TA/TO,...,0,0,A,A,0,242.0,NaN,0,Transient,108.73
93,27,3,0,1,2,0.0,0,BB,BEL,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,123.00
94,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,123.00
95,27,3,0,2,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,73.80

In [138]:
CONDICION.shape

(80, 22)

In [137]:
CONDICION.head(5)

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
20,27,1,1,4,1,0.0,0,BB,GBR,Online TA,...,0,0,F,F,0,241.0,NaN,0,Transient,97.29
21,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
22,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,A,A,1,250.0,NaN,0,Transient,84.67
23,27,1,2,4,2,0.0,0,BB,PRT,Direct,...,0,0,D,D,1,250.0,NaN,0,Transient,99.67
24,27,1,2,5,2,0.0,0,HB,GBR,Offline TA/TO,...,0,0,D,I,0,115.0,NaN,0,Contract,94.95

In [167]:
CONDICION[(CONDICION["agent"] == 250.0)  & (CONDICION["stays_in_weekend_nights"] != 2 )]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
62,27,2,0,3,2,0.0,0,BB,ESP,Direct,...,0,0,F,F,0,250.0,NaN,0,Transient,133.0
83,27,3,3,7,2,0.0,0,HB,PRT,Direct,...,0,0,A,A,2,250.0,NaN,0,Transient,124.0

In [171]:
LISTA_NUEVA[ (LISTA_NUEVA["reserved_room_type"] == "C")  &  (LISTA_NUEVA["arrival_date_week_number"] > 30 )
    
]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
716,31,26,2,5,2,2.0,0,HB,ESP,Direct,...,0,0,C,C,0,250.0,NaN,0,Transient,180.00
803,31,30,0,3,2,2.0,0,FB,ESP,Offline TA/TO,...,0,0,C,C,0,196.0,NaN,0,Transient,280.74
853,31,1,2,3,2,2.0,0,HB,PRT,Direct,...,0,0,C,C,1,250.0,NaN,0,Transient,237.00
856,31,1,2,5,2,2.0,0,BB,PRT,Direct,...,0,0,C,C,0,250.0,NaN,0,Transient,177.14
866,31,1,4,6,2,2.0,0,BB,PRT,Online TA,...,0,0,C,C,0,242.0,NaN,0,Transient,169.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82509,53,31,0,1,1,0.0,0,SC,PRT,Complementary,...,0,0,C,C,0,NaN,45.0,0,Transient,0.00
99431,42,10,1,2,2,0.0,0,BB,FRA,Offline TA/TO,...,0,0,C,A,1,234.0,NaN,0,Transient-Party,130.00
99432,42,13,0,2,2,0.0,0,BB,PRT,Offline TA/TO,...,0,0,C,A,1,234.0,NaN,0,Transient-Party,130.00
101137,45,1,1,5,2,0.0,0,BB,USA,Corporate,...,0,0,C,C,0,NaN,351.0,0,Transient,110.00
119278,35,28,1,3,1,0.0,0,HB,PRT,Groups,...,0,0,C,C,1,19.0,NaN,0,Transient-Party,104.00

In [172]:
LISTA_NUEVA.head(3)

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
0,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,3,NaN,NaN,0,Transient,0.0
1,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,4,NaN,NaN,0,Transient,0.0
2,27,1,0,1,1,0.0,0,BB,GBR,Direct,...,0,0,A,C,0,NaN,NaN,0,Transient,75.0

In [178]:
LISTA_NUEVA[LISTA_NUEVA["reserved_room_type"] == "A" ]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
2,27,1,0,1,1,0.0,0,BB,GBR,Direct,...,0,0,A,C,0,NaN,NaN,0,Transient,75.00
3,27,1,0,1,1,0.0,0,BB,GBR,Corporate,...,0,0,A,A,0,304.0,NaN,0,Transient,75.00
4,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
5,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
8,27,1,0,3,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,82.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119383,35,31,2,4,2,0.0,0,BB,DEU,Offline TA/TO,...,0,0,A,A,0,42.0,NaN,0,Transient,87.60
119384,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119385,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119388,35,31,2,5,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,89.0,NaN,0,Transient,104.40
119389,35,29,2,7,2,0.0,0,HB,DEU,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,151.20

In [183]:
LISTA_NUEVA[(LISTA_NUEVA["stays_in_weekend_nights"] > 2 ) & (LISTA_NUEVA["market_segment"] != "Direct" )
    
    
]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
31,27,1,4,11,2,0.0,0,BB,GBR,Offline TA/TO,...,0,0,D,D,0,241.0,NaN,0,Transient,63.86
51,27,2,3,8,2,0.0,0,BB,IRL,Offline TA/TO,...,0,0,A,A,0,156.0,NaN,0,Contract,56.01
52,27,2,4,10,2,0.0,0,BB,OMN,Offline TA/TO,...,0,0,D,D,0,243.0,NaN,0,Contract,110.70
81,27,3,3,7,2,0.0,0,BB,PRT,Offline TA/TO,...,0,0,A,A,0,40.0,NaN,0,Contract,55.68
82,27,3,3,7,2,0.0,0,BB,GBR,Offline TA/TO,...,0,0,A,A,0,40.0,NaN,0,Contract,55.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118613,32,11,4,8,2,1.0,0,BB,PRT,Online TA,...,0,0,A,A,1,159.0,NaN,0,Transient,39.67
118622,33,14,3,6,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,80.10
118673,33,13,4,7,2,1.0,0,BB,FRA,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,141.46
119083,33,17,4,8,2,0.0,0,BB,RUS,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,118.43
119260,34,20,4,8,2,0.0,0,BB,FRA,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,128.10

In [184]:
LISTA_NUEVA[(LISTA_NUEVA["stays_in_weekend_nights"] > 2 ) | (LISTA_NUEVA["market_segment"] != "Direct" )
    
    
]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
3,27,1,0,1,1,0.0,0,BB,GBR,Corporate,...,0,0,A,A,0,304.0,NaN,0,Transient,75.00
4,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
5,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
8,27,1,0,3,2,0.0,0,BB,PRT,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,82.00
9,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,...,0,0,D,D,0,15.0,NaN,0,Transient,105.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119386,35,31,2,5,3,0.0,0,BB,FRA,Online TA,...,0,0,E,E,0,9.0,NaN,0,Transient,225.43
119387,35,31,2,5,2,0.0,0,BB,DEU,Online TA,...,0,0,D,D,0,9.0,NaN,0,Transient,157.71
119388,35,31,2,5,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,89.0,NaN,0,Transient,104.40
119389,35,29,2,7,2,0.0,0,HB,DEU,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,151.20

In [185]:
LISTA_NUEVA

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
0,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,3,NaN,NaN,0,Transient,0.00
1,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,4,NaN,NaN,0,Transient,0.00
2,27,1,0,1,1,0.0,0,BB,GBR,Direct,...,0,0,A,C,0,NaN,NaN,0,Transient,75.00
3,27,1,0,1,1,0.0,0,BB,GBR,Corporate,...,0,0,A,A,0,304.0,NaN,0,Transient,75.00
4,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119386,35,31,2,5,3,0.0,0,BB,FRA,Online TA,...,0,0,E,E,0,9.0,NaN,0,Transient,225.43
119387,35,31,2,5,2,0.0,0,BB,DEU,Online TA,...,0,0,D,D,0,9.0,NaN,0,Transient,157.71
119388,35,31,2,5,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,89.0,NaN,0,Transient,104.40
119389,35,29,2,7,2,0.0,0,HB,DEU,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,151.20

In [208]:
PRUE_LOC = LISTA_NUEVA.loc[[100,50,300],["arrival_date_week_number","stays_in_weekend_nights"]].copy()
PRUE_LOC

     arrival_date_week_number  stays_in_weekend_nights
100                        27                        2
50                         27                        2
300                        28                        2

In [212]:
LISTA_NUEVA.loc[[900,1001,5000,15000,90000],["adults","stays_in_week_nights","market_segment"]].copy()

       adults  stays_in_week_nights market_segment
900         2                     4      Online TA
1001        2                     5      Online TA
5000        2                     5         Groups
15000       2                     3  Offline TA/TO
90000       2                     0      Online TA

In [215]:
LISTA_NUEVA.loc[[5000,6000,9000,12000,15000,100000],
["booking_changes","assigned_room_type","reserved_room_type"]]

        booking_changes assigned_room_type reserved_room_type
5000                  0                  D                  D
6000                  0                  E                  E
9000                  0                  E                  E
12000                 1                  A                  A
15000                 0                  A                  A
100000                0                  A                  A

In [223]:
LISTA_NUEVA.loc[[88000,70000,8000,90000,200,500,1000],["arrival_date_week_number","arrival_date_day_of_month",
                                                "stays_in_weekend_nights"]]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights
88000,18,25,1
70000,23,8,0
8000,37,7,0
90000,23,30,1
200,28,7,0
500,29,17,1
1000,33,9,2

In [221]:
LISTA_NUEVA.shape

(119390, 22)

In [224]:
LISTA_NUEVA

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr
0,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,3,NaN,NaN,0,Transient,0.00
1,27,1,0,0,2,0.0,0,BB,PRT,Direct,...,0,0,C,C,4,NaN,NaN,0,Transient,0.00
2,27,1,0,1,1,0.0,0,BB,GBR,Direct,...,0,0,A,C,0,NaN,NaN,0,Transient,75.00
3,27,1,0,1,1,0.0,0,BB,GBR,Corporate,...,0,0,A,A,0,304.0,NaN,0,Transient,75.00
4,27,1,0,2,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,240.0,NaN,0,Transient,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,...,0,0,A,A,0,394.0,NaN,0,Transient,96.14
119386,35,31,2,5,3,0.0,0,BB,FRA,Online TA,...,0,0,E,E,0,9.0,NaN,0,Transient,225.43
119387,35,31,2,5,2,0.0,0,BB,DEU,Online TA,...,0,0,D,D,0,9.0,NaN,0,Transient,157.71
119388,35,31,2,5,2,0.0,0,BB,GBR,Online TA,...,0,0,A,A,0,89.0,NaN,0,Transient,104.40
119389,35,29,2,7,2,0.0,0,HB,DEU,Online TA,...,0,0,A,A,0,9.0,NaN,0,Transient,151.20

In [225]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\bookings\\hotel_bookings.csv"

In [232]:
KING = pd.read_csv(RUTA, sep = ",")

In [249]:
KING_COP = KING.copy()

In [243]:
KING_COP.loc[[11,20,30,99000,99100],["hotel","is_canceled","lead_time","arrival_date_year",
                        "arrival_date_month"]].copy().reset_index()

,index,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month
0,11,Resort Hotel,0,35,2015,July
1,20,Resort Hotel,0,37,2015,July
2,30,Resort Hotel,0,118,2015,July
3,99000,City Hotel,0,32,2016,October
4,99100,City Hotel,0,41,2016,October

In [247]:
KING_COP["MAS_CINCO"] = (KING_COP["lead_time"] + 5 ).copy()
KING_COP.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,MAS_CINCO
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,347
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,742
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,12
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,18
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15,19

In [252]:
KING_COP = KING.copy()
KING_COP.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15

In [256]:
KING_COP["SUMA_19"] = (KING_COP["arrival_date_week_number"] + 19 ).copy()
KING_COP.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMA_19
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,46
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,46

In [257]:
KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMA_19
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,46
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,46
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,46
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,46
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,54
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,54
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,54
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,54
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,54

In [263]:
KING_COP = KING.copy()
KING_COP["suma_siete"] = (KING_COP["total_of_special_requests"] + 7 ).copy()

KING_COP["SUMA_DOCE"] = (KING_COP["arrival_date_week_number"] + 12 ).copy()

KING_COP["SUMA_4"] = (KING_COP["required_car_parking_spaces"] + 4 )
KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,suma_siete,SUMA_DOCE,SUMA_4
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,1/07/15,7,39,4
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,1/07/15,7,39,4
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2/07/15,7,39,4
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2/07/15,7,39,4
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,3/07/15,8,39,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,6/09/17,7,47,4
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,Transient,225.43,0,2,Check-Out,7/09/17,9,47,4
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,Transient,157.71,0,4,Check-Out,7/09/17,11,47,4
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,7/09/17,7,47,4
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,Transient,151.20,0,2,Check-Out,7/09/17,9,47,4

In [266]:
KING_COP = KING.copy()
KING_COP["RESTANDO_3"] = (KING_COP["adr"] - 3 ).copy()


KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,RESTANDO_3
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,-3.00
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,-3.00
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,72.00
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,72.00
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,95.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,93.14
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,222.43
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,154.71
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,101.40
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,148.20

In [269]:
KING_COP = KING.copy()
KING_COP["RESTANDO_18"] = (KING_COP["lead_time"] - 18 ).copy()
KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,RESTANDO_18
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,324
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,719
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,-11
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,-5
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,5
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,84
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,16
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,91
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,187

In [268]:
KING_COP.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,RESTANDO_3
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,-3.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,-3.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,72.0

In [273]:
KING_COP = KING.copy()
KING_COP["DIVIDE_10"] = (KING_COP["adr"] / 10 ).copy()
KING_COP.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,DIVIDE_10
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,7.5
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,7.5
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15,9.8

In [274]:
KING_COP = KING.copy()
KING_COP["DIV_3"] = (KING_COP["adults"] / 3 )
KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,DIV_3
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,0.666667
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,0.666667
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,0.333333
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,0.333333
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,0.666667
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,1.000000
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,0.666667
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,0.666667
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,0.666667

In [276]:
KING_COP.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [280]:
KING_COP = KING.copy()
KING_COP["SUMA_VARIAS"] = (KING_COP["adults"] + KING_COP["lead_time"] + 
KING_COP["stays_in_weekend_nights"]).copy()

KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMA_VARIAS
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,344
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,739
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,8
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,14
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,27
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,107
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,38
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,113
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,209

In [298]:
KING_COP = KING.copy()
KING_COP["SUMA_DE_COLUMNAS"] = (KING_COP["is_canceled"] + KING_COP["arrival_date_year"] + 
KING_COP["lead_time"] + KING_COP["arrival_date_day_of_month"] - KING_COP["adr"]).copy()

KING_COP

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMA_DE_COLUMNAS
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,2358.00
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,2753.00
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,1948.00
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,1954.00
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,1932.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,1973.86
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,1924.57
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,1924.29
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,2052.60
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,2099.80

In [305]:
KING_COP = KING.copy()

KING_COP["RESTA_SUMA"] = (KING_COP["lead_time"] + KING_COP["required_car_parking_spaces"] + KING_COP
["total_of_special_requests"] + KING_COP["adr"] + KING_COP["is_canceled"] - KING_COP["arrival_date_year"]
                         ).copy()

KING_COP.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,RESTA_SUMA
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,-1673.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,-1278.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,-1933.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15,-1927.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15,-1902.0

In [300]:
KING_COP.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMA_DE_COLUMNAS
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,2358.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15,2753.0

In [2]:
import pandas as pd

In [3]:
RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\bookings\\hotel_bookings.csv"

In [5]:
KINGS = pd.read_csv(RUTA, sep = ",")

In [7]:
KINGS.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/07/15

In [10]:
KING = KINGS.copy()
KING["SUMA_COLUMNAS"] = (KING["lead_time"] + KING["arrival_date_week_number"] + 
KING["arrival_date_day_of_month"] - KING["arrival_date_year"]).copy()

KING

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMA_COLUMNAS
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,-1645
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,-1250
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,-1980
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,-1974
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,-1973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,-1929
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,-1849
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,-1917
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,-1842
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,-1748

In [12]:
KING = KINGS.copy()

KING["SUMANDO_COLS"] = (KING["adr"] + KING["days_in_waiting_list"] + KING["booking_changes"] +
KING["adults"] + KING["stays_in_week_nights"] + KING["arrival_date_day_of_month"] - KING["lead_time"] * 
KING["is_canceled"]).copy()

KING

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMANDO_COLS
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,6.00
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,7.00
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,78.00
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,78.00
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,103.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,133.14
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,264.43
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,195.71
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,142.40
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,189.20

In [17]:
LISTA = list(range(KING.shape[0]))
KING["N1"] = LISTA
KING

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,SUMANDO_COLS,N1
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,6.00,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15,7.00,1
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,78.00,2
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15,78.00,3
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15,103.00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17,133.14,119385
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17,264.43,119386
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17,195.71,119387
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17,142.40,119388
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17,189.20,119389