#### ANALISIS DE DATASET

In [3]:
import pandas as pd

RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\TELECOM_CHURN_DATASET\\VISUALIZACION_CHURN_MODEL.csv"

In [4]:
DATASET = pd.read_csv(RUTA)

In [5]:
DATASET.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [6]:
DATASET.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,102.841079,436.157421,8.407796,180.948126,100.937031,30.761769,203.355322,100.476762,17.285262,199.685307,100.113943,8.985907,10.238381,4.527736,2.764948,1.563718
std,40.819480,41.783305,13.994480,55.508628,20.396790,9.436463,49.719268,18.948262,4.226160,49.759931,20.172505,2.239429,2.807850,2.482442,0.758167,1.333357
min,1.000000,408.000000,0.000000,25.900000,30.000000,4.400000,48.100000,37.000000,4.090000,23.200000,42.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,76.000000,408.000000,0.000000,146.250000,87.500000,24.860000,171.050000,88.000000,14.540000,167.950000,86.000000,7.560000,8.600000,3.000000,2.320000,1.000000
50%,102.000000,415.000000,0.000000,178.300000,101.000000,30.310000,203.700000,101.000000,17.310000,201.600000,100.000000,9.070000,10.500000,4.000000,2.840000,1.000000
75%,128.000000,415.000000,20.000000,220.700000,115.000000,37.520000,236.450000,113.000000,20.095000,231.500000,113.500000,10.420000,12.050000,6.000000,3.255000,2.000000
max,232.000000,510.000000,51.000000,334.300000,165.000000,56.830000,361.800000,168.000000,30.750000,367.700000,175.000000,16.550000,18.300000,18.000000,4.940000,8.000000

#### GENERAR UN SUBCONJUNTO DE COLUMNAS

In [25]:
DATASET_1_COL = DATASET[["State"]].copy()

DATASET_1_COL.head()
DATASET_1_COL.tail()

    State
662    WI
663    AL
664    VT
665    WV
666    CT

In [26]:
DATASET_MAS_COL = DATASET[["State","Area code","Account length"]].copy()

DATASET_2_COL.head()

DATASET_MAS_COL.head()
DATASET_MAS_COL.tail()

    State  Area code  Account length
662    WI        415             114
663    AL        408             106
664    VT        415              60
665    WV        415             159
666    CT        510             184

In [23]:
DATASET.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [36]:


LISTA = ['Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge']

DATASET_NUEVO = DATASET[LISTA].copy()
DATASET_NUEVO.head()

,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge
0,31.37,351.6,80,29.89,215.8,90,9.71
1,21.95,228.5,83,19.42,208.8,111,9.40
2,56.59,317.8,97,27.01,160.6,128,7.23
3,18.77,137.3,102,11.67,189.6,105,8.53
4,20.28,215.1,109,18.28,178.7,90,8.04

### SUBCONJUNTO DE FILAS MEDIANTE SLICING

In [37]:
#FILAS TOTALES 
DATASET_FILTRADO = DATASET[1000:2000].copy
DATASET_FILTRADO = DATASET.copy()
DATASET_FILTRADO.head

<bound method NDFrame.head of     State  Account length  Area code International plan Voice mail plan  \
0      LA             117        408                 No              No
1      IN              65        415                 No              No
2      NY             161        415                 No              No
3      SC             111        415                 No              No
4      HI              49        510                 No              No
..    ...             ...        ...                ...             ...
662    WI             114        415                 No             Yes
663    AL             106        408                 No             Yes
664    VT              60        415                 No              No
665    WV             159        415                 No              No
666    CT             184        510                Yes              No

     Number vmail messages  Total day minutes  Total day calls  \
0                        0              184.5               97
1                        0              129.1              137
2                        0              332.9               67
3                        0              110.4              103
4                        0              119.3              117
..                     ...                ...              ...
662                     26              137.1               88
663                     29               83.6              131
664                      0              193.9              118
665                      0              169.8              114
666                      0              213.8              105

     Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0               31.37              351.6               80             29.89
1               21.95              228.5               83             19.42
2               56.59              317.8               97             27.01
3               18.77              137.3              102             11.67
4               20.28              215.1              109             18.28
..                ...                ...              ...               ...
662             23.31              155.7              125             13.23
663             14.21              203.9              131             17.33
664             32.96               85.0              110              7.23
665             28.87              197.7              105             16.80
666             36.35              159.6               84             13.57

     Total night minutes  Total night calls  Total night charge  \
0                  215.8                 90                9.71
1                  208.8                111                9.40
2                  160.6                128                7.23
3                  189.6                105                8.53
4                  178.7                 90                8.04
..                   ...                ...                 ...
662                247.6                 94               11.14
663                229.5                 73               10.33
664                210.1                134                9.45
665                193.7                 82                8.72
666                139.2                137                6.26

     Total intl minutes  Total intl calls  Total intl charge  \
0                   8.7                 4               2.35
1                  12.7                 6               3.43
2                   5.4                 9               1.46
3                   7.7                 6               2.08
4                  11.1                 1               3.00
..                  ...               ...                ...
662                11.5                 7               3.11
663                 8.1                 3               2.19
664                13.2                 8               3.56
665                11.6                 4               3.13
666                 5.0                10               1.35

     Customer service calls  Churn
0                         1  False
1                         4   True
2                         4   True
3                         2  False
4                         1  False
..                      ...    ...
662                       2  False
663                       1  False
664                       3  False
665                       1  False
666                       2  False

[667 rows x 20 columns]>

### SUBCONJUNTO DE FILAS MEDIANTE CONDICIONES

In [39]:
#1 CONDICION 

DATASET_COND = DATASET[DATASET["State"] == "KS"].copy()
DATASET_COND

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
128,KS,121,408,No,No,0,150.7,105,25.62,197.3,133,16.77,169.0,116,7.61,9.2,15,2.48,1,False
141,KS,116,510,No,No,0,189.5,90,32.22,189.8,118,16.13,205.8,83,9.26,13.1,2,3.54,1,False
147,KS,88,415,No,No,0,189.8,111,32.27,197.3,101,16.77,234.5,111,10.55,14.9,3,4.02,2,False
220,KS,67,408,No,No,0,201.4,101,34.24,97.6,122,8.30,202.5,119,9.11,7.0,3,1.89,0,False
240,KS,159,415,No,Yes,19,184.1,78,31.30,194.5,71,16.53,225.6,101,10.15,16.9,3,4.56,0,False
247,KS,128,415,No,No,0,103.3,122,17.56,245.9,123,20.90,161.1,95,7.25,6.4,7,1.73,0,False
327,KS,105,415,Yes,No,0,273.9,119,46.56,278.6,103,23.68,255.3,90,11.49,10.9,7,2.94,1,True
365,KS,120,510,No,No,0,158.0,110,26.86,197.0,103,16.75,154.9,132,6.97,10.0,5,2.70,1,False
381,KS,138,510,No,Yes,26,183.9,83,31.26,240.7,93,20.46,185.7,125,8.36,15.0,3,4.05,1,False
407,KS,74,415,No,Yes,32,174.6,107,29.68,310.6,115,26.40,234.7,92,10.56,9.0,4,2.43,1,False
420,KS,94,408,No,No,0,269.2,104,45.76,193.8,144,16.47,257.6,61,11.59,8.9,2,2.40,3,True
533,KS,186,510,No,No,0,137.8,97,23.43,187.7,118,15.95,146.4,85,6.59,8.7,6,2.35,1,False
543,KS,166,415,Yes,Yes,28,175.8,126,29.89,253.6,76,21.56,128.5,72,5.78,11.4,5,3.08,1,False
568,KS,65,415,No,Yes,34,208.8,119,35.50,142.1,106,12.08,214.6,87,9.66,12.5,4,3.38,4,False
648,KS,101,415,No,No,0,231.3,87,39.32,224.7,88,19.10,214.6,69,9.66,7.2,7,1.94,1,False
649,KS,127,415,No,Yes,24,154.8,69,26.32,177.2,105,15.06,207.6,102,9.34,9.0,4,2.43,1,False
658,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False

In [42]:
#2 CONDICION
DATASET_COND = DATASET[(DATASET["State"] == "KS") | (DATASET["Total day charge"] > 40)].copy()
DATASET_COND

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
16,ID,77,415,No,No,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,True
19,MI,36,510,No,Yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,False
22,ID,97,408,No,No,0,239.8,125,40.77,214.8,111,18.26,143.3,81,6.45,8.7,5,2.35,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,MD,133,510,No,No,0,295.0,141,50.15,223.6,101,19.01,229.4,109,10.32,12.9,4,3.48,2,True
655,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
656,AK,99,510,No,No,0,238.4,96,40.53,246.5,130,20.95,198.4,117,8.93,12.4,4,3.35,3,False
658,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False
661,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True

In [44]:
#2 CONDICION  amperson
DATASET_COND = DATASET[(DATASET["State"] == "KS") & (DATASET["Total day charge"] > 40)].copy()
DATASET_COND

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
327,KS,105,415,Yes,No,0,273.9,119,46.56,278.6,103,23.68,255.3,90,11.49,10.9,7,2.94,1,True
420,KS,94,408,No,No,0,269.2,104,45.76,193.8,144,16.47,257.6,61,11.59,8.9,2,2.40,3,True

#### GENERACION DE UNA NUEVA COLUMNA

In [ ]:
# CALCULO SIMPLE

### VARIABLE FICTICIA O DAMMY

In [51]:
COLUMNAS_DUMMY = list(DATASET.select_dtypes(include=["object","bool"]))

COLUMNAS_DUMMY

['State', 'International plan', 'Voice mail plan', 'Churn']

In [53]:
DATASET_DUMMY = pd.get_dummies(DATASET["State"], prefix = "STATE")

DATASET_DUMMY

,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,STATE_CA,STATE_CO,STATE_CT,STATE_DC,STATE_DE,STATE_FL,...,STATE_SD,STATE_TN,STATE_TX,STATE_UT,STATE_VA,STATE_VT,STATE_WA,STATE_WI,STATE_WV,STATE_WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
663,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
664,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
666,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
DATASET_DUMMY_VMP = pd.get_dummies(DATASET["Voice mail plan"], prefix = "VMP")
DATASET_DUMMY_VMP

     VMP_No  VMP_Yes
0         1        0
1         1        0
2         1        0
3         1        0
4         1        0
..      ...      ...
662       0        1
663       0        1
664       1        0
665       1        0
666       1        0

[667 rows x 2 columns]

### concatena dos dataset

In [61]:
DATASET = pd.concat([DATASET, DATASET_DUMMY_CHURN], axis = 1)
DATASET = DATASET.drop(["Churn"], axis = 1)
DATASET

NameError: name 'DATASET_DUMMY_CHURN' is not defined

### cambiar nombre de columna

* donde df es el nombre del dataset

In [ ]:
#df.columns = [" "," "," "," "]

# para accede a las columnas se coloca el nuevo nombre
#   df["xxxx"]

#### suma de toda columna

In [ ]:
#df[" nombre_columna a media "].mean()

In [62]:
#df[" xxx "].sum()

#df[" xxxx "].min()

#df["xxxx"].max()

NameError: name 'df' is not defined

#### la traspuesta de una matriz ("d "es la dataset)

In [ ]:
## pd.DatraFrame(d).T
# pd

## llamar una columa y trabajar con ella (df = nombre dataset)

In [ ]:
#df.xxx.mean()
#df["xxxx"]

#### producto de matrices

In [63]:
a = np.array([[5, 2], [4, 8], float])
b = np.array([[2, 4], [6, 4], float])

print(a, "\n--------")
print(b, "\n ------")

NameError: name 'np' is not defined

In [ ]:
## multiplicacion de matrices np.dot(a,b)

In [ ]:
## otra forma de multiplicar matrices a @ b

a= np.array([[0, 1 ,4], [5, 2, 3], [1, 4, 8]], float)
b= np.array([2, 3, 5], float)

print(b,"\n -----")
print(a,"\n -----")

In [ ]:
multiplicamos con np.dot(a,b)  o  a @ b

otra forma print(np.matmul(a,b))